div.container1{
    padding: 5px;
    margin-top: 50px;
    margin-left:auto;
    margin-right: auto;
    width:98%;
    box-shadow: 1px 1px 15px -1px ;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
      
  }
mat-grid-tile{
    width: 98px;
    margin:auto;
}
mat-form-field{
    margin-left: 1%;
}

.col{
    float:left;
    width: 30%;
    padding:1%;
  
}

.row2{
    width:100%;
    align-items: center;
    clear:both;
    padding-left: 2px;
    padding-right: 2px;
}

.card1{
    margin-left: 1%;
    display:inline-block;
    width:70%;
    margin-bottom: 1%;

}
.mat-raised-button{
    margin-bottom: 15px;
}
.mat-divider {
    display: block;
    margin: 0;
    border-top-width: 1px;
    border-top-style: solid;
    margin-bottom: 15px;
 }

 





//CSS for LIST
.flexContainer{
    display:flexbox;
}
.listSpan {
    position:relative;
    float:1;
}
.headerRow {
    background-color: rgb(50, 130, 205);
    position:relative;
}

.mat-list >  .mat-list-item:nth-child(2n+1){

    background-color:white;
  }
  .mat-list >  .mat-list-item:nth-child(2n){

    background-color:rgb(230, 228, 228);
  }

  .mat-list > .mat-list-item{
    border: 1px solid black;
    justify-content: center;

  }


  .idCol{
    width:60px;
    min-width: 60px;

    text-align: left;

  }
  .descCol{
    width:300x;
    min-width: 300px;
    text-align: left;
    margin-left: 5%;
  }
  .nameCol{
    width:200px;
    min-width: 200px;

    text-align: left;
    margin-left: 3%;
  } 
   .phoneCol{
    width:200px;
    min-width: 200px;

    text-align: left;
    margin-left: 5%;
  }
  .addressCol{
    min-width: 400px;

    width:400px;
    text-align: left;
    margin-left: 5%;

  }