<!--
     <span style="position: absolute; right: 0;">
        <button mat-icon-button>
          <mat-icon
            (click)="update(CIcompanyinformation.value, CIdescription.value, CIname.value, CIDBA.value, CIphone.value, CIwebsite.value, CIaddress.value, CIprimaryPoC.value, CISBAcertified.value, CIbusinessType.value, CItechnicalPOCinformation.value, CIDUNSnum.value, CIcagecode.value, CIcmmcAuditAgency.value, CIcmmcAuditorInfo.value, CIcmmcAuditDate.value, CIcmmcNISTauditAgency.value, CINISTauditorInfo.value, CINISTauditorDate.value, CInumber.value, company.idCompanyInfo)"
            color="primary"
          >
            edit
          </mat-icon>
        </button>

    
        <button mat-icon-button>
          <mat-icon (click)="delete(company.idCompanyInfo)" color="warn">
            delete
          </mat-icon>
        </button>
      </span> 
    </mat-list-item>
  </mat-list>









-->










  <div class="doNotPrint">
<!-- [(selectedIndex)]= viewIndex  to set a defualt value-->
    <mat-tab-group animationDuration="50ms" [(selectedIndex)]= viewIndex (selectedTabChange)="tabSwitched($event)">
  
      <mat-tab label="All Companies" >
  
        <div style="display:flex;  margin:1%; overflow-y: hidden;">
          <ng-container id="wrap" *ngFor="let y of YCountforHTML; let i = index">
           <div class="column" [ngStyle]="i==0?{'margin-left': '0%'} : {'margin-left': '3%'}">
              <ng-container *ngFor="let company of y; let j = index">
                <div style="width:50vh; height:40vh; overflow-y: hidden;">

                  <!--Here the image is getting like... http://localhost:4200/image.jpg-->
                  <!--instead of the backends address                   -->
                  <!--maybe try a full address <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com"> -->

                  <div class="card">
                    <div class="imageWrapper"> 
                      <img id="image{{i}}{{j}}" src="{{imageOrganizer[company.imageUrl]}}" style="margin-top:4%; margin-left:1%; opacity: .5; max-width:80%;" >

                    </div>
                          <div >
                            <mat-icon (click)="loadCompanyToEdit(company)">remove_red_eye</mat-icon><span style="vertical-align: middle; margin-left:26%; font-size: large; ">{{company.CIname}}</span>  <mat-icon style="vertical-align: middle;float:right">close</mat-icon>
                          </div>

                          <div style="display:flex; margin-top:82%; vertical-align: middle;">
                      
                            <span style="vertical-align: middle; margin-right: auto;">{{company.CIphone}}</span>
                            <br>
                            <span style="vertical-align: middle; ">{{company.CIwebsite }}</span>
                          </div>

                  </div>
                </div>
  
              </ng-container>
            </div>
  
          </ng-container>
        </div>
  
      </mat-tab>
        
      <mat-tab label="Edit Existing Company" style="height:95vh ">
        <button (click)="update(CIcompanyinformation.value, CIdescription.value, CIname.value, CIDBA.value, CIphone.value, CIwebsite.value, CIaddress.value, CIprimaryPoC.value, CISBAcertified.value, CIbusinessType.value, CItechnicalPOCinformation.value, CIDUNSnum.value, CIcagecode.value, CIcmmcAuditAgency.value, CIcmmcAuditorInfo.value, CIcmmcAuditDate.value, CIcmmcNISTauditAgency.value, CINISTauditorInfo.value, CINISTauditorDate.value, loadedCompany.idCompanyInfo)"  style="float:right;   position: -webkit-sticky; position: sticky; top:0;">Save Changes</button>

        <div style="margin:1%; ">
          <form [formGroup]="companyForm" >
            <mat-form-field id="companySearch">
              <mat-label>Placeholder</mat-label>
              <input type="text"
                     matInput
                     formControlName='CompanyFilterList'
                     required
                     [matAutocomplete]="autoGroup">
                <mat-autocomplete #autoGroup="matAutocomplete">
                  <mat-optgroup *ngFor="let entry of allCompanies " >
                    <mat-option  [value]="entry.CIname" (click)="loadCompany(entry)">{{entry.CIname}}</mat-option>
                </mat-optgroup>
              </mat-autocomplete>
            </mat-form-field>


          </form>



        </div>


        



        <div class="wrapper" id="wrapper" style="display:flex">
          <div class="leftdiv">
            <h1>Current Company Information</h1>
            <div class="dataDiv2">
              <span class="spanLeft">Company Information: </span>{{loadedCompany.CIcompanyinformation}}

              <span class="spanLeft" style="margin-left:15%;"> Description: </span> {{loadedCompany.CIdescription }}

            </div >

            <div class="dataDiv2">
              <span class="spanLeft"> Name : {{loadedCompany.CIname}} </span>


              <span class="spanLeft" style="margin-left:15%;"> Logo : <img src="{{imageOrganizer[loadedCompany.imageUrl]}}" style="opacity: 1; max-width:80%;;  width:10%;" > </span>

            </div>

            <div class="dataDiv2">
              <span class="spanLeft"> CIDBA: {{loadedCompany.CIDBA}}  </span>

              <span class="spanLeft" style="margin-left:15%;"> Phone: {{loadedCompany.CIphone}} </span>
            </div>

            <div class="dataDiv2">
              <span class="spanLeft">  Website: {{loadedCompany.CIwebsite}} </span>

              <span class="spanLeft" style="margin-left:15%;"> Address: {{loadedCompany.CIaddress}} </span>
            </div>

            <div class="dataDiv2">
              <span class="spanLeft"> Primary PoC : {{loadedCompany.CIprimaryPoC}}</span>

              <span class="spanLeft" style="margin-left:15%;"> CISBA Certified : {{loadedCompany.CISBAcertified}} </span>
            </div>

            <div class="dataDiv2">
              <span class="spanLeft"> Business Type : {{loadedCompany.CIbusinessType}} </span>

              <span class="spanLeft" style="margin-left:15%;"> Technical PoC Information: {{loadedCompany.CItechnicalPOCinformation}} </span>

              
            </div>

            <div class="dataDiv2">
              <span class="spanLeft">  DUNS Number: {{loadedCompany.CIDUNSnum}} </span>
              <span class="spanLeft" style="margin-left:15%;"> CAGE Code: {{loadedCompany.CIcagecode}} </span>

              
            </div>

            <div class="dataDiv2">
              <span class="spanLeft"> CMMC Audit Agency: {{loadedCompany.CIcmmcAuditAgency}} </span>
              <span class="spanLeft" style="margin-left:15%;"> CMMC Auditor Info: {{loadedCompany.CIcmmcAuditorInfo}} </span>


            </div>

            <div class="dataDiv2">
              <span class="spanLeft">  CMMC Audit Date: {{loadedCompany.CIcmmcAuditDate}} </span>

              <span class="spanLeft" style="margin-left:15%;"> NIST Audit Agency: {{loadedCompany.CIcmmcNISTauditAgency}} </span>



            </div>

            <div class="dataDiv2">
              <span class="spanLeft"> NIST Auditor Info: {{loadedCompany.CINISTauditorInfo}} </span>

              <span class="spanLeft" style="margin-left:15%;">  NIST Audit Date: {{loadedCompany.CINISTauditorDate}} </span>

            </div>

          </div> 

          <div class="rightdiv">
            <h1>New Company Information</h1>
            <div class="dataDiv">
              <span class="spanRight">Company Information:</span>  <input id="CIcompanyinformation" #CIcompanyinformation>
            

              <span class="spanRight"  style="margin-left: 15%;"> Description: </span><input id="CIdescription" #CIdescription> 

        </div>
            <div class="dataDiv">
              <span class="spanRight"> Name :</span> <input id="CIname" #CIname>

              <span class="spanRight" style="margin-left:15%;">  CIDBA:</span>  <input id="CIDBA" #CIDBA>
            
            </div>
            <div class="dataDiv">
              <span class="spanRight">  Phone: </span> <input id="CIphone" #CIphone>

              <span class="spanRight" style="margin-left:15%;"> Website:</span> <input id="CIwebsite" #CIwebsite> 
            </div>
            
            <div class="dataDiv">
              <span class="spanRight"> Address: </span> <input id="CIaddress" #CIaddress>

              <span class="spanRight" style="margin-left:15%;"> Primary PoC :</span> <input id="CIprimaryPoC" #CIprimaryPoC>
            </div>

          
            <div class="dataDiv">
              <span class="spanRight">CISBA Certified : </span> <input id="CISBAcertified" #CISBAcertified>

              <span class="spanRight" style="margin-left:15%;"> Business Type :</span> <input id="CIbusinessType" #CIbusinessType> 
            </div>
            <div class="dataDiv">
              <span class="spanRight"> Technical PoC Information: </span> <input id="CItechnicalPOCinformation" #CItechnicalPOCinformation>

              <span class="spanRight" style="margin-left:15%;"> DUNS Number: </span><input id="CIDUNSnum" #CIDUNSnum>
            </div>
            <div class="dataDiv">
              <span class="spanRight"> CAGE Code: </span> <input id="CIcagecode" #CIcagecode>

              <span class="spanRight" style="margin-left:15%;">CMMC Audit Agency: </span><input id="CIcmmcAuditAgency" #CIcmmcAuditAgency>
            </div>

            <div class="dataDiv">
              <span class="spanRight"> CMMC Auditor Info: </span> <input id="CIcmmcAuditorInfo" #CIcmmcAuditorInfo>

              <span class="spanRight" style="margin-left:15%;">CMMC Audit Date:</span> <input id="CIcmmcAuditDate" #CIcmmcAuditDate>

            </div>
            <div class="dataDiv">
              <span class="spanRight">NIST Audit Agency:</span> <input id="CIcmmcNISTauditAgency" #CIcmmcNISTauditAgency>


              <span class="spanRight" style="margin-left:15%;">NIST Auditor Info:</span> <input id ="CINISTauditorInfo" #CINISTauditorInfo>

            </div>
            <div class="dataDiv">
              <span class="spanRight">NIST Audit Date:</span> <input id="CINISTauditorDate" #CINISTauditorDate>

            </div>
          </div>

  

        </div>
        </mat-tab>
  
  
        <mat-tab label="Add Company" >
          <div class="container1">
            <h2>
                Company Info
            </h2>
    
            <mat-divider style="padding-top: 3px; padding-bottom: 3px;"></mat-divider>
                    <div class = "row">
                        <div class ="col">
                            <h1>Info</h1>
                            <mat-form-field appearance = "legacy" style="width:80%">
                                <input #CIcompanyinformation2 id="companyinformation" matInput placeholder = "Company Information" style="padding-left: 2px;">
                            </mat-form-field>
                            <mat-form-field appearance = "legacy" style="width:40%">
                                <input #CIname2 id="name" matInput placeholder = "Company Name">
                            </mat-form-field>
    
                            <mat-form-field appearance = "legacy" style="width:40%">
                                <input #CIphone2 id="phone" matInput placeholder = "Phone">
                            </mat-form-field>
    
                            <mat-form-field appearance = "legacy" style="width:80%">
                                <input #CIDBA2 id="dba" matInput placeholder = "DBA">
                            </mat-form-field>
    
                            <mat-form-field appearance = "legacy" style="width:80%">
                                <input #CIwebsite2 id="website" matInput placeholder = "Website">
                            </mat-form-field>
    


                            <h1 style="margin-left: 1%;">Address</h1>
    
                            <mat-form-field appearance = "legacy" style="width:40%">
                                <input #CIaddress2 id="address" matInput placeholder = "Address Line 1">
                            </mat-form-field>
    
                            <mat-form-field appearance = "legacy" style="width:40%">
                                <input matInput placeholder = "Address Line 1">
                            </mat-form-field>
    
                            <mat-form-field appearance = "legacy" style="width:40%">
                                <input matInput placeholder = "City">
                            </mat-form-field>
    
                            <mat-form-field appearance = "legacy" style="width:40%">
                                <input matInput placeholder = "State">
                            </mat-form-field>
                 <mat-form-field appearance = "legacy" style="width:40%">
                                <input matInput placeholder = "Zip Code">
                            </mat-form-field>
    
                            <mat-form-field appearance = "legacy" style="width:40%">
                                <input matInput placeholder = "Country">
                            </mat-form-field>
                            <div class="fileInput" style="margin-left: 1%;">
                                <input #files2 class="ng-hide" id="files" multiple type="file" />
                                <label for="input-file-id" class="md-button md-raised md-primary"> Upload Image</label>
                            </div>
                        </div>
    
                        <div class ="col">
       


                            <mat-form-field appearance="outline" color="primary" style="width: 80%;" >
                              <mat-label >Primary Point of Contact</mat-label>
                              <mat-select #CIprimaryPoC2 id="Input" >
                                  <div *ngFor="let user of Users$ | async">
                                      <mat-option value={{user.Ufname}} >
                                          {{user.Ufname}}
                                      </mat-option>
                                  </div>
                              </mat-select>
                            </mat-form-field> 





                            <mat-form-field appearance = "legacy" style="width:80%">
                                <input #CIdescription2 matInput placeholder = "Description">
                            </mat-form-field>
     


                            <mat-form-field appearance="outline" color="primary" style="width: 40%;" >
                              <mat-label >SBA Certified</mat-label>
                              <mat-select #CISBAcertified2  id="Input">
                
                                  <mat-option value="Yes" >
                                      Yes 
                                  </mat-option>
                      
                                  <mat-option value="No" >
                                      No
                                  </mat-option>     

                              </mat-select>
                            </mat-form-field>



                            <mat-form-field appearance="outline" color="primary" style="width: 40%;" >
                              <mat-label >Business Type</mat-label>
                              <mat-select #CIbusinessType2  id="Input">
                              <mat-option value="WOSB" >
                                  WOSB 
                              </mat-option>
                  
                              <mat-option value="VOSB" >
                                  VOSB
                              </mat-option>     
                              <mat-option value="SDVOSB" >
                                SDVOSB
                              </mat-option> 
                                <mat-option value="SDWOSB" >
                                  SDWOSB
                              </mat-option> 
                                <mat-option value="Minority Owned" >
                                  Minority Owned
                              </mat-option> 

                              </mat-select>
                            </mat-form-field>
 
                            <h3 style="margin-top: 10px;">Technical POC Info</h3>
                            <textarea #CItechnicalPOCinformation2 id="techPOC" style="text-align: left; margin-bottom: 20px;" rows="4" cols="55"></textarea>
            
                            <mat-form-field appearance = "legacy" style="width:40%">
                                <input #CIDUNSnum2 id="duns" matInput placeholder = "DUNS Number">
                            </mat-form-field>
                            <mat-form-field appearance = "legacy" style="width:40%; margin-bottom: 10px;">
                                <input #CIcagecode2 id="cage" matInput placeholder = "CAGE Code">
                            </mat-form-field>
                        </div>
    
                        <div class ="col">
                            <h1 style="margin-left: 1%;">Audit Information</h1>
                            <mat-form-field appearance = "legacy" style="width:80%;">
                                <input #CIcmmcAuditAgency2 id="cmmcAgency" matInput placeholder = "CMMC Audit Agency" >
                            </mat-form-field>
                            <mat-form-field appearance = "legacy" style="width:80%;">
                                <input #CIcmmcAuditorInfo2 id= "cmmcInfo" matInput placeholder = "CMMC Auditor Information">
                            </mat-form-field>



                            <mat-form-field style="width: 80%;background: transparent;" appearance="fill" class="datepicker datepicker5" id="datepicker5">
                                <mat-label >CMMC Auditor Date</mat-label>
                                <input 
                                #CIcmmcAuditDate2 
                                matInput 
                                [matDatepicker]="datepicker5"
                                />
                                <mat-datepicker-toggle matSuffix [for]="datepicker5"></mat-datepicker-toggle>
                                <mat-datepicker #datepicker5>
                                <mat-datepicker-actions>
                                    <button mat-button matDatepickerCancel>Cancel</button>
                                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                                </mat-datepicker-actions>
                                </mat-datepicker>
                            </mat-form-field>


         
                            <mat-form-field appearance = "legacy" style="width:80%;">
                                <input #CIcmmcNISTauditAgency2 id="nistAgency" matInput placeholder = "NIST Audit Agency"> 
                            </mat-form-field>
                            <mat-form-field appearance = "legacy" style="width:80%;">
                                <input #CINISTauditorInfo2 id="nistInfo" matInput placeholder = "NIST Audit Auditor Information">
                            </mat-form-field>




                            <mat-form-field style="width: 80%;background: transparent;" appearance="fill" class="datepicker datepicker2" id="datepicker2">
                              <mat-label >NIST Audit Date</mat-label>
                              <input 
                              #CINISTauditorDate2 
                              matInput 
                              [matDatepicker]="datepicker2"
  
                              />
                              <mat-datepicker-toggle matSuffix [for]="datepicker2"></mat-datepicker-toggle>
                              <mat-datepicker #datepicker2>
                              <mat-datepicker-actions>
                                  <button mat-button matDatepickerCancel>Cancel</button>
                                  <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                              </mat-datepicker-actions>
                              </mat-datepicker>
                          </mat-form-field>




                            <mat-form-field appearance = "legacy" style="width:80%;">
                                <input #CInumber2 id="num" matInput placeholder = "Number">
                            </mat-form-field>
    
                    
                        </div>
    
    
                    </div>
                    
        
                <div class = "row2">
                    <mat-divider style="padding-top: 3px; padding-bottom: 3px;"></mat-divider>
    
                    <button mat-raised-button (click) = "post(CIcompanyinformation2.value, CIdescription2.value, CIname2.value, CIDBA2.value, CIphone2.value, CIwebsite2.value, CIaddress2.value, CIprimaryPoC2.value, CISBAcertified2.value, CIbusinessType2.value, CItechnicalPOCinformation2.value, CIDUNSnum2.value, CIcagecode2.value, CIcmmcAuditAgency2.value, CIcmmcAuditorInfo2.value, CIcmmcAuditDate2.value, CIcmmcNISTauditAgency2.value, CINISTauditorInfo2.value, CINISTauditorDate2.value, CInumber2.value)"   style="margin-left: 30%;width:30vw;height: 4vh;" type ="Submit" color="primary"  >Submit</button>
                </div>
          </div>
  
        </mat-tab>
  

  
     
  
        </mat-tab-group>
  
  </div>
  
  
  <button (click)="debug()" >Debug</button>