<mat-accordion class ="accordion">

      
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Add a Company
        </mat-panel-title>
        <mat-panel-description class="description">
         Open panel to add a Company
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div [formGroup] ="companyInfoForm">
        <form  class="inventory-form" (ngSubmit)="onFormSubmit()" novalidate>
    
        <div class="container1">
            <h2>
                Company Info
            </h2>
    
            <mat-divider style="padding-top: 3px; padding-bottom: 3px;"></mat-divider>
              <!--  <div class = InputContainer>--> 
                    <div class = "row">
                        <div class ="col">
                            <h1>Info</h1>
                            <mat-form-field appearance = "legacy" style="width:80%">
                                <input #CIcompanyinformation id="companyinformation" matInput placeholder = "Company Information" style="padding-left: 2px;">
                            </mat-form-field>
                            <mat-form-field appearance = "legacy" style="width:40%">
                                <input #CIname id="name" matInput placeholder = "Company Name">
                            </mat-form-field>
    
                            <mat-form-field appearance = "legacy" style="width:40%">
                                <input #CIphone id="phone" matInput placeholder = "Phone">
                            </mat-form-field>
    
                            <mat-form-field appearance = "legacy" style="width:80%">
                                <input #CIDBA id="dba" matInput placeholder = "DBA">
                            </mat-form-field>
    
                            <mat-form-field appearance = "legacy" style="width:80%">
                                <input #CIwebsite id="website" matInput placeholder = "Website">
                            </mat-form-field>
    


                            <mat-form-field appearance = "legacy" style="width:40%">
                              <input matInput placeholder = "Business Type">
                          </mat-form-field>

                            <h1 style="margin-left: 1%;">Address</h1>
    
                            <mat-form-field appearance = "legacy" style="width:40%">
                                <input #CIaddress id="address" matInput placeholder = "Address Line 1">
                            </mat-form-field>
    
                            <mat-form-field appearance = "legacy" style="width:40%">
                                <input matInput placeholder = "Address Line 1">
                            </mat-form-field>
    
                            <mat-form-field appearance = "legacy" style="width:40%">
                                <input matInput placeholder = "City">
                            </mat-form-field>
    
                            <mat-form-field appearance = "legacy" style="width:40%">
                                <input matInput placeholder = "State">
                            </mat-form-field>
                 <mat-form-field appearance = "legacy" style="width:40%">
                                <input matInput placeholder = "Zip Code">
                            </mat-form-field>
    
                            <mat-form-field appearance = "legacy" style="width:40%">
                                <input matInput placeholder = "Country">
                            </mat-form-field>
                            <div class="fileInput" style="margin-left: 1%;">
                                <input  class="ng-hide" id="input-file-id" multiple type="file" />
                                <label for="input-file-id" class="md-button md-raised md-primary"> Upload Image</label>
                            </div>
                        </div>
    
                        <div class ="col">
                            <mat-form-field appearance = "legacy" style="width:80%; padding-top: 46px;">
                                <input #CIprimaryPoC id="ppoc" matInput placeholder = "Primary Point of Contact">
                            </mat-form-field>
                            <mat-form-field appearance = "legacy" style="width:80%">
                                <input #CIdescription matInput placeholder = "Description">
                            </mat-form-field>
                            <mat-card class ="card1" style="width:40%; align-content: center;" >
                                <mat-card-header  style="margin-left: 15%;">SBA Certified</mat-card-header>
                                <mat-radio-group  name="SBAbutton"class="radio-groupCertified" appearance = "legacy" aria-label="Select an option">
                                    <mat-radio-button #CISBAcertified style="float: left" value="1">Yes</mat-radio-button>
                                    <mat-radio-button #CISBAcertified value="2">No</mat-radio-button>
                                </mat-radio-group>
                            </mat-card>
                            <mat-form-field appearance = "legacy" style="margin-top: 20px;">
                                <input #CIbusinessType matInput placeholder = "Business Type">
                            </mat-form-field>
 
                            <h3 style="margin-top: 10px;">Technical POC Info</h3>
                            <textarea #CItechnicalPOCinformation id="techPOC" style="text-align: left; margin-bottom: 20px;" rows="4" cols="55"></textarea>
            
                            <mat-form-field appearance = "legacy" style="width:40%">
                                <input #CIDUNSnum id="duns" matInput placeholder = "DUNS Number">
                            </mat-form-field>
                            <mat-form-field appearance = "legacy" style="width:40%; margin-bottom: 10px;">
                                <input #CIcagecode id="cage" matInput placeholder = "CAGE Code">
                            </mat-form-field>
                        </div>
    
                        <div class ="col">
                            <h1 style="margin-left: 1%;">Audit Information</h1>
                            <mat-form-field appearance = "legacy" style="width:80%;">
                                <input #CIcmmcAuditAgency id="cmmcAgency" matInput placeholder = "CMMC Audit Agency" >
                            </mat-form-field>
                            <mat-form-field appearance = "legacy" style="width:80%;">
                                <input #CIcmmcAuditorInfo id= "cmmcInfo" matInput placeholder = "CMMC Auditor Information">
                            </mat-form-field>
                            <mat-form-field appearance = "legacy" style="width:80%;">
                                <input #CIcmmcAuditDate id="cmmcDate" matInput placeholder = "CMMC Auditor Date">
                            </mat-form-field>
         
                            <mat-form-field appearance = "legacy" style="width:80%;">
                                <input #CIcmmcNISTauditAgency id="nistAgency" matInput placeholder = "NIST Audit Agency"> 
                            </mat-form-field>
                            <mat-form-field appearance = "legacy" style="width:80%;">
                                <input #CINISTauditorInfo id="nistInfo" matInput placeholder = "NIST Audit Auditor Information">
                            </mat-form-field>
                            <mat-form-field appearance = "legacy" style="width:80%;">
                                <input #CINISTauditorDate id="nistDate" matInput placeholder = "NIST Audit Date">
                            </mat-form-field>
                            <mat-form-field appearance = "legacy" style="width:80%;">
                                <input #CInumber id="num" matInput placeholder = "Number">
                            </mat-form-field>
    
                    
                        </div>
    
    
                    </div>
                    
        
                <div class = "row2">
                    <mat-divider style="padding-top: 3px; padding-bottom: 3px;"></mat-divider>
    
                    <button mat-raised-button (click) = "post(CIcompanyinformation.value, CIdescription.value, CIname.value, CIDBA.value, CIphone.value, CIwebsite.value, CIaddress.value, CIprimaryPoC.value, CISBAcertified.value, CIbusinessType.value, CItechnicalPOCinformation.value, CIDUNSnum.value, CIcagecode.value, CIcmmcAuditAgency.value, CIcmmcAuditorInfo.value, CIcmmcAuditDate.value, CIcmmcNISTauditAgency.value, CINISTauditorInfo.value, CINISTauditorDate.value, CInumber.value)"   style="margin-left: 30%;width:30vw;height: 4vh;" type ="Submit" color="primary"  >Submit</button>
                    <button mat-raised-button (click) = "onFormReset()" style="margin-left: 30%;width:30vw;height: 4vh;" type="Reset" color="primary"  >Reset</button>
                </div>
            </div>
        </form>
        

        
    </div>
    </mat-expansion-panel>

  </mat-accordion>

  <mat-list>

      <mat-list-item class="headerRow">

        <span class="listSpan idCol">
          ID
        </span>
        <span class="listSpan nameCol">
          Name
        </span>
        <span class="listSpan phoneCol">
          Phone
        </span>
        <span class="listSpan descCol">
          Description
        </span>
        <span class="listSpan addressCol">
          Address
        </span>
      </mat-list-item>


    <mat-list-item *ngFor="let company of companies$ | async">

      <span class="listSpan idCol">
        {{ company.idCompanyInfo }}    
      </span>
      <span class="listSpan nameCol">
        {{company.CIname}}
      </span>
      <span class="listSpan phoneCol">
        {{company.CIphone}}
      </span>
      <span class="listSpan descCol">
        {{company.CIdescription}}
      </span>
      <span class="listSpan addressCol">
        {{company.CIaddress}}
      </span>



     <span style="position: absolute; right: 0;">
        <button mat-icon-button>
          <mat-icon
            (click)="update(CIcompanyinformation.value, CIdescription.value, CIname.value, CIDBA.value, CIphone.value, CIwebsite.value, CIaddress.value, CIprimaryPoC.value, CISBAcertified.value, CIbusinessType.value, CItechnicalPOCinformation.value, CIDUNSnum.value, CIcagecode.value, CIcmmcAuditAgency.value, CIcmmcAuditorInfo.value, CIcmmcAuditDate.value, CIcmmcNISTauditAgency.value, CINISTauditorInfo.value, CINISTauditorDate.value, CInumber.value, company.idCompanyInfo)"
            color="primary"
          >
            edit
          </mat-icon>
        </button>

    
        <button mat-icon-button>
          <mat-icon (click)="delete(company.idCompanyInfo)" color="warn">
            delete
          </mat-icon>
        </button>
      </span> 
    </mat-list-item>
  </mat-list>

