<mat-sidenav-container class="example-container" >
    <mat-sidenav style="width:20%; padding: 1%; color:black; background-color: rgb(255, 255, 255);" #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
                >
                <!-- (closed)="events.push('close!');"-->
                 <!--THIS IS INSIDE OF SIDE NAV -->
                 <div style="padding: 1%; margin:1%;">
                    <mat-icon class="icon">
                        account_circle
                    </mat-icon>
                    <span routerLink="/Account" routerLinkActive="active" style="font-size: 16px">Home</span>
                    <br>
                    <mat-icon class="icon">
                        face
                    </mat-icon>
                    <span routerLink="/PersonalInfo" routerLinkActive="active" style="font-size: 16px">Personal Info</span>
                    <br>
                    <mat-icon class="icon">
                        color_lens
                    </mat-icon>
                    <span routerLink="/Personalization" routerLinkActive="active" style="font-size: 16px">Personalization</span>
                    <br>
                    <mat-icon class="icon">
                        credit_card
                    </mat-icon>
                    <span routerLink="/Payment" routerLinkActive="active" style="font-size: 16px">Payments & subscriptions</span>
                    <br>
                </div>
    </mat-sidenav>
  
    <mat-sidenav-content style="padding-left: 1%; padding-right: 1%; padding-top: 1%; background-color: white; color: black; width: 80vw; height:93vh; overflow: hidden;">
        <h1 style="font-size: 32px; margin-left: 43%;">
            Personal Info
        </h1>
        <h3 style="margin-left: 45%;">
            Explanation Text
        </h3>
 
     <div id="basicInfo" class="basicInfo" #basicInfo>
         <h1>
            Basic Info
         </h1>

         <table class="tables">
            <tr>
                <div style="margin-bottom: 3%;" class="div1">
                    <span class="span1"> 
                        Name
                    </span>
                    <span class="span2">
                        {{name}}
                    </span>
                           
                    <mat-icon id="arrow" routerLink="/ChangeName" routerLinkActive="active">
                        forward
                    </mat-icon>
        


                </div>

            </tr>

            <tr>
                <div style="margin-bottom: 3%;" class="div1">
                    <span class="span1">
                        Password
                    </span>
                    <span class="span2">
                        {{passwordLength}}
                    </span>
                           
                    <mat-icon  id="arrow" routerLink="/ChangePassword" routerLinkActive="active">
                        forward
                    </mat-icon>
        


                </div>
            </tr>
        </table>
     </div>
     <div id="contactInfo" class="contactInfo" #contactInfo>
        <h1>
           Contact Info
        </h1>

        <table class="tables">
            <tr>
                <div style="margin-bottom: 3%;" class="div1">
                    <span class="span1">
                        Email
                    </span>
                    <span  class="span2">
                        {{email}}
                    </span>
       
                    <mat-icon id="arrow" routerLink="/ChangeEmail" routerLinkActive="active">
                        forward
                    </mat-icon>
        


                </div>
            </tr>

            <tr>
                <div style="margin-bottom: 3%;"  class="div1">
                    <span class="span1">
                        Phone
                    </span>
                    <span  class="span2">
                        {{phone}}
                    </span>
       
                    <mat-icon id="arrow" routerLink="/ChangePhone" routerLinkActive="active">
                        forward
                    </mat-icon>
        

                </div>
            </tr>
        </table>
    </div>
    <div  id="missingSomething" class="missingSomething" #missingSomething>
        <h1>
           Missing Something?
        </h1>

        <table class="tables">
            <tr>
                <div style="margin-bottom: 3%;" class="div1">
                    <span class="span1">
                        Help Center
                    </span>
                    <span  class="span2">
                        Link to Something
                    </span>
                </div>
            </tr>
            <tr>
                <div style="margin-bottom: 3%;" class="div1">
                    <span class="span1">
                        Website Page?
                    </span>
                    <span  class="span2">
                        Link to Something
                    </span>
                </div>
                <div style="margin-bottom: 3%;" class="div1">
                    <span class="span1">
                        Link to some .Gov site?
                    </span>
                    <span class="span2">
                        Link to Something
                    </span>
                </div>
            </tr>

            <tr>
                <div style="margin-bottom: 3%;">
                    <span class="div1">
                        Search
                    </span>
                    <app-page-search >

                    </app-page-search>
                    This box is tinted to show search thing above this text... I cant change the color of it right now.


                </div>
            </tr>
        </table>
    </div>




    </mat-sidenav-content>
  </mat-sidenav-container>





