
<div [formGroup] ="taskForm">
    <form  class="task-form" (ngSubmit)="onFormSubmit(value)" novalidate>
        <mat-divider style="padding-top: 3px; padding-bottom: 3px; "></mat-divider>

        <h1 style="margin-left: 2%;">Tasks</h1>

        <div class = "col">

            <mat-form-field appearance = "outline" style="width:100%">
                <input matInput placeholder = "Tasks">
            </mat-form-field>
            <mat-form-field appearance = "outline" style="width:100%">
                <input matInput placeholder = "Additional Information">
            </mat-form-field>
     
    


        </div>

        <div class ="col">
            <mat-form-field appearance = "outline" style="width:100%">
                <input matInput placeholder = "NUDG Identifier">
            </mat-form-field>

            <mat-form-field appearance = "outline" style="width:100%">
                <input matInput placeholder = "Due Date">
            </mat-form-field>
        </div>



       
        <div class = "row2">
            <mat-divider style="padding-top: 3px; padding-bottom: 3px; "></mat-divider>

            <button mat-raised-button (click) = "onFormSubmit('groupForm')"   style = "margin-left:47%; " type ="Submit" color="primary"  >Submit</button>
            <button mat-raised-button (click) = "onFormReset('groupForm')"  style="margin-left: 1%;"  type="Reset" color="primary"  >Reset</button>
        </div>
    </form>
    

</div>
<!--
<dash-calendar>

</dash-calendar>
-->
