table{
    width: 100%;

   }
.mat-header-cell{
    background-color: rgb(63,81,181) ;
    color:white;
}

.mat-row:nth-child(even){
    background-color: rgb(225, 225, 225);
}
        
.mat-row:nth-child(odd){
    background-color: rgb(240, 240, 240);
}


.mat-expansion-panel:nth-child(even){
    background-color: rgb(225, 225, 225);
   
}
.mat-expansion-panel:nth-child(odd){
    background-color: rgb(240, 240, 240);
}


.description{
    display: flex;
    flex-grow: 0;
    justify-content: flex-end;
    margin-left: 25%;
   
}
.mat-panel-title{
    width:30px;
}

.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

 .mat-expansion-panel-header-title{
     flex-grow: 0; //flex is turned off to align title/descriptions
     width: 400px;
     justify-content: flex-start;
 }
 .mat-expansion-panel{
    overflow: hidden;
    justify-content: flex-start;

    
}

.accordion{
    //color doesnt exists here i guess
    color: red;
    background-color: red;
    background: red;
}

.ui-accordion .ui-accordion-content{
    border-top: 0 none;
    margin-bottom: 2px;
    margin-top: -2px;
    overflow: auto;
    padding: 0;
    position: relative;
    top: 1px;
}
