<div >

  <mat-list-item *ngFor="let family of families$;let i=index; let policy of policiesByFamily$;">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title >
          {{families$[i]}}
          </mat-panel-title>
        <mat-panel-description class="description">
          {{counts$[i][0]}}/{{counts$[i][1]}} Implemented
        </mat-panel-description>


        </mat-expansion-panel-header>

        <mat-list>
          <div class="flexContainer">
            <mat-list-item class="headerRow">
              <span class="idCol">
                Nid
              </span>
              <span class="nameCol">
                Subtitle
              </span>
              <span class="date1Col">
                CMMC Number
              </span>
              <span class="date2Col">
                Status
              </span>
              <span class="numcol">
                NIST Mapping
              </span>
              <span class="numcol2">
                CMMC Level
              </span>
            </mat-list-item>
          </div>
        
          <mat-list-item *ngFor="let p of policy" (click)="onRowClicked(row.innerHTML)">
        
            <span #row class="listSpan idCol">{{allPoliciesDict$[p].nudgid}}</span>
            <span class="listSpan nameCol">
              {{allPoliciesDict$[p].Subtitle}}
            </span>
            <span class="listSpan date1Col">
              {{allPoliciesDict$[p].CMMCnumber}}
            </span>
            <span class="listSpan date2Col">
              {{allPoliciesDict$[p].Pstatus}}
            </span>
            <span class="listSpan numcol">
              {{allPoliciesDict$[p].NISTmapping}}
            </span>
            <span class="listSpan numcol2">
              {{allPoliciesDict$[p].CMMClevel}}
            </span>
        
        
        
           <span style="position: absolute; right: 0;">
              <button mat-icon-button>
                <mat-icon color="primary">
                  arrow_forward
                </mat-icon>
              </button>
        
  
            </span> 
          </mat-list-item>
        </mat-list>
        </mat-expansion-panel>

    </mat-list-item>
</div>

