<div class="wrapper" id="wrapper" style="display:flex">

  <div class="col">
    <div>
      <span class="label">Nudg Id</span>
      <mat-form-field  appearance = "legacy" class="input" >
        <input #nudgid matInput >
      </mat-form-field>
    </div>

    <span class="label">Subtitle: </span>
    <mat-form-field  appearance = "legacy" class="input">
      <input  #Subtitle matInput>
    </mat-form-field>
   

    <span class="label">Family Policy: </span>
    <mat-form-field  appearance = "legacy" class="input">
      <input id="FamilyPolicy" #FamilyPolicy matInput>

    </mat-form-field>
 
    <div style="position:absolute; z-index: 5; height:15vh; overflow-y:scroll; left:10%; top: 20%;">
      <mat-option *ngFor="let element of families" (click)="setFamily(element.FamilyPolicy)">{{element.FamilyPolicy}}</mat-option>
    </div>


      <br>
      <span class="label" style="margin-top: 12%;">Practice: </span>
      <div>
        <textarea rows="5" cols="70" #Practice style="white-space: pre-wrap; font-size: medium; padding:1%; margin-top: 3%;"></textarea>

      </div>

      <br>
      <span class="label" style="margin-top: 1%;">Clarification: </span> 
      <div>
        <textarea rows="5" cols="70" #Clarification style="white-space: pre-wrap; font-size: medium; padding:1%; margin-top: 3%;"></textarea>
      </div>


    </div>

  <div class="col">
    <div style="overflow: hidden;">
      <span class="label">NIST Mapping: </span>
      <mat-form-field  appearance = "legacy" class="input">
        <input  #NISTmapping matInput>
      </mat-form-field>
      <br>
      <span class="label">NIST Value: </span>
      <mat-form-field  appearance = "legacy" class="input">
        <input  #NISTvalue matInput>
      </mat-form-field>
      <br>
      <span class="label">Status: </span>
      <mat-form-field  appearance = "legacy" class="input">
        <input  #Pstatus matInput>
      </mat-form-field>



    </div>
    <span class="label" style="margin-top: 12%;">Discussion: </span>
    <div>
      <textarea rows="5" cols="70" #Discussion style="white-space: pre-wrap; font-size: medium; padding:1%; margin-top: 3%;"></textarea>
    </div>

    <span class="label">References: </span>
    <div>
      <textarea rows="5" cols="70" #ReferencesP style="white-space: pre-wrap; font-size: medium; padding:1%; margin-top: 3%;"></textarea>
    </div>


    <button (click)="submit(nudgid.value, CMMCnumber.value, CMMClevel.value, NISTmapping.value, NISTvalue.value, Capabilitynumber.value, Practice.value, FamilyPolicy.value, Discussion.value, Clarification.value, ReferencesP.value, Pstatus.value, Subtitle.value, Comments.value, Guidelines.value)" style="left: 47%; position: sticky; top: 60%; width: 20%;">Submit</button>

  </div>
  
  <div class="col">

    <span class="label"  >CMMC Number: </span>
    <mat-form-field  appearance = "legacy" class="input">
      <input #CMMCnumber matInput >
    </mat-form-field>

    <br>
    <span class="label" >CMMC Level: </span>
    <mat-form-field  appearance = "legacy" class="input">
      <input 
      #CMMClevel 
      matInput 
      >
    </mat-form-field>

    <br>
    <span class="label">Capability Number: </span>
    <mat-form-field  appearance = "legacy" class="input">
      <input  matInput #Capabilitynumber>
    </mat-form-field>




    <span class="label" style="margin-top: 12%;">Guidelines: </span>
    <textarea #Guidelines rows="5" cols="70" style="font-size: medium; white-space: pre-wrap; padding:1%; margin-top: 3%;"></textarea>
    <span class="label">Comments: </span>
    <textarea #Comments rows="5" cols="70" style="font-size: medium; white-space: pre-wrap; padding:1%; margin-top: 3%;"></textarea>

  </div>
      

    
          
</div>

