
<!--
<mat-toolbar  class="tools" style="height: 8vh;">

    <mat-toolbar-row>
        <mat-form-field style="width: 15%; height: 70%; margin-bottom: 10px;">
            <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>

        <button mat-raised-button (click)="openDialog()" style="margin-left: 30%;margin-top: 30px;"> Add Controls</button>
        <button mat-raised-button (click)="removeSelectedRows()" style="margin-left: 4%; margin-top: 30px;"> Delete Selected</button>
        <button mat-raised-button style="margin-left: 4%; margin-top: 30px;"> Import </button>
        <button mat-raised-button style="margin-left: 4%; margin-top: 30px;"> Export </button>


    </mat-toolbar-row>

</mat-toolbar>
-->



<div class="control">      
    <!--
<mat-card class="tableCard" style="height:405px"> 
    //ctrl table used to be here
</mat-card> 
    -->
<!--
    <controlTable>
      
    </controlTable>


-->



</div>
        