

<div class="container1" style="margin:0px;padding: 0px;">
    <div style="margin:0px;padding: 0px;"></div>
            <h2 style="margin-left: 1%; margin-top: 1%; font-size: 32px;color: white; ;">
                Controls
            </h2>
                <div class = InputContainer>
                    <div class = "row">
                        <div class ="col">
                            <mat-form-field  appearance = "legacy" style="width:40%">
                                <input #Nid matInput placeholder="NUDG Identifiers" value = "{{id$}}">
                            </mat-form-field>
      


                            <mat-form-field appearance="outline" color="primary" style="width: 80%;" >
                                <mat-label >Standard</mat-label>
                                <mat-select #Standards id="Input" multiple>
                                    <div *ngFor="let standard of displayStandards$">
                                        <mat-option value={{standard.idStandards}} >
                                            {{standard.idStandards}}:   {{standard.Standard}}
                                        </mat-option>
                                    </div>
                           
 
                                </mat-select>
                              </mat-form-field>











                            <mat-form-field appearance = "legacy" style="width:40%">
                                <input #Cname matInput placeholder = "Control">
                            </mat-form-field>
                            <mat-form-field appearance = "legacy" style="width:40%">
                                <input #Coverview matInput placeholder = "Overview">
                            </mat-form-field>
                        </div>



    
                        <div class ="col">
 

                        <mat-form-field style="width: 80%;background: transparent;" appearance="fill" class="datepicker datepicker2" id="datepicker2">
                            <mat-label >{{loginInfo.todaysDate}}</mat-label>
                            <input 
                            #Cissuedate  
                            matInput 
                            [matDatepicker]="datepicker2"

                            />
                            <mat-datepicker-toggle matSuffix [for]="datepicker2"></mat-datepicker-toggle>
                            <mat-datepicker #datepicker2>
                            <mat-datepicker-actions>
                                <button mat-button matDatepickerCancel>Cancel</button>
                                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                            </mat-datepicker-actions>
                            </mat-datepicker>
                        </mat-form-field>








                            <mat-form-field appearance="outline" color="primary" style="width: 80%;" >
                                <mat-label >Shared Resource</mat-label>
                                <mat-select #Csharedresources id="Input" multiple>
                                    <div *ngFor="let resource of displayResources$ ; let i = index; ">
                                        <mat-option value={{resource.SRtitle}} >
                                          <!--    <a [href]="url">     </a>              let file of files; let url of urls   --> 
                                            
                                                {{resource.SRtitle}}
                                       
                                        </mat-option>
                                    </div>
                           
 
                                </mat-select>
                              </mat-form-field>






                        </div>
    
                        <div class ="col">
                            <mat-form-field appearance = "legacy" style="width:80%">
                                <input #Curl matInput placeholder = "URL">
                            </mat-form-field>

  
                            <mat-form-field appearance="outline" color="primary" style="width: 80%;" >
                                <mat-label>Paired Weakness</mat-label>
                                <mat-select #idOrgWeaknesses id="Input">
                                    <div *ngFor="let weakness of displayWeakness$">
                                        <mat-option value={{weakness.idOrgWeaknesses}} >
                                            {{weakness.Wname}}
                                        </mat-option>
                                    </div>
                           
 
                                </mat-select>
                              </mat-form-field>

                        </div>
                    </div>
                        
                <div class = "row2">
                    <mat-divider style="padding-top: 3px;"></mat-divider>
                    <button
                     mat-raised-button (click)="submit(Cname.value,Coverview.value,Cissuedate.value,Csharedresources.value,Curl.value, idOrgWeaknesses.value, Standards.value)" 
                     style="margin-left: 15%;width:20vw;height: 5vh; float: left;" 
                     color="primary">Submit
                    </button>
                </div>
            </div>      

