<div class="doNotPrint">
  <div class="wrapper" id="wrapper" >
    <div id="policy" class="policy2" *ngFor="let policy of policy$ | async">
        <div class="row1">
          <form [formGroup]="policyForm">
            <mat-form-field id="policySearch">
              <mat-label>{{this.id}}</mat-label>
              <input type="text"
                     matInput
                     formControlName='NidFilterList'
                     required
                     [matAutocomplete]="autoGroup">
                <mat-autocomplete #autoGroup="matAutocomplete">
                  <mat-optgroup *ngFor="let entry of NidDisplayList$ " >
                    <mat-option  [value]="entry.nudgid"  [value]="entry.nudgid" routerLink="/Policy/{{entry.nudgid}}" (click)="policySearch($event, entry.nudgid)" routerLinkActive="active">{{entry.nudgid}}</mat-option>
                </mat-optgroup>
              </mat-autocomplete>
            </mat-form-field>
          </form>
          
  
          <div class="item2" style="flex: 1; ">
            <p id="title" style="font-size: 20px;"> {{policy.Subtitle}}</p>
          </div>    
  
          <div class="item2" style="flex: 1; ">
            <p id="title" style="font-size: 20px;color: #06d6a0;">{{policy.Pstatus}}</p>
          </div>
        </div>
  
        <mat-tab-group >
          <mat-tab label="CMMC Information" style="overflow: none;">
            <p style="margin-top: 1%;" class="dditems">CMMC Number: {{policy.CMMCnumber}}</p>
            <br>
            <p class="dditems">Capability Name: {{policy.nudgid}}</p>
            <br>
            <p class="dditems">Capability Number: {{policy.Capabilitynumber}}</p>
            <br>
            <p class="dditems" >Practice: {{policy.Practice}}</p>
            <br>
            <p class="dditems">Clarification: {{policy.Clarification}}</p>
          </mat-tab>
  
          <mat-tab label="NIST Information" style="overflow: none;">
          <p style="margin-top: 1%; font-size: medium;" class="dditems">NIST Mapping: {{policy.NISTmapping}}</p>
          <br>
          <p class="dditems" style="font-size: medium;">NIST Value: {{policy.NISTvalue}}</p>
          <br>
        </mat-tab>
          <mat-tab label="References" > <p style="white-space: pre-wrap; font-size: medium;"> {{policy.ReferencesP}}</p></mat-tab>
          <mat-tab label="Guidelines">      
            <guidelines-dialog [id$] = "this.id" style="z-index: 99; ">
            </guidelines-dialog>
  
          </mat-tab>
          <mat-tab label="Comments">
            <textarea (change)="updatePolicy(policy,Comment.value)" #Comment style="text-align: left; align-content: left; margin-left: 1%; height:300px; font-size: medium;" rows="30" cols="100">{{policy.Comments}}</textarea>

            
          </mat-tab>
  
        </mat-tab-group>
    </div>
      
  
    <!--THIS IS THE STANDARDS LIST-->
    <div id="standard3" class="standard4 ">
  
      <mat-list>
        <div class="flexContainer">
          <mat-list-item class="headerRow">
            <span class="listSpan idCol">
              Standard ID
            </span>
            <span class="listSpan descCol">
              Name
            </span>
          </mat-list-item>
        </div>
    
        <mat-list-item *ngFor="let standard of standards$ | async">
    
            <span class="listSpan idCol">
              {{ standard.idStandards }}    
              </span>
          <span class="listSpan descCol">
            {{standard.Standard}}
          </span>
    
         <span style="position: absolute; right: 0;">
            <button mat-icon-button>
              <mat-icon
                
                color="primary"
              >
              <!--(click)="updateStandards(standard.idStandards, userInput.value)"-->
                edit
              </mat-icon>
            </button>
    
        
            <button mat-icon-button>
              <mat-icon (click)="deleteStandards(standard.idStandards)" color="warn">
                delete
              </mat-icon>
            </button>
          </span> 
        </mat-list-item>
      </mat-list>
    
    </div>
  
    
  
    <div class ="editBar">
      <app-accordion-item id="accordionToolbar" [id$]="id" [Gdate$] = "Gdate$" [parentReference$] = "urlAdjuster" *ngFor="let item of entries" 
        [entry]="item">
        
      </app-accordion-item> 
    </div>
  
    <!--THIS IS THE WEAKNESSES LIST-->
  
    <div
    cdkDropList
    id="weaknessDrop"
    class="weakness2"
    [cdkDropListData]="weaknessDrop"
    [cdkDropListConnectedTo]="[controlDrop]"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListEnterPredicate]="controlsToWeaknesses">
  
       
      <mat-list>
        <div class="flexContainer">
          <mat-list-item class="headerRow">

            <span class="nameCol">
              Name
            </span>
            <span class="mediumCol">
              Description
            </span>
            <span class="dateCol">
              Status
            </span>
            <span class="smallCol">
              Completion Date
            </span>

            <input class="searchBox"  type="text" #searchWeaknesses id='searchWeaknesses' (keyup)="filterWeaknesses()" placeholder="search" />
  
          </mat-list-item>
  
  
        </div>
    
        <mat-list-item class="dragdropbox"  cdkDrag [cdkDragData]="weaknessElement" *ngFor="let weaknessElement of weaknesses$ | async">
            <!--The below ngIf is what applies the searchbar to the list-->
          <ng-container  *ngIf="weaknessElement.Wname.toLowerCase().indexOf(searchWeaknesses.value.toLowerCase())!== -1 || weaknessElement.Wstatus.toLowerCase().indexOf(searchWeaknesses.value.toLowerCase())!== -1|| weaknessElement.Wdescription.toLowerCase().indexOf(searchWeaknesses.value.toLowerCase())!== -1 ">

            <span class="listSpan nameCol" style="font-weight: bold;" >
              {{weaknessElement.Wname}}
            </span>
      
            <span class="listSpan mediumCol" style="font-weight: bold;">
              {{weaknessElement.Wdescription}}
            </span>
      
            <span class="listSpan dateCol" style="font-weight: bold;">
              {{weaknessElement.Wstatus}}
            </span>
    
            <span class="listSpan smallCol" style="font-weight: bold;">
              {{weaknessElement.WcompletionDate | date:'M/d/yy'}}
            </span>
  
  
    
          <span class="listSpan dateCol4">
            <button mat-icon-button>
                <mat-icon
                (click)="openMilestones(weaknessElement.idOrgWeaknesses)"
                color="primary"
                >
                assignment
              </mat-icon>
            </button>
    
    
 
              <button mat-icon-button>
                <mat-icon
         
                  color="primary"
                >
                  edit
                </mat-icon>
              </button>
      
 
          
              <button mat-icon-button>
                <mat-icon (click)="deleteWeaknesses(weaknessElement.idOrgWeaknesses)" color="warn">
                  delete
                </mat-icon>
              </button>
            </span> 
  
          </ng-container>
  
      
           
         
           
        </mat-list-item>
      </mat-list>
      
      
    </div>
  
  
      <!-- THIS IS THE CONTROLS LIST-->
      <div 
      id="controlDrop" 
      class="control2"
      cdkDropList
  
      [cdkDropListData]="controlDrop"
      [cdkDropListConnectedTo]="[weaknessDrop]"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListEnterPredicate]="weaknessesToControls">
  
      <mat-list>
        <div class="flexContainer">
          <mat-list-item class="headerRow">
            <span class="nameCol">
              Name
            </span>
            <span class="descCol">
              Description
            </span>
            <span class="dateCol">
              Date
            </span>

            <input class="searchBox" style="margin-left: 3px;" type="text" #searchControls id='searchControls' (keyup)="filterControls()" placeholder="search" />
  
          </mat-list-item>
  
        </div>
  
        <mat-list-item 
        id="controlDraggable"
        cdkDrag 
        *ngFor="let controlElement of controls$ | async"  
   
        [cdkDragData]="controlElement"
  
        >
          <ng-container style="display: flex;" *ngIf="controlElement.Cname.toLowerCase().indexOf(searchControls.value.toLowerCase())!== -1 || controlElement.Coverview.toLowerCase().indexOf(searchControls.value.toLowerCase())!== -1 ">
  
          <span class=" nameCol" style="font-weight: bold;">
            {{controlElement.Cname}}
          </span>
          <span class=" descCol" style="font-weight: bold;">
            {{controlElement.Coverview}}
          </span>
          <span class=" dateCol" style="font-weight: bold;">
            {{controlElement.Cissuedate}}
          </span>

  
  
  
        <span style="position: absolute; right: 0;">
          <button mat-icon-button>
            <mat-icon
            (click)="openProcedures(controlElement.idOrgControls)"
            color="primary"
            >
            assignment
          </mat-icon>
        </button>
  
  <!--
            <button mat-icon-button>
              <mat-icon
                color="primary"
              >
                            (click)="updateControls(controlElement.idOrgControls, userInput.value)"
  
  edit
</mat-icon>
</button>


  -->

  
            <button mat-icon-button>
              <mat-icon (click)="deleteControls(controlElement.idOrgControls)" color="warn">
                delete
              </mat-icon>
            </button>
          </span> 
        </ng-container>
        </mat-list-item>
      </mat-list>
  
      </div>
  
  </div>
  
  <!--GUIDELINE POPOUT HTML-->
  <ng-container *ngFor="let guideline of guidelines$;">
    <div style="width:50%; height:50%;">
      <div id="box" #box 
      class ="box"
      popUp 
      cdkDrag 
      cdkDragRootElement=".cdk-overlay-pane" 
      ngDraggable 
      
      >
          <div 
          class="dragHandle"
          style="background-color: black; padding-top: 2%;"
          cdkDragHandle 
          > 
              <span style="color:white; min-width: 300px;">
              {{guideline[0]}}
              </span>  
              <button mat-icon-button>
                <mat-icon>
                settings
                </mat-icon>
            </button>  
            <button mat-icon-button id="dButton">
                <mat-icon (click)="closeGuideline(guideline[0], guideline[1])" color="warn">
                    close
                </mat-icon>
            </button>
          </div>
          <!--The below div holds the text-->
          <div class="resizableDiv">
            <span class="guidelineText">        
                    {{guideline[1]}}
              </span>
          </div>
      </div>
    </div>

    
  </ng-container>
</div>


<div class="PrintSection" style="align-items: center; display:flex">
  <div class="pMainDiv" style="background-color: white; width: 98%; height:100%">


    <div class="div1"  style = "height:100px; width:40%; ;">
      <img  id="logo" class="img" src="../../assets/images/nudgLogo.png" style="height: 100px; width:100px; margin-left: 65%;">

    </div>


    <div class="div1"  style ="height:50px; width:60%; ">
      <span style="font-size: x-large; padding-top: 30px;">
        NUDG Systems
        </span>
    </div>


    <div class="div1" style ="width:60%; height:50px; ">
      NIST Unified Data Governance
    </div>


   <ng-container *ngFor="let policy of policy$ | async">






     <h1>{{policy.Subtitle}}</h1>
     <h2>Family Policy</h2>
     <span>{{policy.FamilyPolicy}}</span>
     <table class="table" style="width:100%">
      <tr>
        <th class="col1-2">NUDG Identifier</th>
        <th class="col3-4">{{policy.nudgid}}</th>
      </tr>
      <tr>
        <td class="col1">CMMC Number</td>
        <td class="col2">{{policy.CMMCnumber}}</td>

        <td class="col3">Status</td>
        <td class="col4">{{policy.Pstatus}}</td>
      </tr>
      <tr>
        <td class="col1">Capability Number</td>
        <td class="col2">{{policy.Capabilitynumber}}</td>

        <td class="col3">CMMC Level</td>
        <td class="col4">{{policy.CMMClevel}}</td>
      </tr>
      <tr>
        <td class="col1">NIST Mapping</td>
        <td class="col2">{{policy.NISTmapping}}</td>

        <td class="col3">NIST Value</td>
        <td class="col4">{{policy.NISTvalue}}</td>
      </tr>
     </table>

      <label>Practice</label>
     <body>
      <span>{{policy.Practice}}</span>

     </body>
     <br>
    
     <label>Clarification</label>

     <body>
      <span>{{policy.Clarification}}</span>

     </body>



    <!-- STANDARDS -->
     <div id="standard3" class="standard4 " style="width:100%; float:left">
      <mat-list>
        <div class="flexContainer">
          <mat-list-item class="headerRow">
            <span class="listSpan idCol">
              Standard ID
            </span>
            <span class="listSpan descCol">
              Name
            </span>
          </mat-list-item>
        </div>
    
        <mat-list-item *ngFor="let standard of standards$ | async">
    
            <span class="listSpan idCol">
              {{ standard.idStandards }}    
              </span>
          <span class="listSpan descCol">
            {{standard.Standard}}
          </span>
        
        
        </mat-list-item>
      </mat-list>
    
    </div>
<!--CONTROLS -->
<div 
id="controlDrop" 
class="control2"
cdkDropList
style="width:100%; float:left"
[cdkDropListData]="controlDrop"
[cdkDropListConnectedTo]="[weaknessDrop]"
(cdkDropListDropped)="drop($event)"
[cdkDropListEnterPredicate]="weaknessesToControls">

<mat-list>
  <div class="flexContainer">
    <mat-list-item class="headerRow">
      <span class="idCol">
        Control ID
      </span>
      <span class="nameCol">
        Name
      </span>
      <span class="descCol">
        Description
      </span>
      <span class="dateCol">
        Date
      </span>
      <span class="dateCol2" style="margin-left: 6.5%;">
        Wid
      </span>

    </mat-list-item>

  </div>

  <mat-list-item 
  id="controlDraggable"
  cdkDrag 
  *ngFor="let controlElement of controls$ | async"  

  [cdkDragData]="controlElement"

  >
    <ng-container style="display: flex;" *ngIf="controlElement.Cname.toLowerCase().indexOf(searchControls.value)!== -1 || controlElement.Coverview.toLowerCase().indexOf(searchControls.value)!== -1 ">

    <span class=" idCol">
      {{ controlElement.idOrgControls }}    </span
    >
    <span class=" nameCol" >
      {{controlElement.Cname}}
    </span>
    <span class=" descCol" >
      {{controlElement.Coverview}}
    </span>
    <span class=" dateCol" >
      {{controlElement.Cissuedate}}
    </span>
    <span class=" dateCol2" style="margin-left: 8%;">
      {{controlElement.idOrgWeaknesses}}
    </span>



  </ng-container>
  </mat-list-item>
</mat-list>
<label>References</label>

<body>
 <span>{{policy.ReferencesP}}</span>

</body>
</div>
   </ng-container>
  </div>
</div>


