   <div  class=container1>  

        <p id="title" style="font-size: 28px;"> AC-N.01</p>
        <mat-divider style="padding-top: 2%; padding-bottom: 1%;"></mat-divider>

        <div class = "MainRow">
            <div class="col1">
                <div class="toprow" >
                    <table id="Weaknesses">
                        <tr>
                          <th>Weakness ID</th>
                          <th>Weakness</th>

                        </tr>
                        <tr>
                          <td>W1</td>
                          <td>Onboarding and Offboarding process created, written documentation on the handling of added or removed users</td>

                        </tr>
                        <tr>
                          <td>W2</td>
                          <td>Placeholder</td>

                        </tr>
                        <tr>
                          <td>W3</td>
                          <td>Placeholder</td>

                        </tr>

                      </table>
                      

                </div>
                <div class="botrow">
                    <table id="Controls">
                        <tr>
                          <th>Control ID</th>
                          <th>Control</th>
                        </tr>
                        <tr>
                          <td>C1</td>
                          <td>Users, groups, and roles documented and assigned</td>
                        </tr>
                        <tr>
                          <td>C2</td>
                          <td>Onboarding and Offboarding process created, written documentation on the handling of added or removed users</td>
                        </tr>
                        <tr>
                          <td>C3</td>
                          <td>Change request form created for authorized roles to change user assignment, permissions/groups and asset distribution</td>
                        </tr>
                        <tr>
                        <td>C4</td>
                          <td>Created documented processes for hiring, termination, change requests, and delivery of credentials</td>
                        </tr>

                      </table>
                </div>

            </div>
            <div class ="col2">
                <table id="Standards">
                    <tr>
                      <th>Standard ID</th>
                      <th>Standard</th>
                    </tr>
                    <tr>
                      <td>S1</td>
                      <td>Define and document the types of accounts authorized to access resources.</td>
                    </tr>
                    <tr>
                      <td>S2</td>
                      <td>Assign and document account managers and other applicable roles.</td>
                    </tr>
                    <tr>
                      <td>S3</td>
                      <td>Establish conditions for group and role membership.</td>
                    </tr>
                    <tr>
                    <td>S4</td>
                      <td>Determine approval process for creation, enable, modify, disable, and removal of accounts.</td>
                    </tr>
                    <td>S5</td>
                      <td>Establish and implement a process for change requests to shared groups and shared accounts.</td>

                  </table>

            </div>
        </div>

  
  