div.container1{
    margin-top: 50px;
    margin-left: 2%;
    margin-right: 2%;
    align-content: center;
    padding: 20px 20px;
    box-shadow: 1px 1px 15px -1px ;
    overflow:hidden;
        
}

div.container2{
    margin-top: 50px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 20px 20px;
    box-shadow: 1px 1px 15px -1px ;
    overflow:hidden;
}

.mat-expansion-panel {
    margin: 1%;
}
.NistTable{
 
    width:100vw;
}
.standardTable{
    border:black;
    border-radius: 2px;
}
.tableCard{
    box-shadow: 1px 1px 15px -1px ;

}


//uncomment colors to see how everything lines up.
.wrapper {
   // background-color: salmon;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

//NOTICE - this can be done with several divs in column format, BUT this is a grid.
//if nathan wants this changed. I will be working on something else - alex. 


  .one {
   // background-color: orange;
    grid-column: 3 / 5;
    grid-row: 1;
  }

  .three {
    //background-color: palegreen;
    grid-column: 2 / 4;
    grid-row: 2 / 5;
  }
  .four {
    //background-color: plum;
    grid-column: 4 / 6;
    grid-row: 2/5;
  }
.mat-table{
    padding: 1%;
    width:100%;
}

//:host limits ng deep to this component
:host ::ng-deep .mat-expansion-panel-header:focus{
    background-color: rgb(63,81,181) !important;
}
:host ::ng-deep .mat-expansion-panel-header{
    background-color: rgb(63,81,181);
    
}
:host ::ng-deep .mat-expansion-panel:hover{
    background-color: rgb(116, 128, 196) !important ;

}
:host ::ng-deep .mat-expansion-panel-body{

    background-color:rgb(230, 230, 230);
    margin: 0%;
    padding-left: 0;
    padding-bottom: 0;
}
.cards{
    box-shadow: 1px 1px 15px -1px;

  }
  
div.row1{
    display: flex;
    
}
div.item2{
    overflow: hidden;
    text-align: center;
    margin: 1%;
}

.dditems{
    text-align: left;
}
.col1{
    float:left;
    padding:10px;
    background-color:#aaa;
    width:48%;
}
.col2{
    float:right;
    padding:10px;
    width:48%;
    background-color:#bbb;
}
.toprow{
    margin-bottom: 2%;
    background-color: #ccc;
    height:50%
}
.botrow{
    background-color: #ddd;
    height:50%
}

#Weaknesses {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#Weaknesses td, #Weaknesses th {
    border: 1px solid #ddd;
    padding: 8px;
}

#Weaknesses tr:nth-child(even){background-color: #f2f2f2;}

#Weaknesses tr:hover {background-color: #ddd;}

#Weaknesses th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}


#Controls {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#Controls td, #Controls th {
    border: 1px solid #ddd;
    padding: 8px;
}

#Controls tr:nth-child(even){background-color: #f2f2f2;}

#Controls tr:hover {background-color: #ddd;}

#Controls th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #e0a421;
    color: white;
}




#Standards {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#Standards td, #Standards th {
    border: 1px solid #ddd;
    padding: 8px;
}

#Standards tr:nth-child(even){background-color: #f2f2f2;}

#Standards tr:hover {background-color: #ddd;}

#Standards th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #00aeff;
    color: white;
}

//adding ':after' will change the arrow to a diamond
::ng-deep .mat-expansion-indicator{
    color:white;
    //background-color: white;
    //border-color: white;
}

:host:ng-deep .test{
    background-color: aqua;
    color: red;

}

