//the four corners + middle bar
  .wrapper{
    //this is a specific number to remove the scroll bar on the side
    height:100vh;
  }


  .policy2 {
    width:49%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 3px;
    float: left;
    background-color: white;
    overflow: scroll;
    padding: 20px;
    min-height: 45%;
    height:45%;
    display: inline;
  }
 
  .standard4{
    margin-top: 7px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 3px;
    width:49.5%;
    min-height: 45%;
    height:45%;
    float:right;
    align-content: stretch;
   // background-color: orange;
    overflow-y: scroll;
   
  }
 
  .mat-list-base {
    padding:0px;
  }
  .editBar{
    width:99%;
    float:right;
    margin: 10px; 
    margin-left: 30px;
    position: relative;

  }


  .weakness2 {
    //background-color: red;
    box-sizing: border-box;
    position: relative;
    width:49%;
    float:left;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 3px;
    display:block;
    min-height: 44%;
    height:44%;

  }

  .control2 {
  //  background-color: blue;
    box-sizing: border-box;
    position: relative;
    width:49.5%;
    min-height: 44%;
    height:44%;

    float:right;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 3px;

    display:block;
  }

//inside policy box
div.row1{
    display: flex; 
}
div.item2{
    overflow: hidden;
    text-align: center;
    margin: 1%;
}



//CSS for LIST
.flexContainer{
    display:flexbox;
}
.listSpan {
    position:relative;
    float:1;
}
.headerRow {
    position:relative;
    background-color: rgb(122, 149, 236);
}

.mat-list >  .mat-list-item:nth-child(2n+1){
    background-color:white;
  }
  .mat-list >  .mat-list-item:nth-child(2n){

    background-color:rgb(230, 228, 228);
  }

  .mat-list > .mat-list-item{
    border: 1px solid black;
    justify-content: center;

  }

  .idCol{
    width:60px;
    min-width: 60px;
    text-align: left;

  }
  .nameCol{
    margin-left: 5%;
    width:150px;
    min-width: 150px;
    text-align: left;

  }
  .descCol{
    width:250px;
    min-width: 250px;
    text-align: left;
    margin-left: 5%;
  }
  
  .dateCol{
    width:60px;
    min-width: 60px;
    text-align: left;
    margin-left: 5%;
  }

  .dateCol2{
    width:200px;
    min-width: 200px;
    text-align: left;
    margin-left: 5%;
  }


  //CSS for Center bar and It's interactions
  dl{
    border:1px solid #ddd;
  }
  
:host{
    display:flex;
    flex-direction: column;
    &:not(:first-of-type) {
    border-top:1px solid #ddd;
  }
  }

  //some objects inside of the policy box
  dt{
    background-color:#efefef;
    padding:5px;
    cursor:pointer;
    overflow:hidden;
    &:hover{
        background-color:#8f8f8f;

    }
  }
  dd{
    flex-direction: column;
    background-color: white;
    padding-top:0;
    padding-bottom:0;


  }
  .dditems{
    text-align: left;


}

//animations 'states'
  .uncollapsed {
    animation: slide-down 1s ease forwards;
    opacity:1;
  }
  .collapsed {
    animation: slide-up 1s ease forwards;
    opacity:0;
  }
  .Pshrink {
    animation: policyShrink 1s ease forwards;

  }
  .Pgrow {
    animation: policyGrow 1s ease forwards;

}
.Cshrink {
  animation: controlsShrink 1s ease forwards;

}
.Cgrow {
  animation: controlsGrow 1s ease forwards;

}
.Sshrink {
  animation: standardsShrink 1s ease forwards;

}
.Sgrow {
  animation: standardsGrow 1s ease forwards;

}
.Wshrink {
  animation: weaknessesShrink 1s ease forwards;

}
.Wgrow {
  animation: weaknessesGrow 1s ease forwards;

}
  
//keyframes
  @keyframes slide-down {
      //On Open
    0% {
      top:350px;
      height: 0;
      opacity:0;
    }
    100% {
      top: 150px;
      height: 900px;
      min-height: 800px;

      opacity:1;
    }
  }
  
  @keyframes slide-up {
      //On Close
    0% {
      height: 900px;
      min-height: 800px;
      opacity:1;
    }
    100% {
      height: 0;
      opacity:0;
    }
  }



@keyframes policyShrink {
    //start big
    0% {
      box-sizing: border-box;
      position: relative;
      width:49%;
      float:left;
      background-color: white;

      overflow-y: scroll;
      overflow-x: hidden;
      margin-top: 10px;
      margin-left: 10px;
      margin-bottom: 10px;
      margin-right: 3px;
      display:block;
      min-height: 44%;
      height:44%;
    }
    //get small
    100%{
      width:49%;
      margin-top: 10px;
      margin-left: 10px;
      margin-bottom: 10px;
      margin-right: 3px;
      float: left;
      background-color: white;
      padding: 20px;
      min-height: 20%;
      height:20%;
      display: inline;
      overflow: scroll;

    }
}

@keyframes policyGrow {
    //start small
    0% {
      width:49%;
      margin-top: 10px;
      margin-left: 10px;
      margin-bottom: 10px;
      margin-right: 3px;
      float: left;
      background-color: white;
      padding: 20px;
      min-height: 20%;
      height:20%;
      display: inline;
      overflow: scroll;

    }
    //get big
    100%{
      box-sizing: border-box;
      position: relative;
      width:49%;
      float:left;
      overflow-y: scroll;
      overflow-x: hidden;
      background-color: white;

      margin-top: 10px;
      margin-left: 10px;
      margin-bottom: 10px;
      margin-right: 3px;
      display:block;
      min-height: 44%;
      height:44%;
    }
}

@keyframes controlsShrink {
  //start big
  0% {
  //  background-color: blue;
  box-sizing: border-box;
  position: relative;
  width:49.5%;
  min-height: 44%;
  height:44%;

  float:right;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 3px;

  display:block;
  }
  //get small
  100%{
   // background-color: blue;
   box-sizing: border-box;
   position: relative;
   width:49.5%;
   min-height: 20%;
   height:20%;

   float:right;
   overflow-y: scroll;
   overflow-x: hidden;
   margin-top: 10px;
   margin-right: 10px;
   margin-bottom: 10px;
   margin-left: 3px;
   display:block;

  }
}

@keyframes controlsGrow {
  //start small
  0% {
   // background-color: blue;
   box-sizing: border-box;
   position: relative;
   width:49.5%;
   min-height: 20%;
   height:20%;

   float:right;
   overflow-y: scroll;
   overflow-x: hidden;
   margin-top: 10px;
   margin-right: 10px;
   margin-bottom: 10px;
   margin-left: 3px;
   display:block;

  }
  //get big
  100%{
  //  background-color: blue;
  box-sizing: border-box;
  position: relative;
  width:49.5%;
  min-height: 44%;
  height:44%;

  float:right;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 3px;

  display:block;
  }
}




@keyframes standardsShrink {
  //start big
  0% {
    margin-top: 7px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 3px;
    width:49.5%;
    min-height: 45%;
    height:45%;
    float:right;
    align-content: stretch;
   // background-color: orange;
    overflow-y: scroll;
   
  }
  //get small
  100%{
    margin-top: 7px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 3px;
    width:49.5%;
    min-height: 20%;
    height:20%;
    float:right;

   // background-color: black;
    overflow-y: scroll;

  }
}

@keyframes standardsGrow {
  //start small
  0% {
    margin-top: 7px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 3px;
    width:49.5%;
    min-height: 20%;
    height:20%;
    float:right;

   // background-color: black;
    overflow-y: scroll;

  }
  //get big
  100%{
    margin-top: 7px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 3px;
    width:49.5%;
    min-height: 45%;
    height:45%;
    float:right;
    align-content: stretch;
   // background-color: orange;
    overflow-y: scroll;
   
  }
}



@keyframes weaknessesShrink {
  //start big
  0% {
    //background-color: red;
    box-sizing: border-box;
    position: relative;
    width:49%;
    float:left;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 3px;
    display:block;
    min-height: 44%;
    height:44%;
  }
  //get small
  100%{
  //  background-color: red;
  box-sizing: border-box;
  position: relative;
  width:49%;
  float:left;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 3px;
  display:block;
  min-height: 20%;
  height:20%;
  }
}

@keyframes weaknessesGrow {
  //start small
  0% {
  //  background-color: red;
  box-sizing: border-box;
  position: relative;
  width:49%;
  float:left;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 3px;
  display:block;
  min-height: 20%;
  height:20%;
  }
  //get big
  100%{
    //background-color: red;
    box-sizing: border-box;
    position: relative;
    width:49%;
    float:left;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 3px;
    display:block;
    min-height: 44%;
    height:44%;
  }
}















//DRAG AND DROP Styling

  .cdk-drag-preview {
    //this is the list element you move with the mouse
    background-color: rgb(104, 230, 79);
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    //this is the location the element is dropped 
    opacity: 0;
    display: none;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .dragdropbox:last-child {
    border: none;
  }
  
  .weaknesses-list.cdk-drop-list-dragging .dragdropbox:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }  
  .controls-list.cdk-drop-list-dragging .dragdropbox:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }