
<div style="margin:1%; display:flex;">
    <p style="font-size: large;">NUDG Account</p>    <mat-icon style="margin-left: 95%;">apps</mat-icon>
    
</div>

<div style="margin:1%; display:flex;">
    <mat-icon style="margin-left: 40%;" routerLink="/PersonalInfo" routerLinkActive="active">arrow_back_ios</mat-icon>
    <p style="margin-left: .5%; font-size: xx-large;">Password</p>
</div>
<div class="example-container" >

  
    <div style="padding-left: 1%; padding-right: 1%; padding-top: 1%; background-color: white; color: black; ">
 
     <div id="basicInfo" class="basicInfo" #basicInfo>
         <h1>
            
         </h1>

         <table class="tables">
            <tr>
                <div style="margin-bottom: 3%;" class="span1">
                    <span>
                        Password:
                    </span>
                    <span class="span2">
                      password here, but asterisks
                    </span>
                           
                    <mat-icon routerLink="/ChangeName" routerLinkActive="active">
                        <!--TODO add click event here to open something to edi-->
                        forward
                    </mat-icon>
        


                </div>

            </tr>

            <!--<tr>
                <div style="margin-bottom: 3%;" class="span1">
                    <span>
                        Password
                    </span>
                    <span class="span2">
                        123
                    </span>
                           
                    <mat-icon  routerLink="/ChangePassword" routerLinkActive="active">
                        forward
                    </mat-icon>
        


                </div>
            </tr>-->
        </table>
     </div>
     <div id="contactInfo" class="contactInfo" #contactInfo>
        <h1>
           Recovery Email
        </h1>

        <table class="tables">
            <tr>
                <div style="margin-bottom: 3%;" class="span1">
                    <span>
                        Email:
                    </span>
                    <span  class="span2">
                        second email goes here
                    </span>



                </div>
            </tr>

          <!--<tr>
                <div style="margin-bottom: 3%;">
                    <span class="span1">
                        Phone
                    </span>
                    <span  class="span2">
                        123
                    </span>
       
                    <mat-icon  routerLink="/ChangePhone" routerLinkActive="active">
                        forward
                    </mat-icon>
        

                </div>
            </tr>-->  
        </table>
    </div>
    <div  id="missingSomething" class="missingSomething" #missingSomething>
        <h1>
           Missing Something?
        </h1>

        <table class="tables">
            <tr>
                <div style="margin-bottom: 3%;" class="span1">
                    <span>
                        Help Center
                    </span>
                    <span  class="span2">
                        Link to Something
                    </span>
                </div>
            </tr>
            <tr>
                <div style="margin-bottom: 3%;" class="span1">
                    <span>
                        Website Page?
                    </span>
                    <span  class="span2">
                        Link to Something
                    </span>
                </div>
                <div style="margin-bottom: 3%;" class="span1">
                    <span>
                        Link to some .Gov site?
                    </span>
                    <span class="span2">
                        Link to Something
                    </span>
                </div>
            </tr>

            <tr>
                <div style="margin-bottom: 3%;">
                    <span class="span1">
                        Search
                    </span>
                    <app-page-search >

                    </app-page-search>
                    This box is tinted to show search thing above this text... I cant change the color of it right now.


                </div>
            </tr>
        </table>
    </div>



    </div>
</div>





