div.container1{
  margin-top: 50px;
  margin-left: 25%;
  margin-right: 25%;
  align-content: center;
   padding: 20px 20px;
  box-shadow: 1px 1px 15px -1px;
  background: linear-gradient(to bottom, rgb(63,81,181) 20%, white 0%);
  
    
}
