<div class="doNotPrint">

  <mat-tab-group animationDuration="50ms"  [(selectedIndex)]= viewIndex (selectedTabChange)="tabSwitched($event)">

    <mat-tab label="All Policies" >

      <button (click)="debug()">debug</button>
      
      <form [formGroup]="policyForm">
        <mat-form-field id="policySearch">
          <mat-label>Search by Nudg id</mat-label>
          <input type="text"
                 matInput
                 formControlName='NidFilterList'
                 required
                 id="searchAll"
                 [matAutocomplete]="autoGroup">
            <mat-autocomplete #autoGroup="matAutocomplete">
              <mat-optgroup *ngFor="let entry of NidDisplayList$ " >
                <mat-option  [value]="entry.nudgid" >{{entry.nudgid}}</mat-option>
            </mat-optgroup>
          </mat-autocomplete>
        </mat-form-field>
      </form>


      <div style="display:flex;  margin:1%; overflow-y: hidden;">
        <ng-container id="wrap" *ngFor="let y of YCountforHTML; let i = index">
         <div class="column" [ngStyle]="i==0?{'margin-left': '0%'} : {'margin-left': '3%'}">
            <ng-container *ngFor="let policy of y; let j = index">
              <div style="width:50vh; height:40vh; overflow-y: hidden;">
                <div class="card">
                        <div>
                          <mat-icon  (click)="displayPolicy(policy.nudgid)" style="vertical-align: middle;">remove_red_eye</mat-icon><span style="margin-left:26%; font-size: large; ">{{policy.nudgid}}</span>  <mat-icon (click)="deletePolicy(policy)" style="vertical-align: middle;float:right">close</mat-icon>

                        </div>
                        <h2>{{ policy.Subtitle}}</h2>
                        <h3>{{ policy.Pstatus }}</h3>
      
                        
                </div>
              </div>

            </ng-container>
          </div>

        </ng-container>
      </div>

    </mat-tab>


    <mat-tab label="Edit Existing Policy"  >
      <div class="wrapper" id="wrapper" style="display:flex">

        <div id="policy" class="policy2" *ngFor="let policy of policy$ | async">
            <div class="row1">
              <form [formGroup]="policyForm">
                <mat-form-field >
                  <mat-label style="width:50%;">{{this.id}}</mat-label>
                  <input type="text"
                         matInput
                         formControlName='NidFilterList'
                         required
                         id="searchRouting"
                         [matAutocomplete]="autoGroup2">
                    <mat-autocomplete #autoGroup2="matAutocomplete">
                      <mat-optgroup *ngFor="let entry of NidDisplayList$ " >
                        <mat-option  [value]="entry.nudgid"   routerLink="/Policy/{{entry.nudgid}}"  (click)="policySearch($event, entry.nudgid)" routerLinkActive="active">{{entry.nudgid}}</mat-option>
                    </mat-optgroup>
                  </mat-autocomplete>
                </mat-form-field>
              </form>
              
      
              <div class="item2" style="flex: 1; ">
                <mat-form-field  appearance = "legacy" style="width:60%">
                  <input #subtitle (change)="updatePolicyColumn(subtitle.value,'Subtitle')" matInput value= {{policy.Subtitle}}>
                </mat-form-field>
              </div>    
      
              <div class="item2" style="flex: 1; ">
                <mat-form-field appearance="outline" color="primary" style="width: 80%;" >
    
                  <mat-select (selectionChange)="updatePolicyColumn(Pstatus.value,'Pstatus') "#Pstatus id="Pstatus" value={{policy.Pstatus}}>
                   
                      <mat-option value='Implemented' >
                          Implemented
                      </mat-option>
                      <mat-option value='In Progress' >
                          In Progress
                      </mat-option>                      
                        <mat-option value='Deficient' >
                         Deficient
                      </mat-option>
                
                  </mat-select>
                </mat-form-field> 
              </div>
            </div>
      
            <mat-tab-group style="overflow: hidden;">
              <mat-tab label="CMMC Information" style="overflow: hidden; display:flex;">
                <div style="overflow: hidden;">
                  <span style="margin: 1%; ">CMMC Number: </span>
                  <mat-form-field  appearance = "legacy" style="width:40%">
                    <input (change)="updatePolicyColumn(CMMCnumber.value,'CMMCnumber')" #CMMCnumber matInput value= {{policy.CMMCnumber}}>
                  </mat-form-field>
                  <br>
                  <span style="margin: 1%;">Nudg id: </span>
                  <mat-form-field  appearance = "legacy" style="width:40%">
                    <input 
                    (change)="updatePolicyColumn(nudgid.value,'nudgid')"  
                    #nudgid 
                    matInput 
                    value= {{policy.nudgid}}
                    #tooltip="matTooltip"
                    matTooltip="Do not change this unless you know what you are doing.">
                  </mat-form-field>
    
                  <br>
                  <span style="margin: 1%;">Capability Number: </span>
                  <mat-form-field  appearance = "legacy" style="width:40%">
                    <input (change)="updatePolicyColumn(Capabilitynumber.value,'Capabilitynumber')" matInput #Capabilitynumber value= {{policy.Capabilitynumber}}>
                  </mat-form-field>
  
                  <br>
                  <span style="margin: 1%;">Practice: </span>
                  <mat-form-field  appearance = "legacy" style="width:40%">
                    <input (change)="updatePolicyColumn(Practice.value,'Practice')" #Practice matInput value= {{policy.Practice}}>
                  </mat-form-field>
  
                  <br>
                  <span style="margin: 1%;">Clarification: </span> 
                  <br>
                  <br>
  
                    <textarea (change)="updatePolicyColumn(Clarification.value,'Clarification')" #Clarification style="text-align: left;padding:1%; " rows="18" cols="103"  value= {{policy.Clarification}}></textarea>
                </div>
               
              </mat-tab>
      
              <mat-tab label="NIST Information" style="overflow: none;">
                <div style="overflow: hidden;">
                  <span style="margin: 1%; ">NIST Mapping: </span>
                  <mat-form-field  appearance = "legacy" style="width:40%">
                    <input (change)="updatePolicyColumn(NISTmapping.value,'NISTmapping')" #NISTmapping matInput value= {{policy.NISTmapping}}>
                  </mat-form-field>
                  <br>
                  <span style="margin: 1%;">NIST Value: </span>
                  <mat-form-field  appearance = "legacy" style="width:40%">
                    <input (change)="updatePolicyColumn(NISTvalue.value,'NISTvalue')" #NISTvalue matInput value= {{policy.NISTvalue}}>
                  </mat-form-field>
                  <br>
                  <span style="margin: 1%;">Discussion: </span>
                  <div>
                    <textarea style="margin-top: 2%;" (change)="updatePolicyColumn(Discussion.value,'Discussion')" #Discussion rows="30" cols="105"  value= {{policy.Discussion}}></textarea>

                  </div>
         
             

                </div>
  
            </mat-tab>
              <mat-tab label="References" > <textarea rows="20" cols="90" #References (change)="updatePolicyColumn(References.value,'ReferencesP')" style="white-space: pre-wrap; font-size: medium; padding:1%;"> {{policy.ReferencesP}}</textarea></mat-tab>
              <mat-tab label="Guidelines" *ngFor="let guideline of guideline$ | async" >      
                <textarea rows="40" cols="90" style="font-size: medium; white-space: pre-wrap; padding:1%;">
                  {{ guideline.Guidelines }}
                  </textarea>
      
              </mat-tab>
              <mat-tab label="Comments">
                <textarea (change)="updatePolicyColumn(Comment.value,'comment')" #Comment style="text-align: left; align-content: left; margin-left: 1%; height:300px; font-size: medium;" rows="30" cols="90">{{policy.Comments}}</textarea>
    
                
              </mat-tab>
      
            </mat-tab-group>
        </div>
  
        <div style="width:50%">
              <mat-tab-group style="overflow:hidden;">
                <mat-tab label="View Standards">
              <!--THIS IS THE STANDARDS LIST-->
              <div >
      
                <mat-list>
                  <div class="flexContainer">
                    <mat-list-item class="headerRow">
                      <span class="listSpan idCol">
                        Standard ID
                      </span>
                      <span class="listSpan descCol">
                        Name
                      </span>
                    </mat-list-item>
                  </div>
              
                  <mat-list-item *ngFor="let standard of standards$ | async">
              
                      <span class="listSpan idCol">
                        {{ standard.idStandards }}    
                        </span>
                    <span class="listSpan descCol">
                      {{standard.Standard}}
                    </span>
              
                  <span style="position: absolute; right: 0;">
                      <button mat-icon-button>
                        <mat-icon
                          
                          color="primary"
                        >
                        <!--(click)="updateStandards(standard.idStandards, userInput.value)"-->
                          edit
                        </mat-icon>
                      </button>
              
                  
                      <button mat-icon-button>
                        <mat-icon (click)="deleteStandards(standard.idStandards)" color="warn">
                          delete
                        </mat-icon>
                      </button>
                    </span> 
                  </mat-list-item>
                </mat-list>
              
              </div>
                </mat-tab>
                <mat-tab label="Add Standard">
                  <app-standards-form [id$] ="id" id="standard" style="width:100%; height:100%;">
                  </app-standards-form>
                </mat-tab>
  
              </mat-tab-group>
  
        
              <mat-tab-group [(selectedIndex)]= gapMatTabIndex style="margin-top: 5%;" >
                <mat-tab label="Gap History">
                  <mat-list>
                    <div class="flexContainer">
                      <mat-list-item class="headerRow">
                        <span class="listSpan idCol">
                          Date
                        </span>
                        <span class="listSpan descCol">
                          Status
                        </span>
                      </mat-list-item>
                    </div>
                
                    <mat-list-item *ngFor="let gap of gapTableData; let i = index">
                
                        <span style="min-width:15%">
                        {{ gap[2] | date: 'MM/dd/yyyy'}}    
                        </span>
         
                        <span style="min-width:50%; margin-right:20%;">
                          {{ gap[1] }}  
                        </span>
              
  
                        <button mat-icon-button>
                          <mat-icon (click)="setGapView(gapTableData[i][2], 1)" color="black">
                            remove_red_eye
                          </mat-icon>
                        </button>
  
                        <button mat-icon-button>
                          <mat-icon  routerLink="/Policy/{{id}}/{{gapTableData[i][0]}}" color="black">
                            edit
                          </mat-icon>
                        </button>
                
                    
                        <button mat-icon-button>
                          <mat-icon (click)="deleteStandards(gap)" color="warn">
                            delete
                          </mat-icon>
                        </button>
              
                    </mat-list-item>
                  </mat-list>
                </mat-tab>
                <mat-tab label="View Gap" >
                  <div style="background-color: white;"> <!--color inbetween entries-->
                    <div *ngFor="let entry of viewGapData" style="font-size: larger;background-color: white; border: 2px solid #000000;"> <!--color of entire entry block-->
                      <div style="margin:1%;">
                        {{entry.Gquestion}}
                      </div>
                      <div style="margin:1%;">
                        {{entry.Ganswer}}
                      </div>
                      <div style="margin:1%;" *ngIf="entry.Gcomment"> 
                        Comment : {{entry.Gcomment}}
                      </div>
                  </div>
  
                    
  
                  </div>  
                </mat-tab>
        
              </mat-tab-group>
  
        </div>
  
  
      </div>
      </mat-tab>


      <mat-tab label="Add Policies" >
        <app-policy-form>
          
        </app-policy-form>

      </mat-tab>

   

      </mat-tab-group>

</div>


