<div style="justify-content: center;display: flex;">
    <div class="container1">
 
        <div style="justify-content: center;">  
            
            <p id="title" style="font-size: 30px; margin-bottom: 40px;margin-left: 25%;color: white;margin-top: 20px;font-weight: bold"> Shared Resources</p>
              
              <mat-form-field appearance="outline" color="primary" style="width: 90%;">
                <mat-label >Title</mat-label>
                <input #SRtitle matInput  id="Input" placeholder="Milestone ID">
                </mat-form-field>
      
                <br>
                <mat-form-field color="primary" appearance="outline" id="descriptionBox" style="width: 90%;">
                
                <mat-label> Description</mat-label>
                <input #SRdescription matInput   placeholder="Milestone Description" >
              </mat-form-field>
              <div class="fileInput" style="margin-left: 1%;">
                <input #SRupload class="ng-hide" id="input-file-id" multiple type="file" />
                <label for="input-file-id" class="md-button md-raised md-primary"></label>
            </div>


                <button mat-raised-button  (click)="submit(SRtitle.value, SRdescription.value, SRupload.value)" color="primary" style ="width: 100px; margin: 8px;font-weight: bold;">Submit</button>
          </div>

      </div>
    </div>