<mat-toolbar  class="tools" style="height: 8vh;">

    <mat-toolbar-row>
        <button mat-raised-button (click)="openDialog($event);" style="margin-left: 48%;margin-top: 30px;"> Add Procedures</button>

    </mat-toolbar-row>

</mat-toolbar>



<div id="procedures" class="procedures" style="width:100%">
    <mat-list>

          <mat-list-item class="headerRow">
            <span class=" idCol">
              ID
            </span>
            <span class=" nameCol">
              Procedure
            </span>
            <span class=" statusCol">
              Status
            </span>
            <span class=" descCol">
              Description
            </span>
            <span class=" dateCol">
              Completion Date 
            </span>
            <input class="searchBox" style="margin-left: 127px;" type="text" #searchprocedure id='searchprocedure' (keyup)="filterprocedure()" placeholder="search" />

          </mat-list-item>
  
    
      <mat-list-item *ngFor="let procedure of procedures$ | async">
        <div style="display: flex;" *ngIf="procedure.PProcedure.toLowerCase().indexOf(searchprocedure.value)!== -1 || procedure.Pstatus.toLowerCase().indexOf(searchprocedure.value)!== -1">

        <span class="listSpan idCol" >
          {{ procedure.idOrgProcedure }}    
          </span>

        <span class="listSpan nameCol" >
          {{procedure.PProcedure}}
        </span>

        <span class="listSpan statusCol" >
          {{procedure.Pstatus}}
        </span>
        <span class="listSpan descCol">
          {{procedure.Pdescription}}
        </span>

        <span class="listSpan dateCol" >
          {{procedure.Pstatusdate | date:'M/d/yy,   h:mm a'}}
        </span>

    
    
       <span style="position: absolute; right: 0;">
          <button mat-icon-button>
            <mat-icon
              
              color="primary"
            >
            <!--(click)="update(procedure.idOrgProcedure, userInput.value)"-->
              edit
            </mat-icon>
          </button>
    
      
          <button mat-icon-button>
            <mat-icon (click)="delete(procedure.idOrgProcedure)" color="warn">
              delete
            </mat-icon>
          </button>
        </span> 
        </div>
      </mat-list-item>
    </mat-list>
    

<mat-dialog-content class="dialog">

</mat-dialog-content>

<!-- Use div.procedures height to change table size on dialog popout-->


