#procedures {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#procedures td, #procedures th {
    border: 1px solid #ddd;
    padding: 8px;
}

#procedures tr:nth-child(even){background-color: #f2f2f2;}

#procedures tr:hover {background-color: #ddd;}

#procedures th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

//CSS for LIST
.flexContainer{
    display:flexbox;
}
.listSpan {
    float:1;
}
.headerRow {
    position:relative;
}

.mat-list >  .mat-list-item:nth-child(2n+1){

    background-color:white;
  }
  .mat-list >  .mat-list-item:nth-child(2n){

    background-color:rgb(230, 228, 228);
  }

  .mat-list > .mat-list-item{
    border: 1px solid black;
    justify-content: center;

  }
  div.procedures{

    width:100%;
 
}


  .idCol{
    width:60px;
    min-width: 60px;
    text-align: left;

  }
  .nameCol{
    margin-left: 30px;
    width:150px;
    min-width: 150px;
    text-align: left;

  }
  .descCol{
    width:150px;
    min-width: 150px;
    text-align: left;
    margin-left: 5%;
  }
  
  .dateCol{
    width:250px;
    min-width: 250px;
    text-align: left;
    margin-left: 5%;
  }

  .statusCol{
    width:200px;
    min-width: 200px;
    text-align: left;
    margin-left: 5%;
  }