
<mat-accordion class ="accordion" style="background-image: radial-gradient(circle, #809299, #728890, #637d88, #557380, #476978);">

      
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false"
                       style="background-image: radial-gradient(circle, #809299, #728890, #637d88, #557380, #476978);">
    <mat-expansion-panel-header>
      <mat-panel-title style="color: black;">
        Add a Role
      </mat-panel-title>
      <mat-panel-description  style="color: black;" class="description">
       Open panel to add a Role 
      </mat-panel-description>



   


    </mat-expansion-panel-header>
    <mat-card>
    <RoleGroupForms>
      </RoleGroupForms>
    </mat-card>
      
  </mat-expansion-panel>

</mat-accordion>



<mat-dialog-content class="dialog">
</mat-dialog-content>


<mat-list>
  <div class="flexContainer">
    <mat-list-item class="headerRow">
      <span class=" idCol">
        ID
      </span>
      <span class=" descCol">
        Description
      </span>

    </mat-list-item>
  </div>

  <mat-list-item *ngFor="let role of roles$ | async">

    <span class=" idCol">
      {{ role.idOrgRoles }}  
    </span>

    <span class=" descCol">
      {{role.Rdescription}}
    </span>



   <span style="position: absolute; right: 0;">
      <button mat-icon-button>
        <mat-icon
          
          color="primary"
        >
          edit
        </mat-icon>
      </button>

  
      <button mat-icon-button>
        <mat-icon (click)="delete(role.idOrgRoles)" color="warn">
          delete
        </mat-icon>
      </button>
    </span> 
  </mat-list-item>
</mat-list>





