
<mat-accordion class ="accordion" style="background-image: radial-gradient(circle, #809299, #728890, #637d88, #557380, #476978);">

      
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false"
                       style="background-image: radial-gradient(circle, #809299, #728890, #637d88, #557380, #476978);">
    <mat-expansion-panel-header>
      <mat-panel-title style="color: black;">
        Add a Role
      </mat-panel-title>
      <mat-panel-description  style="color: black;" class="description">
       Open panel to add a Role 
      </mat-panel-description>



   


    </mat-expansion-panel-header>



      <h2 style="margin-left: 1%">
          Roles 
      </h2>

  
      <div class = "row">
              
          <div class ="col">
              <mat-divider style="padding-top: 3px; padding-bottom: 3px; "></mat-divider>

              <h1 style="margin-left: 1%;">Roles</h1>
              <mat-form-field  appearance = "fill" style="width:70%; border-color: white;">
                  <input id="URGroles" #URGroles matInput placeholder = "Role">
              </mat-form-field>





              <mat-form-field appearance="outline" color="primary" style="width: 40%;" >
                  <mat-label>Role Type</mat-label>
                  <mat-select [(value)]="Rroletype$" #Rroletype >
                          <mat-option value="Restricted" >
                              Restricted
                          </mat-option>
                          <mat-option value="Standard" >
                              Standard
                          </mat-option>
                          <mat-option value="Privileged" >
                              Privileged
                          </mat-option>
                  </mat-select>
                  </mat-form-field>




              <mat-form-field appearance = "fill" style="width:70%">
                  <input id="Rdescription" #Rdescription matInput placeholder = "Description">
              </mat-form-field>



              <mat-form-field appearance="outline" color="primary" style="width: 70%;" >
                  <mat-label>Users</mat-label>
                  <mat-select [(value)]="URGusers$" #URGusers  >
                      <div *ngFor="let user of users$ | async">
                          <mat-option value={{user.Ufname}} >
                              {{user.Ufname}}
                          </mat-option>
                      </div>
              

                  </mat-select>
                  </mat-form-field>


              <div class = "row2">
                  <mat-divider style="padding-top: 3px; padding-bottom: 3px;"></mat-divider>
  
            <button mat-raised-button (click)="submit(URGroles.value, Rroletype.value, Rdescription.value, URGusers.value)" style="margin-left:47%;" color="primary">Submit</button>
            <button mat-raised-button style="margin-left: 1%;" type="reset"  color="primary"  >Reset</button>
              </div>
          </div>

          
      </div>






  </mat-expansion-panel>

</mat-accordion>



<mat-dialog-content class="dialog">
</mat-dialog-content>


<mat-list>
  <div class="flexContainer">
    <mat-list-item class="headerRow">
      <span class=" idCol">
        Role
      </span>
      <span class=" descCol">
        Description
      </span>
      <span class=" descCol">
        Role Type
      </span>
      <span class=" descCol">
        User
      </span>

    </mat-list-item>
  </div>

  <mat-list-item *ngFor="let role of roles$ | async" (click)="populateForm(role)">

    <span class=" idCol">
      {{ role.URGroles }}  
    </span>

    <span class=" descCol">
      {{role.Rdescription}}
    </span>
    <span class=" descCol">
      {{role.Rroletype}}
    </span>
    <span class=" descCol">
      {{role.URGusers}}
    </span>



   <span style="position: absolute; right: 0;">
      <button mat-icon-button>
        <mat-icon
          (click)="update(URGroles.value, Rroletype.value, Rdescription.value, URGusers.value, role.idOrgRoles);$event.stopPropagation()"
          color="primary"
        >
          edit
        </mat-icon>
      </button>

  
      <button mat-icon-button>
        <mat-icon (click)="delete(role.idOrgRoles)" color="warn">
          delete
        </mat-icon>
      </button>
    </span> 
  </mat-list-item>
</mat-list>





