<mat-accordion class ="accordion">
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false"
                       >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Add a CUI Contract Item
      </mat-panel-title>
      <mat-panel-description class="description">
       Open panel to add a CUI Contract Item
      </mat-panel-description>

    </mat-expansion-panel-header>

  
      <div class="container1" style="margin:0px;padding: 0px;">
    
  
              <h2 style=" margin-left: 1%; margin-top: 1%; font-size: 32px;color: rgb(0, 0, 0);">
                  CUI Contracts
              </h2>
      
      
              
              <div class = InputContainer>
                  <div class = "row">
                      <div class ="col">
                          <h1 style="margin-left: 1%;">Info</h1>
                          <mat-form-field  appearance = "legacy" style="width:40%">
                              <input matInput placeholder = "Contract ID">
                          </mat-form-field>
                          <mat-form-field appearance = "legacy" style="width:40%">
                              <input id="CCname" #CCname matInput placeholder = "Contract Name">
                          </mat-form-field>
                          <mat-form-field appearance = "legacy" style="width:80%">
                              <input id="CCnum" #CCnum matInput placeholder = "Contract Number" >
                          </mat-form-field>



                          <mat-form-field style="width: 40%;background: transparent;" appearance="fill" class="datepicker datepicker5" id="datepicker5">
                            <mat-label >Contract Start Date</mat-label>
                            <input 
                            #CCstartDate  
                            matInput 
                            [matDatepicker]="datepicker5"
                            />
                            <mat-datepicker-toggle matSuffix [for]="datepicker5"></mat-datepicker-toggle>
                            <mat-datepicker #datepicker5>
                            <mat-datepicker-actions>
                                <button mat-button matDatepickerCancel>Cancel</button>
                                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                            </mat-datepicker-actions>
                            </mat-datepicker>
                        </mat-form-field>

                        <mat-form-field style="width: 40%;background: transparent;" appearance="fill" class="datepicker datepicker0" id="datepicker0">
                          <mat-label >Contract End Date</mat-label>
                          <input 
                          #CCendDate  
                          matInput 
                          [matDatepicker]="datepicker0"
                          />
                          <mat-datepicker-toggle matSuffix [for]="datepicker0"></mat-datepicker-toggle>
                          <mat-datepicker #datepicker0>
                          <mat-datepicker-actions>
                              <button mat-button matDatepickerCancel>Cancel</button>
                              <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                          </mat-datepicker-actions>
                          </mat-datepicker>
                      </mat-form-field>



                      <mat-form-field appearance = "legacy" style="width:40%">
                        <input #CCurl matInput placeholder = "URL">
                    </mat-form-field>

                          <mat-form-field appearance = "legacy" style="width:40%">
                              <input #CCdescription matInput placeholder = "Description">
                          </mat-form-field>
                          <mat-form-field appearance = "legacy" style="width:40%">
                              <input matInput placeholder = "Primary Asset Relation">
                          </mat-form-field>

                          <h3>Government Provided CUI</h3>
                          <textarea #CCgovCUI  style="text-align: left; align-content: left; margin-left: 1%; " rows="4" cols="38"></textarea>

                          <h3>Newly Added CUI</h3>
                          <textarea #CCnewCUI  style="text-align: left; align-content: left; margin-left: 1%; " rows="4" cols="38"></textarea>

                          <h3>Modified CUI</h3>
                          <textarea #CCmodCUI style="text-align: left; align-content: left; margin-left: 1%; " rows="4" cols="38"></textarea>
                      </div>
  
                      <div class ="col">
                          <h1 style="margin-left: 1%;"> Contact</h1>
                                  

                          <mat-form-field appearance="outline" color="primary" style="width: 40%;" >
                            <mat-label >Supplier Relation</mat-label>
                            <mat-select #CCsupplierRelation id="Input" multiple>
                                <div *ngFor="let supplier of suppliers$ | async">
                                    <mat-option value={{supplier.idSuppliers}} >
                                        {{supplier.Sname}}
                                    </mat-option>
                                </div>
                            </mat-select>
                          </mat-form-field>  

                          <mat-form-field appearance="outline" color="primary" style="width: 40%;" >
                            <mat-label >Vendor Relation</mat-label>
                            <mat-select #CCvendorRelation id="Input" multiple>
                                <div *ngFor="let vendor of vendors$ | async">
                                    <mat-option value={{vendor.idVendors}}>
                                        {{vendor.Vname}}
                                    </mat-option>
                                </div>
                            </mat-select>
                          </mat-form-field>  

                          <mat-form-field appearance="outline" color="primary" style="width: 40%;" >
                            <mat-label >Account Manager</mat-label>
                            <mat-select #CCaccountManager id="Input" multiple>
                                <div *ngFor="let user of users$ | async">
                                    <mat-option value={{user.idOrgUsers}}>
                                        {{user.Ufname}}
                                    </mat-option>
                                </div>
                            </mat-select>
                          </mat-form-field>

                          <mat-form-field appearance="outline" color="primary" style="width: 80%;" >
                            <mat-label >Network devices that store, or have access to, information in this CUI contract</mat-label>
                            <mat-select #CCvendorRelation id="Input" multiple>
                                <div *ngFor="let item of inventories$ | async">
                                    <mat-option value={{item.idOrgInventory}}>
                                        {{item.IassetIdentifier}}
                                    </mat-option>
                                </div>
                            </mat-select>
                          </mat-form-field>

                          <mat-form-field appearance="outline" color="primary" style="width:80%;" >
                            <mat-label >Personnel that have access to this CUI contract's information Manager</mat-label>
                            <mat-select #CCusers id="Input" multiple>
                                <div *ngFor="let user of users$ | async">
                                    <mat-option value={{user.idOrgUsers}}>
                                        {{user.Ufname}}
                                    </mat-option>
                                </div>
                            </mat-select>
                          </mat-form-field>
                      
                        <div class = "row2">
                            <div class="fileInput" style="margin-left: 1%; float:1; width:25%;">
                                <input #CCfileInput class="ng-hide" id="input-file-id" multiple type="file" />
                                <label for="input-file-id" class="md-button md-raised md-primary"></label>
                            </div>
        
            
                            <button mat-raised-button (click)="post(CCname.value, CCnum.value, CCstartDate.value, CCendDate.value, CCdescription.value, CCaccountManager.value, CCsupplierRelation.value, CCvendorRelation.value, CCfileInput.value, CCurl.value, CCgovCUI.value, CCnewCUI.value, CCmodCUI.value )"  style="margin-left: 15%;width:25%;height: 5vh; float: 2;" color="primary"  >Submit</button>
                        </div>
          
          
                    </div>
                  </div>
                    
          </div>
      </div>
          
  
  </mat-expansion-panel>

</mat-accordion>


<mat-list>

    <mat-list-item class="headerRow">
      <span class="listSpan">
        Name
      </span>
      <span class="listSpan">
        Number
      </span>
      <span class="listSpan">
        Description
      </span>
      <span class="listSpan">
        Start Date
      </span>
      <span class="listSpan">
        End Date
      </span>
      <span class="listSpan">
        Account Manager
      </span>
      <span class="listSpan">
        Supplier Relation
      </span>
      <span class="listSpan">
        Vendor Relation
      </span>
      <span class="listSpan">
        Government CUI
      </span>
      <span class="listSpan">
        New CUI
      </span>
      <span class="listSpan">
        Modified CUI
      </span>
    </mat-list-item>


  <mat-list-item *ngFor="let contract of cuicontracts$ | async" (click)="populateForm(contract);$event.stopPropagation();">

    <span class="listSpan ">
    {{ contract.CCname }}    
    </span>
    <span class="listSpan ">
      {{contract.CCnum}}
    </span>
    <span class="listSpan ">
      {{contract.CCdescription}}
    </span>
    <span class="listSpan ">
      {{contract.CCstartDate}}
    </span>
    <span class="listSpan ">
      {{contract.CCendDate}}
    </span>
    <span class="listSpan ">
      {{contract.CCaccountManager}}
    </span>
    <span class="listSpan ">
      {{contract.CCsupplierRelation}}
    </span>
    <span class="listSpan ">
      {{contract.CCvendorRelation}}
    </span>
    <span class="listSpan ">
      {{contract.CCgovCUI}}
    </span>
    <span class="listSpan ">
      {{contract.CCnewCUI}}
    </span>
    <span class="listSpan ">
      {{contract.CCmodCUI}}
    </span>

   <span style="position: absolute; right: 0;">
      <button mat-icon-button>
        <mat-icon
          (click)="update(CCname.value, CCnum.value, CCstartDate.value, CCendDate.value, CCdescription.value, CCaccountManager.value, CCsupplierRelation.value, CCvendorRelation.value, CCfileInput.value, CCurl.value, CCgovCUI.value, CCnewCUI.value, CCmodCUI.value, contract.idCUIcontracts);$event.stopPropagation();"
          color="primary"
        >
          edit 
        </mat-icon>
      </button>

  
      <button mat-icon-button>
        <mat-icon (click)="delete(contract.idCUIcontracts)" color="warn">
          delete
        </mat-icon>
      </button>
    </span> 
  </mat-list-item>
</mat-list>






