<mat-accordion class ="accordion">
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false"
                       >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Add a CUI Contract Item
      </mat-panel-title>
      <mat-panel-description class="description">
       Open panel to add a CUI Contract Item
      </mat-panel-description>

    </mat-expansion-panel-header>

  
      <div class="container1" style="margin:0px;padding: 0px;">
    
  
              <h2 style=" margin-left: 1%; margin-top: 1%; font-size: 32px;color: rgb(0, 0, 0);">
                  CUI Contracts
              </h2>
      
      
              
              <div class = InputContainer>
                  <div class = "row">
                      <div class ="col">
                          <h1 style="margin-left: 1%;">Info</h1>
                          <mat-form-field  appearance = "legacy" style="width:40%">
                              <input matInput placeholder = "Contract ID">
                          </mat-form-field>
                          <mat-form-field appearance = "legacy" style="width:40%">
                              <input #CCname matInput placeholder = "Contract Name">
                          </mat-form-field>
                          <mat-form-field appearance = "legacy" style="width:80%">
                              <input #CCnum matInput placeholder = "Contract Number" >
                          </mat-form-field>
                          <mat-form-field appearance = "legacy" style="width:40%">
                              <input #CCstartDate matInput placeholder = "Contract Start Date">
                          </mat-form-field>
                          <mat-form-field appearance = "legacy" style="width:40%">
                              <input #CCendDate matInput placeholder = "Contract End Date">
                          </mat-form-field>
                          <mat-form-field appearance = "legacy" style="width:40%">
                              <input #CCdescription matInput placeholder = "Description">
                          </mat-form-field>
                          <mat-form-field appearance = "legacy" style="width:40%">
                              <input matInput placeholder = "Primary Asset Relation">
                          </mat-form-field>

                      </div>
  
                      <div class ="col">
                          <h1 style="margin-left: 1%;"> Contact</h1>
                                  

                          <mat-form-field appearance = "legacy"  style="width:80%">
                              <input  matInput placeholder = "Supplier Relation">
                          </mat-form-field>
                          <mat-form-field appearance = "legacy" style="width:80%">
                              <input matInput placeholder = "Vendor Relaton">
                          </mat-form-field>
                          <mat-form-field appearance = "legacy" style="width:40%" >
                              <input matInput placeholder = "Business Phone">
                          </mat-form-field>
                          <mat-form-field appearance = "legacy" style="width:40%" >
                              <input matInput placeholder = "Cell Phone">
                          </mat-form-field>
  
  

                      
                        <div class = "row2">
                            <div class="fileInput" style="margin-left: 1%; float:1; width:25%;">
                                <input  class="ng-hide" id="input-file-id" multiple type="file" />
                                <label for="input-file-id" class="md-button md-raised md-primary"></label>
                            </div>
        
            
                            <button mat-raised-button (click)="post(CCname.value, CCnum.value, CCstartDate.value, CCendDate.value, CCdescription.value)"  style="margin-left: 15%;width:25%;height: 5vh; float: 2;" color="primary"  >Submit</button>
                        </div>
          
          
                    </div>
                  </div>
                    
          </div>
      </div>
          
  
  </mat-expansion-panel>

</mat-accordion>


<mat-list>
  <div class="flexContainer">
    <mat-list-item class="headerRow">
      <span class="idCol">
        ID
      </span>
      <span class="nameCol">
        Name
      </span>
      <span class="date1Col">
        Start Date
      </span>
      <span class="date2Col">
        End Date
      </span>
      <span class="numCol">
        Number
      </span>
    </mat-list-item>
  </div>

  <mat-list-item *ngFor="let contract of cuicontracts$ | async">

    <span class="listSpan idCol">
    {{ contract.idCUIcontracts }}    
    </span>
    <span class="listSpan nameCol">
      {{contract.CCname}}
    </span>
    <span class="listSpan date1Col">
      {{contract.CCstartDate}}
    </span>
    <span class="listSpan date2Col">
      {{contract.CCendDate}}
    </span>
    <span class="listSpan numCol">
      {{contract.CCnum}}
    </span>



   <span style="position: absolute; right: 0;">
      <button mat-icon-button>
        <mat-icon
          (click)="update(CCname.value, CCnum.value, CCstartDate.value, CCendDate.value, CCdescription.value, contract.idCUIcontracts)"
          color="primary"
        >
          edit
        </mat-icon>
      </button>

  
      <button mat-icon-button>
        <mat-icon (click)="delete(contract.idCUIcontracts)" color="warn">
          delete
        </mat-icon>
      </button>
    </span> 
  </mat-list-item>
</mat-list>






