

<form class="example-form">
  
    <input class="searchComponent" type="text"  style ="width: 85%;color: rgb(0, 0, 0); background: transparent; border-top: transparent;border-left: transparent; border-right: transparent; border-bottom: 1px solid white;"
           placeholder="Search Pages"
           
           [formControl]="myControl"
           [matAutocomplete]="auto">
      
    <mat-autocomplete #auto="matAutocomplete" >
      <mat-option  id="options" *ngFor="let page of filteredPages | async" [value]="page" routerLink="{{page}}" (keydown)="handleKeyDown($event, page)" routerLinkActive="active">
        {{page}}
      </mat-option>
    </mat-autocomplete>
  </form>
  
<!--
  <input placeholder="Enter some text" name="name"/>::placeholder{
    color: white;
}
input:focus{
    border: transparent;
}
<p id="values"></p>



<script>
const input = document.querySelector('input');
const log = document.getElementById('values');

input.addEventListener('input', updateValue);

function updateValue(e) {
  log.textContent = e.target.value;
  console.log(log.textContent)
}
</script>
-->
