<div class ="dropzone" appDragDrop style="margin-top: 5%;">
    <input 
    type="file" 
    #fileDropRef 
    id="fileDropRef" 
    multiple 
    (change)="uploadFile($event)"/>
    <div style="margin-top: 10%;">
        <h3>Drag and drop file here</h3>
        <h3>or</h3>
        <label for="fileDropRef">Browse for a file</label>
    </div>


</div>
<mat-radio-group class="radio-group"  appearance = "legacy" aria-label="Select an option" style="margin-left: 40%;">
    <mat-radio-button #WvendorDependency color="primary" class="qs"  value="1">Weaknesses</mat-radio-button>
    <mat-radio-button #WvendorDependency style="margin-left: 1%" class="qs" value="2">Controls </mat-radio-button> 
    <mat-radio-button #WvendorDependency style="margin-left: 1%" class="qs" value="3">Standards </mat-radio-button> 
    <mat-radio-button #WvendorDependency style="margin-left: 1%" class="qs" value="4">Gap</mat-radio-button> 


</mat-radio-group>

<!--(change)="fileBrowseHandler($event.target.files)"-->