div.container1{
    margin-left:auto;
    margin-right: auto;
    width:100%;
    box-shadow: 1px 1px 15px -1px ;
    background: linear-gradient(to bottom, rgb(63,81,181) 8%, rgb(255, 255, 255) 0%);
    overflow: hidden;
 //  height:600px;
      
  }

mat-grid-tile{
    width: 98px;
    margin:auto;
}
mat-form-field{
    margin-left: 1%;
}

.col{
    float:left;
    padding:1%;
    width: 20%; 
}

.row2{
    width:100%;
    align-items: center;
    clear:both;
    padding-left: 2px;
    padding-right: 2px;
}
.mat-raised-button{
    margin-top: 1%;
    margin-bottom: 15px;
}



//CSS for LIST
.flexContainer{
    display:flexbox;
}
.listSpan {
    position:relative;
    float:1;
}
.headerRow {
    position:relative;
}

.mat-list >  .mat-list-item:nth-child(2n+1){

    background-color:rgb(255, 255, 255);
  }
  .mat-list >  .mat-list-item:nth-child(2n){

    background-color:rgb(230, 228, 228);
  }

  .mat-list > .mat-list-item{
    border: 1px solid black;
    justify-content: center;

  }

  #table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #table td, #table th {
    border: 1px solid rgb(0, 0, 0);
    padding: 8px;
  }
  
  #table tr:nth-child(even){background-color: #f2f2f2;}
  
  #table tr:hover {background-color: #ddd;}
  
  #table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  .col1{
      min-width: 10px;
      max-width: 10px;
  }
  .col2{
    min-width: 100px;
    max-width: 100px;
}

