<div class="container1 " style="height:600px;">

 
        <h2 style=" font-size: 32px;color: white;">
            Gap Assessment
        </h2>






        <span style="margin-left: 30%;font-size: 32px;">Status: {{gapStatus}}</span>

        <button class ="colSmall" (click)="submitGap()" class="editToggle"  style=" background-color: palegoldenrod; box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; margin-left: 14%; margin-top: 1%;">
            Submit
        </button>

        <div class="col" style="width:20%">
            <div class ="colSmall" style=" background-color: palegoldenrod; box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; margin-top: 15px;">
                <form [formGroup]="policyForm">
                    <mat-form-field id="policySearch">
                      <mat-label>{{id$}}</mat-label>
                      <input type="text"
                             matInput
                             formControlName='NidFilterList'
                             required
                             [matAutocomplete]="autoGroup">
                        <mat-autocomplete #autoGroup="matAutocomplete">
                          <mat-optgroup *ngFor="let entry of NidDisplayList$ " >
                            <mat-option  [value]="entry.Nid"  (click)="setNid($event, entry.Nid, displayDate$)" routerLinkActive="active">{{entry.Nid}}</mat-option>
                        </mat-optgroup>
                      </mat-autocomplete>
                    </mat-form-field>
                  </form>

               

<!--2nd for loop part routerLink="/Policy/{{name}}" (click)="policySearch($event, name)" routerLinkActive="active" -->

            <form [formGroup]="dateForm">
                <mat-form-field id="dateSearch" >
                <mat-label>{{displayDate$}}</mat-label>
                <input type="text"
                        formControlName='DateFilterList'
                        #dateInput
                        matInput
                        required
                        [matAutocomplete]="auto"
                        (change)="toggleNewDate(dateInput.value)"
                         >
                    <mat-autocomplete #auto="matAutocomplete">
                    <mat-optgroup >
                        <ng-container *ngFor="let entry of DateDisplayList$ ">
                            <mat-option #date [value]=entry.Gdate (click)="setDate($event, entry.Gdate, id$)" routerLinkActive="active">{{entry.Gdate}}</mat-option>
                        </ng-container>
                    </mat-optgroup>
                </mat-autocomplete>
                </mat-form-field>
            </form>

            </div>


    
        <div class ="colSmall" style=" background-color: palegoldenrod; box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; margin-top: 30px;">
            <span style="font-size: small;">
                Enable Editing
            </span>
            <button mat-icon-button>
                <mat-icon id="qToggleIcon" color="primary" (click)="toggleQuestionEdit()">
                    check_box_outline_blank
                </mat-icon>
            </button>

            <span style="font-size: small;">
                Hide Comments 
            </span>
            <button mat-icon-button>
                <mat-icon id="commentToggleIcon" color="primary" (click)="toggleComment()">
                    check_box_outline_blank
                </mat-icon>
            </button>


        </div>
            <button class ="colSmall" (click)="addQuestion()" class="editToggle" style=" background-color: palegoldenrod; box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; margin-top: 30px; margin-left: 25%;">
                Add Question
            </button>
            

            <br>
            <br>
            <br>
            <br>
            <br>
            <span>*Changes are not saved until 'Submit' is pressed!*</span>

 

        </div>
            <div class ="col" style="width:80%; overflow: scroll;  height:550px" >
                <div *ngFor="let entry of displayList$; let i = index" [attr.data-index]="i">        

                <table class="table" style="width:100%;">
                    <tr>
                        <textarea style="font-size: large; resize:none;"[disabled]="!editing" #Gquestion class="editToggle" matInput value="{{entry.Gquestion}}" (change)="onQuestionChange(i, Gquestion.value)"></textarea>
                        <!--
                        <span style="margin-left:1.5%">Status: {}</span>
                        <span style="margin-left:1.5%">Import</span>

                        -->
    

                    </tr>
                    <tr>
                        <td>
                            <!-- Below ternary statement translates to : If answer is yes, show "import as control".
                                                            If answer is Weakness, show "import as weakness"
                                                            Otherwise nothing
                            -->
                            <span [ngStyle]="editing?{'color': 'black'} : {'color': 'grey'}" *ngIf="entry.Ganswer == 'Yes' || entry.Ganswer == 'Weakness' " style="margin-left: 63.5%;"> {{entry.Ganswer == 'Yes' ? "Import as Control" : entry.Ganswer == "Weakness" ?  "Import as Weakness" : ""}}</span>


                            <mat-form-field class= "col2" appearance="legacy" color="primary" style="width: 20%; float:left" >
                                <mat-label >Answer</mat-label>
                                <mat-select [disabled]="!editing" (selectionChange)="onAnswerChange(i, Ganswer.value)" #Ganswer value="{{entry.Ganswer}}" id="Input">
                                    <mat-option #Ganswer value="Yes" >
                                        Yes
                                    </mat-option>
                                    <mat-option #Ganswer value="Partial" >
                                        Partial
                                    </mat-option>
                                    <mat-option #Ganswer value="Weakness" >
                                        Weakness
                                    </mat-option>
                                </mat-select>
                              </mat-form-field>
                            
                        <div id="comments" class="comment" class="editToggle">
                            <textarea [disabled]="!editing" #Gcomment [ngStyle]="showComments?{'visibility': 'visible'} : {'visibility': 'hidden'}" class="comment"  class="editToggle" value="{{entry.Gcomment}}" (change)="onCommentChange(i, Gcomment.value)" id="comment" style="float:left; text-align: left; align-content: left; margin-left: 20%; height:50px; " rows="2" cols="70"></textarea>
                        </div>

                        <button mat-icon-button class="editToggle" style="margin-left: 2%;">
                            <mat-icon [ngStyle]="editing?{'color': 'red'} : {'color': 'grey'}" class="editToggle" (click)="deleteEntry(i)" color="warn">
                              delete
                            </mat-icon>
                          </button>

                        <button [disabled]="!editing" *ngIf="entry.Ganswer == 'Yes' || entry.Ganswer == 'Weakness'" mat-icon-button class="editToggle" style="margin-left: 4%;">
                        <mat-icon id="importQuestionToggle"[ngStyle]="editing?{'color': 'black'} : {'color': 'grey'}" class="editToggle" (click)="importToggle(entry,$event)">
                            check_box_outline_blank
                        </mat-icon>
                        </button>

                        

                        </td>
                    </tr>
                </table>        
           
           
            </div>
            <br>
            <br>
            <br>
            <span >References: {{Greference$}}</span>

        </div>
</div>

<!--

            <div class = "row2">
                <mat-divider style="padding-top: 3px;"></mat-divider>

                <button mat-raised-button [mat-dialog-close]="true" (click)="onFormSubmit();"  style="margin-left: 15%;width:20vw;height: 5vh; float: left;" color="primary"  >Submit</button>
                
                <button mat-raised-button  (click)="onFormReset();" style="margin-right: 15%;width:20vw;height: 5vh;float: right;" type="reset"  color="primary"  >Reset</button>
            </div>
        

-->

