div.container1{
    padding: 5px;
    margin-top: 10px;
    margin-left:auto;
    margin-right: auto;
    width:65%;
    height: 800%;
    box-shadow: 1px 1px 15px -1px ;
    background: linear-gradient(to bottom, #212121 1%, white 0%);
    background-color: rgb(255, 255, 255);

    overflow: hidden;
    border-radius: 3px;   
  }

 
mat-grid-tile{
    width: 98px;
}

mat-form-field{
    margin-left: 1%;
    margin-top: 0px;
    margin-bottom: 0px;
    
    
}

div.cards{   
    display: flexbox;
}

.qs {
 margin-left: 3%;
}

.col{
    float:left;
    width: 31%;
    padding:1%;
  
}

.row2{
    width:100%;    
    clear:both;
    display: flexbox;
}

.mat-divider {
    display: block;
    margin: 0;
    border-top-width: 1px;
    border-top-style: solid;
    margin-bottom: 15px;
 }


//CSS for LIST
.flexContainer{
    display:flexbox;
}
.listSpan {
    width:6%;
    min-width: 6%;
   // margin-left: 1%;
    text-align: left;
    margin-right: 1%;


}
.headerRow {
    position:relative;
    background-color: white;
}

.mat-list >  .mat-list-item:nth-child(2n+1){

    background-color:white;
  }
  .mat-list >  .mat-list-item:nth-child(2n){

    background-color:rgb(230, 228, 228);
  }

  .mat-list > .mat-list-item{
    border: 1px solid black;
    justify-content: center;

  }