div.container1{
    padding: 5px;
    margin-top: 50px;
    margin-left:auto;
    margin-right: auto;
    width:98%;
    box-shadow: 1px 1px 15px -1px ;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
      
  }

 
mat-grid-tile{
    width: 98px;
    
}
mat-form-field{
    margin-left: 1%;
    
    
}

div.cards{
   
    display: block;
    width: 60%;  
    
    
    
    

}

.qs {
 margin-left: 3%;
    
    

}




.col{
    float:left;
    width: 30%;
    padding:1%;
  
}

.row2{
    width:100%;    
    clear:both;
    
    
    
    
}
.mat-divider {
    display: block;
    margin: 0;
    border-top-width: 1px;
    border-top-style: solid;
    margin-bottom: 15px;
 }

//width for column objects is 70% for entire 'row'
//35% to have 2 objects on 1 row
//except radio buttons/cards, those are weird
.mat-raised-button{
    margin-bottom: 15px;
    width: 10%;
}