<mat-accordion class ="accordion">   
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Add a Inventory Item
        </mat-panel-title>
        <mat-panel-description class="description">
         Open panel to add a Inventory Item
        </mat-panel-description>


      </mat-expansion-panel-header>
    
    
        <div class="container1">
            <h2 style="margin-top: 1%; margin-left: 1%; font-size: 36px;color: white;">
                Inventory
            </h2>
    
            
              <!--  <div class = InputContainer>--> 
                    <div class = "row">
                        <div class ="col">

                            <mat-form-field appearance = "legacy" style="width: 40%;" >
                                <input #IassetIdentifier matInput placeholder = "Asset Identifier">
                            </mat-form-field>
                            <mat-form-field appearance = "legacy" style="width: 40%;" >
                                <input #Iaddress matInput placeholder = "IPv4 or IPv6 Address">
                            </mat-form-field>
    
                            <mat-form-field appearance = "legacy" style="width: 40%;" >
                                <input #Imacaddress matInput placeholder = "MAC Adress">
                            </mat-form-field>
    
                            <mat-form-field appearance = "legacy" style="width: 40%;" >
                                <input #InetworkID matInput placeholder = "Subnet ID/ Network ID">
                            </mat-form-field>
                
    
    
                              
    
                       
                            <div class="cards">
                                <h1 style="margin:0px;font-size: 15px;">Virtual</h1>                                
                                <mat-radio-group class="radio-groupPublic" appearance = "legacy" aria-label="Select an option">
                                    <mat-radio-button color="primary" class="qs" value="1">Yes</mat-radio-button>
                                    <mat-radio-button  class="qs" value="2">No</mat-radio-button>
                                </mat-radio-group>                                             
                                <h1 style="margin: 0px; font-size: 15px;">Public</h1>                                
                                <mat-radio-group class="radio-groupVirtual"  appearance = "legacy" aria-label="Select an option">
                                    <mat-radio-button #Ivirtual color="primary" class="qs"  value="1">Yes</mat-radio-button>
                                    <mat-radio-button #Ivirtual class="qs" value="2">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                                <br>
                            
                            
    
    
                            <mat-form-field style="padding-top: 15px;" appearance = "legacy" style="width: 40%;" >
                                <input #IsystemAdmin matInput placeholder = "System Administrator">
                            </mat-form-field>
                            <mat-form-field appearance = "legacy" style="width: 40%;" >
                                <input #Iapplication matInput placeholder = "Application Admin/Owner">
                            </mat-form-field>
    
    
                            <mat-form-field appearance = "legacy" style="width: 80%;">
                                <input #Idnsname matInput placeholder = "DNS Name or URL">
                            </mat-form-field>
                            <mat-form-field appearance = "legacy" style="width: 40%;">
                                <input #IlogonHours matInput placeholder = "Logon Hours">
                            </mat-form-field>
                            <mat-form-field appearance = "legacy" style="width: 40%;">
                                <input #InetbiosName matInput placeholder = "NetBIOS Name">
                            </mat-form-field>
    
    

                            <mat-form-field appearance="outline" color="primary" style="width: 80%;" >
                                <mat-label >CUI Contracts - Contract Name</mat-label>
                                <mat-select #UcuiContracts id="Input" >
                                    <div *ngFor="let contract of CUIcontracts$ | async">
                                        <mat-option value={{contract.CCname}} multiple>
                                            {{contract.CCname}}
                                        </mat-option>
                                    </div>
                                </mat-select>
                              </mat-form-field>    

                              
                            <mat-form-field appearance="outline" color="primary" style="width: 80%;" >
                                <mat-label >Users Associated with this device</mat-label>
                                <mat-select #UcuiContracts id="Input" multiple>
                                    <div *ngFor="let user of Users$ | async">
                                        <mat-option value={{user.Ufname}} >
                                            {{user.Ufname}}
                                        </mat-option>
                                    </div>
                                </mat-select>
                              </mat-form-field>  

                              
                            <mat-form-field appearance="outline" color="primary" style="width: 80%;" >
                                <mat-label >Software installed on this device.</mat-label>
                                <mat-select #UcuiContracts id="Input" multiple>
                                    <div *ngFor="let software of softwares$ | async">
                                        <mat-option value={{software.SWname}} >
                                            {{software.SWname}} 
                                        </mat-option>
                                    </div>
                                </mat-select>
                              </mat-form-field>  






                        </div>
    
                        <div class = "col">
    
                            <mat-form-field style="padding-top: 46px; width:80%" appearance = "legacy">
                                <input #IsoftwareDatabase matInput placeholder = "Software/Database Name">
                            </mat-form-field>
    
                            
                            <mat-form-field style="width:80%;"appearance = "legacy">
                                <input #IbaselineConfigName matInput placeholder = "Baseline Configuration Name">
                            </mat-form-field>
    
    
    
    
    
    
                            <mat-form-field  appearance = "legacy" style="width: 80%;">
                                <input #IsoftwareApproval matInput placeholder = "Software Approval List - Software Name">
                            </mat-form-field>
                            
                            <mat-form-field appearance = "legacy"style="width: 40%;">
                                <input #Icost matInput placeholder = "Cost">
                            </mat-form-field>
     
                            <mat-form-field appearance = "legacy">
                                <input #Ipatchlevel matInput placeholder = "Patch Level">
                            </mat-form-field>
                            <mat-form-field appearance = "legacy" style="width: 80%;">
                                <input #Ifunction matInput placeholder = "Function">
                            </mat-form-field>
    
                            <mat-form-field appearance = "legacy" style="width: 80%;">
                                <input #Ivlan matInput placeholder = "VLAN/Identifier">
                            </mat-form-field>
                            <mat-form-field appearance = "legacy" style="width: 80%;">
                                <input #Iserial matInput placeholder = "Serial#/Asset Tag#">
                            </mat-form-field>
    
    
                            

                             <div class="cards" style="margin-bottom: 15px;">
                                <h1 style="margin:0px; font-size: 15px;">In Latest Scan</h1>
                                
                                <mat-radio-group class="radio-groupPublic" appearance = "legacy" aria-label="Select an option">
                                    <mat-radio-button #Ipublic color="primary" class="qs" value="1">Yes</mat-radio-button>
                                    <mat-radio-button #Ipublic class="qs" value="2">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
    
    
                            
                            <div class="cards" style="margin-bottom: 10px;">
                                <h1 style="margin: 0px; font-size:15px">Authenticatied Scan</h1>
                               
                                <mat-radio-group class="radio-groupVirtual"  appearance = "legacy" aria-label="Select an option">
                                    <mat-radio-button #IauthenticatedScan color="primary" class="qs"  value="1">Yes</mat-radio-button>
                                    <mat-radio-button #IauthenticatedScan class="qs" value="2">No</mat-radio-button> 
                                </mat-radio-group>
                            </div>
    
    

    
                        </div>
    
    
                        <div class ="col">
                            <mat-form-field appearance = "legacy" style = "padding-top: 46px; width: 80%;">
                                <input #IosNameAndVersion matInput placeholder = "OS Name and Version">
                            </mat-form-field>
                            <mat-form-field appearance = "legacy" style="width: 80%;">
                                <input #IphysicalLocation matInput placeholder = "Physical Location">
                            </mat-form-field>
                            <mat-form-field appearance = "legacy" style="width: 40%;">
                                <input #IassetType matInput placeholder = "Asset Type">
                            </mat-form-field>
                            <mat-form-field appearance = "legacy">
                                <input #Imodel matInput placeholder = "Hardware Make/ Model" style="width: 34%;">
                            </mat-form-field>
                            <mat-form-field appearance = "legacy" style="width: 80%;">
                                <input #IdateOfReceipt matInput placeholder = "Date of Receipt">
                            </mat-form-field>
                            <mat-form-field appearance = "legacy" style="width: 80%;">
                                <input #IhardwareSoftwareVendor matInput placeholder = "Hardware/Software Vendor">
                            </mat-form-field>
                            <mat-form-field style= "width:80%" appearance = "legacy" style="width: 80%;">
                                <input #IsupplierInformation matInput placeholder = "Supplier Information">
                            </mat-form-field>
                                <h3>Comments</h3>
                            <textarea #Icomments id="comments" style="text-align: left; align-content: left; margin-left: 1%; " rows="4" cols="38"></textarea>
 
                        </div>
    
    
    
    
                    </div>
                    
              <!--  </div>--> 
        
                <div class = "row2">
                    <mat-divider style="padding-top: 3px; padding-bottom: 3px; "></mat-divider>
    
                    <button mat-raised-button (click)="post(IassetIdentifier.value, Iaddress.value, InetworkID.value, Ivirtual.value, Ipublic.value, Idnsname.value,
                    InetbiosName.value, Imacaddress.value, IauthenticatedScan.value, IbaselineConfigName.value, IosNameAndVersion.value, IphysicalLocation.value, 
                    IhardwareSoftwareVendor.value, IdateOfReceipt.value, Icost.value, IsoftwareDatabase.value, Ipatchlevel.value, Ifunction.value, Icomments.value,
                    Iserial.value, Ivlan.value, IsystemAdmin.value, Iapplication.value, IsoftwareApproval.value)" style="width:20vw;height: 5vh; float: left;margin-left: 15%;"   type ="Submit" color="primary"  >Submit</button>
                    
                    <button mat-raised-button (click) = "onFormReset()"  style="width:20vw;height: 5vh; float: right;margin-right: 15%;"  type="Reset" color="primary"  >Reset</button>
                </div>
            </div>
       
        
   
    </mat-expansion-panel>

  </mat-accordion>



  <mat-list>
    <div class="flexContainer">
      <mat-list-item class="headerRow">
        <span>
          ID
        </span>
        <span style="margin-left: 6.5%;">
          Name
        </span>
      </mat-list-item>
    </div>

    <mat-list-item *ngFor="let inventory of inventories$ | async">
      <div class="flexContainer">
      <span class="listSpan" style="font-weight: bold;"
        >{{ inventory.idOrgInventory }}    </span
      >
      <span class="listSpan" style="font-weight: bold; margin-left: 5%;">
        {{inventory.IassetIdentifier}}
      </span>
      </div>


     <span style="position: absolute; right: 0;">
        <button mat-icon-button>
          <mat-icon
            (click)="update(IassetIdentifier.value, Iaddress.value, InetworkID.value, Ivirtual.value, Ipublic.value, Idnsname.value,
            InetbiosName.value, Imacaddress.value, IauthenticatedScan.value, IbaselineConfigName.value, IosNameAndVersion.value, IphysicalLocation.value, 
            IhardwareSoftwareVendor.value, IdateOfReceipt.value, Icost.value, IsoftwareDatabase.value, Ipatchlevel.value, Ifunction.value, Icomments.value,
            Iserial.value, Ivlan.value, IsystemAdmin.value, Iapplication.value, IsoftwareApproval.value, inventory.idOrgInventory)"
            color="primary"
          >
            edit
          </mat-icon>
        </button>

    
        <button mat-icon-button>
          <mat-icon (click)="delete(inventory.idOrgInventory)" color="warn">
            delete
          </mat-icon>
        </button>
      </span> 
    </mat-list-item>
  </mat-list>


