<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span> NUDG 3.0 </span>
        <span style="margin-left: 65%;"> link 1 </span>
        <span style="margin-left: 2%;"> link 2 </span>
        <span style="margin-left: 2%;"> link 3 </span>
        <span style="margin-left: 2%;"> link 4 </span>
        <span style="margin-left: 2%;"> link 5 </span>
        <span style="margin-left: 2%;"> link 6 </span>
    </mat-toolbar-row>
    
</mat-toolbar>

<!--
<button (click)="post()">Create User</button>
-->

<!--
    <app-login-form> 

</app-login-form>


-->




<!--
    <app-user-form></app-user-form>

-->




<!--

    <app-inventory-form>

</app-inventory-form>
-->





<!--
<app-company-info-form>

</app-company-info-form>
-->




<!--
<app-role-form>

</app-role-form>


-->



<!--
<app-group-form>

</app-group-form>

-->




<!--
<app-identifier-page>

</app-identifier-page>
-->






<!--
<app-dashboard></app-dashboard>

-->





<!--

-->


<app-policy-board>

</app-policy-board>