
#toolbar{

    padding:0;
    margin:0;
}
.tbRow{

    padding:0;
    margin:0;
}


.cdk-overlay-container{
    left:200px;
    top:200px;
}
.cdk-overlay-connected-position-bounding-box{
    top:0 !important;

}

@media print {
    .doNotPrint {display:none; visibility: hidden;}
    .PrintSection {display:table; visibility: visible;}

  }



