<div class="doNotPrint">
    <mat-toolbar class = "toolbar" id="toolbar" style="background-color: transparent;">
        <mat-toolbar-row class="tbRow" style="color: white;" > 
    
    
    
            <span routerLink="/Home" routerLinkActive="active" style="margin-left: 1%;"> NUDG 3.0 </span>
    
            <app-page-search style="margin-left: 3%;">
    
            </app-page-search>
            
            <div class="routes">
                

            <button mat-raised-button type="button" routerLink="/Dashboard" routerLinkActive="active" style="color: white;margin-left:75%;background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);" class="btn btn-primary-outline pull-right"><i class="fa fa-plus"></i> Dashboard</button>    
            <button mat-raised-button type="button" routerLink="/Calendar" routerLinkActive="active" style="color: white;margin-left: 10px;background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);" class="btn btn-primary-outline pull-right"><i class="fa fa-plus"></i>Tasks</button>    

   
        
            <button 
            mat-raised-button 
            type="button" 
            style="color: white;margin-left: 10px;background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);" 
            class="btn btn-primary-outline pull-right" 
            [matMenuTriggerFor]="afterMenu">
            <i class="fa fa-plus"></i>Inventories</button>
   
            <mat-menu #afterMenu="matMenu" xPosition="after">
            <button mat-menu-item routerLink="/Inventory" routerLinkActive="active">Inventory</button>
            <button mat-menu-item routerLink="/NetworkSharePage" routerLinkActive="active">Network Shares</button>
            <button mat-menu-item routerLink="/SharedResourceForm" routerLinkActive="active">Shared Resources</button>
            <button mat-menu-item routerLink="/SoftwareApprovalForm" routerLinkActive="active">Software Approval</button>
            </mat-menu>

            <button 
            mat-raised-button 
            type="button" 
            style="color: white;margin-left: 10px;background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);" 
            class="btn btn-primary-outline pull-right" 
            [matMenuTriggerFor]="afterMenu2">
            <i class="fa fa-plus"></i>Users, Roles and Groups</button>
   
            <mat-menu #afterMenu2 xPosition="after">
            <button mat-menu-item type="button" routerLink="/Users" routerLinkActive="active" >Users</button>    
            <button mat-menu-item type="button" routerLink="/Roles" routerLinkActive="active">Roles</button>
            <button mat-menu-item type="button" routerLink="/GroupsPage" routerLinkActive="active" >Groups</button>    

            </mat-menu>

            <button 
            mat-raised-button 
            type="button" 
            style="color: white;margin-left: 10px;background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);" 
            class="btn btn-primary-outline pull-right" 
            [matMenuTriggerFor]="afterMenu3">
            <i class="fa fa-plus"></i>Families, CMMC, NIST</button>
   
            <mat-menu #afterMenu3 xPosition="after">
            <button mat-menu-item type="button" (click)="rtpol('all');" >Families</button>    
            <button mat-menu-item type="button" (click)="rtpol('cmmc');">CMMC</button>
            <button mat-menu-item type="button" (click)="rtpol('nist');">Nist</button>    
            </mat-menu>



            <button mat-raised-button type="button" routerLink="/CompanyInfo" routerLinkActive="active" style="color: white;margin-left: 10px;background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);" class="btn btn-primary-outline pull-right" ><i class="fa fa-plus"></i>Company Info</button>    
            <button mat-raised-button type="button" routerLink="/Policy" routerLinkActive="active" style="color: white;margin-left: 10px;background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);" class="btn btn-primary-outline pull-right" ><i class="fa fa-plus"></i> Policy</button>    
    
        </div>
    
        </mat-toolbar-row>
        
    </mat-toolbar>
</div>


<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
