//(mouseenter)='toolbarMouseover()' (mouseleave)='toolbarMouseleave()'
//[style.height.%]="height"
#toolbar{
    height:1px;
    overflow:none;
    flex:none;
    padding:0;
    margin:0;
}
.tbRow{
    height:1px;
    overflow:none;
    flex:none;
    padding:0;
    margin:0;
}
