//(mouseenter)='toolbarMouseover()' (mouseleave)='toolbarMouseleave()'
//[style.height.%]="height"
#toolbar{

    padding:0;
    margin:0;
}
.tbRow{

    padding:0;
    margin:0;
}

.routes{
    color:white;

}
.cdk-overlay-container{
    left:200px;
    top:200px;
}
.cdk-overlay-connected-position-bounding-box{
    top:0 !important;

}

@media print {
    .doNotPrint {display:none; visibility: hidden;}
    .PrintSection {display:table; visibility: visible;}

  }






@import '~@angular/material/theming';

@mixin tile-theme($theme) {
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $background-color: mat-color($background, card);

  .tile {
    @include mat-elevation(2);
    background-color: mat-color($accent);
    border: 1rem solid $background-color;
    padding: 2rem;
    min-height: 200px;
    min-width: 200px;

    p {
      color: $background-color;
      line-height: 2.4rem;
      font-size: 2rem;
    }
  }
}