
<style>
    div.container1{
      
        background: linear-gradient(to bottom, rgb(63,81,181) 8%, white 0%);
        overflow:hidden;
          
      }
    mat-grid-tile{
        width: 98px;
        margin:auto;
    }
    mat-form-field{
        margin-left: 1%;
    }
    
    .col{
        float:left;
        width: 33%;
        padding:1%;
      
    }
    
    .row2{
        width:100%;
        align-items: center;
        display: flexbox;
        clear:both;
        padding-left: 2px;
        padding-right: 2px;
    }
    .mat-raised-button{
        margin-top: 1%;
        margin-bottom: 15px;
    }
    
    .mat-toolbar{
        padding: 0px;
    }
    .mat-table-cell{
        background-color: rgb(63,81,181);
    }
    ::ng-deep.mat-dialog-container {
        padding: 0px !important;
        margin-bottom: 0px;
    }
    
    
    </style>
    <div class="container1" style="margin:0px;padding: 0px;">
    <div [formGroup] ="UserForm" style="margin:0px;padding: 0px;"></div>
        <form  class="user-form" (ngSubmit)="onFormSubmit()" novalidate>
    
    
    
            <h2 style="margin-left: 1%; margin-top: 1%; font-size: 32px;color: white;">
                Network Shares
            </h2>
    
    
            
                <div class = InputContainer>
                    <div class = "row">
                        <div class ="col">
                            <h1 style="margin-left: 1%;">Info</h1>
                            <mat-form-field  appearance = "legacy" style="width:40%">
                                <input matInput placeholder = "Share Name">
                            </mat-form-field>
                            <mat-form-field appearance = "legacy" style="width:40%">
                                <input matInput placeholder = "Resource Type">
                            </mat-form-field>
                            <h3 style="margin-left: 8px;">Description</h3>
                            <textarea id="comments" style="text-align: left; align-content: left; margin-left: 1%; " rows="4" cols="38"></textarea>
                            <mat-form-field appearance = "legacy" style="margin-left: 4.5%;  width:40%">
                                <input matInput placeholder = "EmployeeType">
                            </mat-form-field>
                            <mat-form-field appearance = "legacy" style="width:40%">
                                <input matInput placeholder = "Folder Path">
                            </mat-form-field>
                            <mat-form-field appearance = "legacy" style="width:40%">
                                <input matInput placeholder = "Host Identifier">
                            </mat-form-field>
    
                            <mat-form-field appearance = "legacy" style="width:40%">
                                <input matInput placeholder = "CUI Data">
                            </mat-form-field>
   
                            </div>
    
                        <div class ="col">
                            <h1 style="margin-left: 1%;"> Permissions</h1>
                            <mat-form-field appearance = "legacy" style="width:80%">
                                <input matInput placeholder = "Groups Read Access">
                            </mat-form-field>
                            <mat-form-field appearance = "legacy" style="width:80%" >
                                <input matInput placeholder = "Groups Writes Access">
                            </mat-form-field>
                            <mat-form-field appearance = "legacy" style="width:80%" >
                                <input matInput placeholder = "Users Read Access">
                            </mat-form-field>
                            <mat-form-field appearance = "legacy" style="width:80%" >
                                <input matInput placeholder = "Users Write Access">
                            </mat-form-field>
    
    
                        </div>

                    </div>
                        
                <div class = "row2">
                    <mat-divider style="padding-top: 3px;"></mat-divider>
    
                    <button mat-raised-button [mat-dialog-close]="true" (click)="onFormSubmit();"  style="margin-left: 15%;width:20vw;height: 5vh; float: left;" color="primary"  >Submit</button>
                    
                    <button mat-raised-button  (click)="onFormReset();" style="margin-right: 15%;width:20vw;height: 5vh;float: right;" type="reset"  color="primary"  >Reset</button>
                </div>
            </div>
        