<mat-accordion class ="accordion">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Add a Network Share Item
        </mat-panel-title>
        <mat-panel-description class="description">
         Open panel to add a Network Share Item
        </mat-panel-description>

      </mat-expansion-panel-header>

    
                <h2 style="margin-left: 1%; margin-top: 1%; font-size: 32px;color: white;">
                    Network Shares
                </h2>
        
        
                
                    <div class = InputContainer>
                        <div class = "row">
                            <div class ="col">
                                <h1 style="margin-left: 1%;">Info</h1>
                                <mat-form-field  appearance = "legacy" style="width:40%">
                                    <input id="NSshareName" #NSshareName matInput placeholder = "Share Name">
                                </mat-form-field>


                                <mat-form-field appearance="outline" color="primary" style="width: 40%;" >
                                  <mat-label >Resource Type</mat-label>
                                  <mat-select [(value)]="NSresourceType$" #NSresourceType id="Input" >
                           
                                    <mat-option value="Mapped Drive" >
                                        Mapped Drive
                                    </mat-option>
                                    <mat-option value="UNC Path" >
                                      UNC Path
                                  </mat-option>
                                    <mat-option value="FTP" >
                                      FTP
                                  </mat-option>
                                    <mat-option value="Printer" >
                                      Printer
                                  </mat-option>
                                    <mat-option value="Other" >
                                      Other
                                  </mat-option>
                                  </mat-select>
                                </mat-form-field>



                                <h3 style="margin-left: 8px;">Description</h3>
                                <textarea id="NSdescription" #NSdescription style="text-align: left; align-content: left; margin-left: 1%; " rows="4" cols="38"></textarea>
                  
                                <mat-form-field appearance = "legacy" style="width:40%">
                                    <input id="NSfolderPath" #NSfolderPath matInput placeholder = "Folder Path">
                                </mat-form-field>





                                <mat-form-field appearance="outline" color="primary" style="width: 40%;" >
                                  <mat-label>Asset/Host Identifier</mat-label>
                                  <mat-select [(value)]="NShostIdentifier$" #NShostIdentifier id="Input">
                                      <div *ngFor="let inventoryEntry of assetIdentifiers$ | async">
                                          <mat-option value={{inventoryEntry.idOrgInventory}} >
                                              {{inventoryEntry.IassetIdentifier}}
                                          </mat-option>
                                      </div>
                             
   
                                  </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" color="primary" style="width: 40%;" >
                                  <mat-label >CUI Data</mat-label>
                                  <mat-select [(value)]="CUIdata$" #CUIdata  id="Input">
                    
                                      <mat-option value="Yes" >
                                          Yes 
                                      </mat-option>
                          
                                      <mat-option value="No" >
                                          No
                                      </mat-option>     
   
                                  </mat-select>
                                </mat-form-field>

       
                                </div>
        
                            <div class ="col">
                                <h1 style="margin-left: 1%;"> Permissions</h1>

                                <mat-form-field appearance="outline" color="primary" style="width: 80%;" >
                                  <mat-label >Groups Read Access</mat-label>
                                  <mat-select [(value)]="GRA$" #GRA id="Input" >
                                      <div *ngFor="let group of Groups$ | async">
                                          <mat-option value={{group.idOrgGroups}} >
                                              {{group.Gnames}}
                                          </mat-option>
                                      </div>
                                  </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" color="primary" style="width: 80%;" >
                                  <mat-label >Groups Write Access</mat-label>
                                  <mat-select [(value)]="GWA$" #GWA id="Input" >
                                      <div *ngFor="let group of Groups$ | async">
                                          <mat-option value={{group.idOrgGroups}} >
                                              {{group.Gnames}}
                                          </mat-option>
                                      </div>
                                  </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" color="primary" style="width: 80%;" >
                                  <mat-label >Users Read Access</mat-label>
                                  <mat-select [(value)]="URA$" #URA id="Input" >
                                      <div *ngFor="let user of Users$ | async">
                                          <mat-option value={{user.idOrgUsers}} >
                                              {{user.Ufname}}
                                          </mat-option>
                                      </div>
                                  </mat-select>
                                </mat-form-field>  

                                
                                <mat-form-field appearance="outline" color="primary" style="width: 80%;" >
                                  <mat-label >Users Write Access</mat-label>
                                  <mat-select [(value)]="UWA$" #UWA id="Input" >
                                      <div *ngFor="let user of Users$ | async">
                                          <mat-option value={{user.idOrgUsers}} >
                                              {{user.Ufname}}
                                          </mat-option>
                                      </div>
                                  </mat-select>
                                </mat-form-field>  

    
        
        
                            </div>
    
                        </div>
                            
                    <div class = "row2">
                        <mat-divider style="padding-top: 3px;"></mat-divider>
        
                        <button mat-raised-button (click)="post(NSshareName.value, NSresourceType.value, NSdescription.value, NSfolderPath.value, NShostIdentifier.value, CUIdata.value, GRA.value, GWA.value, URA.value, UWA.value);"  style="margin-left: 15%;width:20vw;height: 5vh; float: left;" color="primary"  >Submit</button>
                        
                    </div>
                </div>

    </mat-expansion-panel>

  </mat-accordion>

  
  <mat-list>
      <mat-list-item class="headerRow">
        <span class="listSpan">
          Name
        </span>
        <span class="listSpan">
          Resource Type
        </span>
        <span class="listSpan">
          Description
        </span>
        <span class="listSpan">
          Folder Path
        </span>
        <span class="listSpan">
          Host Identifier
        </span>
        <span class="listSpan">
          CUI Data
        </span>
        <span class="listSpan">
          Group Read Access
        </span>
        <span class="listSpan">
          Group Write Access
        </span>
        <span class="listSpan">
          User Read Access
        </span>
        <span class="listSpan">
          User Write Access
        </span>

      </mat-list-item>

  
    <mat-list-item *ngFor="let networkshare of networkshares$ | async" (click)="populateForm(networkshare);$event.stopPropagation()">

      <span class="listSpan">
        {{ networkshare.NSshareName}}    
      </span>

      <span class="listSpan ">
        {{networkshare.NSresourceType}}
      </span>

      <span class="listSpan ">
        {{networkshare.NSdescription}}
      </span>

      <span class="listSpan ">
        {{networkshare.NSfolderPath}}
      </span>
      <span class="listSpan ">
        {{networkshare.NShostIdentifier}}
      </span>
      <span class="listSpan ">
        {{networkshare.CUIdata}}
      </span>
      <span class="listSpan ">
        {{groupDict[networkshare.GRA].Gnames}}
      </span>
      <span class="listSpan ">
        {{groupDict[networkshare.GWA].Gnames}}
      </span>
      <span class="listSpan ">
        {{userDict[networkshare.URA].Ufname}}
      </span>
      <span class="listSpan ">
        {{userDict[networkshare.UWA].Ufname}}
      </span>

  
  
     <span style="position: absolute; right: 0;">
        <button mat-icon-button>
          <mat-icon
            (click)="update(NSshareName.value, NSresourceType.value, NSdescription.value, NSfolderPath.value, NShostIdentifier.value, CUIdata.value, GRA.value, GWA.value, URA.value, UWA.value, networkshare.idOrgNetworkShares)"
            color="primary"
          >
            edit
          </mat-icon>
        </button>
  
    
        <button mat-icon-button>
          <mat-icon (click)="delete(networkshare.idOrgNetworkShares)" color="warn">
            delete
          </mat-icon>
        </button>
      </span> 
    </mat-list-item>
  </mat-list>
  
  
  
  
  