
<div class="wrapper">
    <table>
        <tr>
            <div class="div1"  >
                <!-- THEME 1 -->
                <div class ="themeBox" style="background-color: purple;" (click)="setTheme('purple')">
        
                </div>
                <div class ="themeBox" style="background-color: red;" (click)="setTheme('red')">
        
                </div>
                <div class ="themeBox" style="background-color: navy;" (click)="setTheme('dark-blue')">
        
                </div>
                <div class ="themeBox" style="background-color: green;" (click)="setTheme('green')">
        
                </div>
                <div class ="themeBox" style="background-color: yellow;" (click)="setTheme('yellow')">
        
                </div>
            </div>
        
        </tr>
        
        <tr>
            <div class="div1" >
                <div class ="themeBox" style="background-color: #FF9AA2;" (click)="setTheme('light-red')">
        
                </div>
                <div class ="themeBox" style="background-color: #FFDAC1;" (click)="setTheme('orange')">
        
                </div>
                <div class ="themeBox" style="background-color: #E2F0CB;" (click)="setTheme('light-green')">
        
                </div>
                <div class ="themeBox" style="background-color: #B5EAD7;" (click)="setTheme('light-blue')">
         
                </div>
                <div class ="themeBox" style="background-color: #C7CEEA;" (click)="setTheme('yellow')">
        
                </div>
            </div>
        
        </tr>
    </table>
    
</div>