
<div class="wrapper">
    <table>
        <tr>
            <div class="div1"  >
                <div class ="themeBox" style="background-color: purple;" (click)="loadTheme('purple')">
        
                </div>
                <div class ="themeBox" >
        
                </div>
                <div class ="themeBox" >
        
                </div>
                <div class ="themeBox" >
        
                </div>
                <div class ="themeBox" >
        
                </div>
            </div>
        
        </tr>
        
        <tr>
            <div class="div1" >
                <div class ="themeBox">
        
                </div>
                <div class ="themeBox" >
        
                </div>
                <div class ="themeBox" >
        
                </div>
                <div class ="themeBox" >
        
                </div>
                <div class ="themeBox" >
        
                </div>
            </div>
        
        </tr>
    </table>
    
</div>