div.container1{
    padding: 5px;
    margin-top: 10px;
    margin-left:auto;
    margin-right: auto;
    width:100%;
    height: 93%;

    box-shadow: 1px 1px 15px -1px ;
    background: linear-gradient(to bottom, #212121 8%, white 0%);
    overflow: hidden;
    border-radius: 3px;   
  }

 
mat-grid-tile{
    width: 98px;
    
}
mat-form-field{
    margin-left: 1%;
    margin-top: 0px;
    margin-bottom: 0px;
    
    
}

div.cards{
 display: flexbox;
}

.qs {
 margin-left: 3%;
}


.col{
    float:left;
    width: 31%;
    padding:1%;
  
}

.row2{
    width:100%;    
    clear:both;
    display: flexbox;
    
    
}
.mat-divider {
    display: block;
    margin: 0;
    border-top-width: 1px;
    border-top-style: solid;
    margin-bottom: 15px;
 }

//width for column objects is 70% for entire 'row'
//35% to have 2 objects on 1 row
//except radio buttons/cards, those are weird
.mat-raised-button{
    margin-bottom: 15px;
    width: 10%;
}








//CSS for LIST
.flexContainer{
    display:flexbox;
}
.listSpan {

    float:1;
}
.headerRow {
    position:relative;
    background-color: white;
}

.mat-list >  .mat-list-item:nth-child(2n+1){

    background-color:white;
  }
  .mat-list >  .mat-list-item:nth-child(2n){

    background-color:rgb(230, 228, 228);
  }

  .mat-list > .mat-list-item{
    border: 1px solid black;
    justify-content: center;

  }

  .idCol{
    width:75px;
    min-width: 75px;
    text-align: left;

  }
  .nameCol{
    margin-left: 15px;
    width:150px;
    min-width: 150px;
    text-align: left;

  }
  .descCol{
    width:250px;
    min-width: 250px;
    text-align: left;
    margin-left: 10px;
  }
  
  .dateCol{
    width:60px;
    min-width: 60px;
    text-align: left;
    margin-left:  10px;
  }

  .dateCol2{
    width:200px;
    min-width: 200px;
    text-align: left;
    margin-left:  10px
  }
  .dateCol3{
    width:75px;
    min-width: 75px;
    text-align: left;
    margin-left:  10px
  }