

<div class="container1" style="margin:0px;padding: 0px;">
            <h2 style="margin-left: 1%; margin-top: 1%; font-size: 32px;color: white;">
                Software Approval List
            </h2>
                    <div class = "row">
                        <div class="col">
                            <h1 style="margin-left: 1%;">Info</h1>
                            <mat-form-field  appearance = "legacy" style="width:40%">
                                <input matInput placeholder = "Software Name">
                            </mat-form-field>
                            <mat-form-field appearance = "legacy" style="width:40%">
                                <input matInput placeholder = "Software Vendor">
                            </mat-form-field>

                            <h3 style="margin-left: 8px;">Supplier Information</h3>
                            <textarea id="comments" style="text-align: left; align-content: left; margin-left: 1%; " rows="2" cols="58"></textarea>

                            <h3 style="margin-left: 8px;">Description/Purpose</h3>
                            <textarea id="comments" style="text-align: left; align-content: left; margin-left: 1%; " rows="2" cols="58"></textarea>

                            <h3 style="margin-left: 8px;">Install Path</h3>
                            <textarea id="comments" style="text-align: left; align-content: left; margin-left: 1%; " rows="2" cols="58"></textarea>


   
                            <!-- TODO here-->
                            <mat-form-field style="width: 40%;background: transparent;" appearance="fill" class="datepicker datepicker1" id="datepicker1">
                                <mat-label >Install Date</mat-label>
                                <input 
                                #WdetectionDate  
                                matInput 
                                [matDatepicker]="datepicker1"
    
                                />
                                <mat-datepicker-toggle matSuffix [for]="datepicker1"></mat-datepicker-toggle>
                                <mat-datepicker #datepicker1>
                                <mat-datepicker-actions>
                                    <button mat-button matDatepickerCancel>Cancel</button>
                                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                                </mat-datepicker-actions>
                                </mat-datepicker>
                            </mat-form-field>

                            <!-- TODO link to DB-->
                            <mat-form-field appearance="outline" color="primary" style="width: 40%;" >
                                <mat-label >Software Type</mat-label>
                                <mat-select #UcuiContracts id="Input" >
                                  
                                        <mat-option value="Service" >
                                            Service
                                        </mat-option>
                                        <mat-option value="Application">
                                            Application
                                        </mat-option>
           
                                </mat-select>
                              </mat-form-field> 

                              <mat-form-field appearance="outline" color="primary" style="width: 40%;" >
                                <mat-label >Platform</mat-label>
                                <mat-select #UcuiContracts id="Input" >
                                  
                                        <mat-option value="Windows" >
                                            Windows
                                        </mat-option>
                                        <mat-option value="MacOS">
                                            MacOS
                                        </mat-option>
           
                                </mat-select>
                              </mat-form-field> 
                        </div>
    
                        <div class ="col">
                            <mat-form-field appearance = "legacy" style="margin-top:8%; width:80%">
                                <input matInput placeholder = "Version">
                            </mat-form-field>
                            <mat-form-field appearance = "legacy" style="width:40%" >
                                <input matInput placeholder = "Patch #">
                            </mat-form-field>
                            <mat-form-field appearance = "legacy" style="width:40%" >
                                <input matInput placeholder = "Update Schedule">
                            </mat-form-field>

                            <!-- TODO here too -->
                            <mat-form-field appearance="outline" color="primary" style="width: 80%;" >
                                <mat-label >Update Schedule</mat-label>
                                <mat-select>
                                  
                                    <mat-option value="Windows" >
                                        Manual
                                    </mat-option>
                                    <mat-option value="Realtime">
                                        Realtime
                                    </mat-option>
                                    <mat-option value="Daily">
                                        Daily
                                    </mat-option>
                                    <mat-option value="Weekly">
                                        Weekly
                                    </mat-option>
                                    <mat-option value="Quarterly">
                                        Quarterly
                                    </mat-option>
        
                                </mat-select>
                              </mat-form-field> 
    

                            <!-- TODO here-->
                            <mat-form-field style="width: 40%;background: transparent;" appearance="fill" class="datepicker datepicker2" id="datepicker2">
                                <mat-label >Manual Review Date</mat-label>
                                <input 
                                #WdetectionDate  
                                matInput 
                                [matDatepicker]="datepicker2"
    
                                />
                                <mat-datepicker-toggle matSuffix [for]="datepicker2"></mat-datepicker-toggle>
                                <mat-datepicker #datepicker2>
                                <mat-datepicker-actions>
                                    <button mat-button matDatepickerCancel>Cancel</button>
                                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                                </mat-datepicker-actions>
                                </mat-datepicker>
                            </mat-form-field>

      
                            <!-- TODO here-->
                            <mat-form-field style="width: 40%;background: transparent;" appearance="fill" class="datepicker datepicker3" id="datepicker3">
                                <mat-label >Automatic Update Date</mat-label>
                                <input 
                                #WdetectionDate  
                                matInput 
                                [matDatepicker]="datepicker3"
    
                                />
                                <mat-datepicker-toggle matSuffix [for]="datepicker3"></mat-datepicker-toggle>
                                <mat-datepicker #datepicker3>
                                <mat-datepicker-actions>
                                    <button mat-button matDatepickerCancel>Cancel</button>
                                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                                </mat-datepicker-actions>
                                </mat-datepicker>
                            </mat-form-field>
    
                            <div class="cards">
                                <h1 style="margin-top: 1%;margin:0px;font-size: 15px;">Internet Access Required</h1>                                
                                <mat-radio-group style="margin-top: 1%;" class="radio-groupPublic" appearance = "legacy" aria-label="Select an option">
                                    <mat-radio-button color="primary" class="qs" value="1">Yes</mat-radio-button>
                                    <mat-radio-button  class="qs" value="2">No</mat-radio-button>
                                </mat-radio-group>    

                                <h1 style="margin-top: 1%;margin: 0px; font-size: 15px;">Legacy</h1>                                
                                <mat-radio-group style="margin-top: 1%;" class="radio-groupVirtual"  appearance = "legacy" aria-label="Select an option">
                                    <mat-radio-button color="primary" class="qs"  value="1">Yes</mat-radio-button>
                                    <mat-radio-button class="qs" value="2">No</mat-radio-button>
                                </mat-radio-group>

                                <h1 style="margin-top: 1%; margin: 0px; font-size: 15px;">Elevated Privileges Required</h1>                                
                                <mat-radio-group style="margin-top: 1%;" class="radio-groupVirtual"  appearance = "legacy" aria-label="Select an option">
                                    <mat-radio-button color="primary" class="qs"  value="1">Yes</mat-radio-button>
                                    <mat-radio-button class="qs" value="2">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
    
                            <h3 style="margin-left: 8px; margin-top: 1%;">Vulnerabilities</h3>
                            <textarea id="comments" style="text-align: left; align-content: left; margin-left: 1%; " rows="2" cols="58"></textarea>

                        </div>
    
                        <div class ="col">


                            
                            <mat-form-field appearance="outline" color="primary" style="width: 80%;" >
                                <mat-label >Users</mat-label>
                                <mat-select #Standards id="Input" >
                                    <div *ngFor="let user of users$ | async">
                                        <mat-option value={{user.Ufname}} >
                                            {{user.Ufname}}
                                        </mat-option>
                                    </div>
                           
 
                                </mat-select>
                              </mat-form-field>
                            
                              <mat-form-field appearance="outline" color="primary" style="width: 80%;" >
                                <mat-label >Groups</mat-label>
                                <mat-select #Standards id="Input" >
                                    <div *ngFor="let group of groups$ | async">
                                        <mat-option value={{group.Gnames}} >
                                            {{group.Gnames}}
                                        </mat-option>
                                    </div>
                           
 
                                </mat-select>
                              </mat-form-field>


                              <mat-form-field appearance="outline" color="primary" style="width: 80%;" >
                                <mat-label >Roles</mat-label>
                                <mat-select #Standards id="Input" >
                                    <div *ngFor="let role of roles$ | async">
                                        <mat-option value={{role.URGroles}} >
                                            {{role.URGroles}}
                                        </mat-option>
                                    </div>
                           
 
                                </mat-select>
                              </mat-form-field>
    
                              <mat-form-field appearance="outline" color="primary" style="width: 80%;" >
                                <mat-label >Asset Identifier</mat-label>
                                <mat-select #Standards id="Input" >
                                    <div *ngFor="let invItem of inventory$ | async">
                                        <mat-option value={{invItem.IassetIdentifier}} >
                                            {{invItem.IassetIdentifier}}
                                        </mat-option>
                                    </div>
                           
 
                                </mat-select>
                              </mat-form-field>

    
                        </div>
                    </div>
                        
                <div class = "row2">
                    <mat-divider style="padding-top: 3px;"></mat-divider>
    
                    <button mat-raised-button [mat-dialog-close]="true"  style="margin-left: 15%;width:20vw;height: 5vh; float: left;" color="primary"  >Submit</button>
                    
                    <button mat-raised-button  style="margin-right: 15%;width:20vw;height: 5vh;float: right;" type="reset"  color="primary"  >Reset</button>
                </div>
