button {
    width: 90px;
    height: 36px;
    font-weight: 100;
  }
  
  .buttons {
    grid-template-columns: auto auto ;
    float:right;
    display: grid;
    font-size: 14px;
    color: #fff;
    justify-content: center;
  
    .save {
      background-color: #E37B00;
      margin-left: 2px;
    }
    .close {
      background-color: #ffffff;
      margin-right: 2px
    }
  }
  
  ::ng-deep.mat-dialog-container {
    resize: both; 
    overflow: auto;
    background: #fff;
  }
  
  
  [mat-dialog-title] {
    padding: 10px;
    background: #369;
    color: #fff;
    cursor: move;
    text-align: center;
  }


    .mainDiv{
    //  width:300px;  
    //  height:300px;
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      left: 100px;
      top:100px;  
      background-color: rgba(255, 166, 0);
      border-radius: 10px;
      display: inline-block;
    }
    .id{
      color:black
    }
    .desc{
      color:black;
    }