<!-- Page for All guidelines-->

<mat-list style="overflow:hidden; z-index: 1;">
  <div class="flexContainer">
    <mat-list-item class="headerRow">
      <span class="idCol">
        ID
      </span>
      <span class="descCol">
        Description
      </span>
    </mat-list-item>
  </div>

  <mat-list-item *ngFor="let guideline of guidelines$ | async">

    <span class="listSpan idCol" style="font-weight: bold;"
      >{{ guideline.idGuidelines }}    </span
    >

    <span class="listSpan descCol" style="font-weight: bold; ">
      {{ guideline.Guidelines }}
    </span>



   <span class="listSpan" style="position: absolute; right: 0;">
    <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
      <mat-icon 
      (click)="openGuideline(guideline.idGuidelines, guideline.Guidelines)"
      color="primary"
      >
      open_in_new
      </mat-icon>
    </button>
    </span> 

  </mat-list-item>
</mat-list>



