//CSS for LIST
.flexContainer{
    display:flexbox;
    overflow:hidden;
}
.listSpan {
    margin-left: 0%;
    position:relative;
}
.descCol{
  margin-left: 5%;
}
.headerRow {
    position:relative;
    background-color: rgb(122, 149, 236);
}

.mat-list >  .mat-list-item:nth-child(2n+1){

    background-color:white;
  }
  .mat-list >  .mat-list-item:nth-child(2n){

    background-color:rgb(228, 230, 228);
  }

  .mat-list > .mat-list-item{
    border: 1px solid black;


  }


  