<!-- Page for All guidelines-->

<mat-list style="overflow:hidden; z-index: 1;">
  <div class="flexContainer">
    <mat-list-item class="headerRow">
      <span class="idCol">
        ID
      </span>
      <span class="descCol">
        Description
      </span>
    </mat-list-item>
  </div>

  <mat-list-item *ngFor="let guideline of guidelines$ | async" style="height:auto; padding:3px">

    <span class="listSpan idCol" style=""
      >{{ guideline.Nid }}    </span
    >

    <span class="listSpan descCol" style=" overflow:auto; padding: 5px;">
      {{ guideline.Guidelines }}
    </span>



  

  </mat-list-item>
</mat-list>



