<mat-accordion class ="accordion">   
  <mat-expansion-panel 
  (closed)="panelOpenState = false" 
  (opened)="panelOpenState = true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Add a User
      </mat-panel-title>
      <mat-panel-description class="description">
       Open panel to add a User Item
      </mat-panel-description>
  
    </mat-expansion-panel-header>
      
              <h2 style="margin-left: 1%; margin-top: 1%; font-size: 32px;color: white;">
                  Users
              </h2>
                  <div class = InputContainer>
                    <!--
                      
                    -->
                      <div class = "row">
                          <div class ="col">
                              <h1 style="margin-left: 1%;">Info</h1>
                              <mat-form-field  appearance = "legacy" style="width:40%">
                                  <input #Ufname matInput placeholder = "First Name">
                              </mat-form-field>
                              <mat-form-field appearance = "legacy" style="width:40%">
                                  <input #Ulname matInput placeholder = "Last Name">
                              </mat-form-field>
                              <mat-form-field appearance = "legacy" style="width:80%">
                                  <input #Uempid matInput placeholder = "Employee Number" >
                              </mat-form-field>


                              <mat-form-field appearance="outline" color="primary" style="width: 40%;" >
                                <mat-label >Employee Type</mat-label>
                                <mat-select #Uemptype id="Input">
                    
                                    <mat-option value="Full time" >
                                        Full time
                                    </mat-option>
                        
                                    <mat-option value="Part Time" >
                                        Part Time
                                    </mat-option>

                                    <mat-option value="Contractor" >
                                        Contractor
                                    </mat-option>          
 
                                </mat-select>
                              </mat-form-field>


                              <mat-form-field appearance = "legacy" style="width:40%">
                                  <input #Ujobtitle matInput placeholder = "Job Title">
                              </mat-form-field>
                              <mat-form-field appearance = "legacy" style="width:40%">
                                  <input #Ujobrole matInput placeholder = "Job Role">
                              </mat-form-field>
      

                            <mat-form-field style="width: 40%;background: transparent;" appearance="fill" class="datepicker datepicker2" id="datepicker2">
                                <mat-label >Hire Date</mat-label>
                                <input 
                                #Uhiredate 
                                matInput 
                                [matDatepicker]="datepicker2"
    
                                />
                                <mat-datepicker-toggle matSuffix [for]="datepicker2"></mat-datepicker-toggle>
                                <mat-datepicker #datepicker2>
                                <mat-datepicker-actions>
                                    <button mat-button matDatepickerCancel>Cancel</button>
                                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                                </mat-datepicker-actions>
                                </mat-datepicker>
                            </mat-form-field>



                              <mat-form-field appearance = "legacy"  style="width:40%">
                                  <input #Ulogonhours matInput placeholder = "Logon Hours">
                              </mat-form-field>

                              <mat-form-field appearance = "legacy" style="width:40%" >
                                <input #Udepartment matInput placeholder = "Department">
                            </mat-form-field>

                            <h3>Additional Info </h3>
                            <textarea #Uadditionalinfo id="comments" style="text-align: left; align-content: left; margin-left: 1%; " rows="4" cols="38"></textarea>
                            <div class="fileInput" style="margin-left: 1%;">
                              <input #Udocumentupload  class="ng-hide" id="input-file-id" multiple type="file" />
                              <label for="input-file-id" class="md-button md-raised md-primary"> Upload Image</label>
                          </div>


                          </div>
      
                          <div class ="col">
                              <h1 style="margin-left: 1%;"> Contact</h1>
                              <mat-form-field appearance = "legacy" style="width:80%">
                                  <input #Uemail matInput placeholder = "Email Address">
                              </mat-form-field>
                              <mat-form-field appearance = "legacy" style="width:40%" >
                                  <input #Ubusinessphone matInput placeholder = "Business Phone">
                              </mat-form-field>
                              <mat-form-field appearance = "legacy" style="width:40%" >
                                  <input #Ucellphone matInput placeholder = "Cell Phone">
                              </mat-form-field>
      
      
      
      
                              <h1 style="margin-left: 1%;">Address</h1>
      
                              <mat-form-field appearance = "legacy" style="width:80%">
                                  <input #Uaddress matInput placeholder = "Address">
                              </mat-form-field>
      
                              <mat-form-field  appearance = "legacy" style="width:40%">
                                  <input #Ucity matInput placeholder = "City">
                              </mat-form-field>
      
                              <mat-form-field appearance = "legacy" style="width:40%">
                                  <input #Ustate  matInput placeholder = "State">
                              </mat-form-field>
      
                              <mat-form-field appearance = "legacy" style="width:40%">
                                  <input #Upostal matInput placeholder = "Zip Code">
                              </mat-form-field>
      
                              <mat-form-field  appearance = "legacy" style="width:40%">
                                  <input #Ucountry matInput placeholder = "Country">
                              </mat-form-field>
      
      
      
      
      
      
      
      
                              <mat-form-field appearance = "legacy"  style="width:80%">
                                  <input #Ucompany matInput placeholder = "Company Name">
                              </mat-form-field>
                          </div>
      
                          <div class ="col">
                              <h1 style="margin-left: 1%;">Assignments</h1>
          
                              <mat-form-field appearance = "legacy" style="width:80%">
                                  <input #Uuserid matInput placeholder = "User id">
                              </mat-form-field>
      

                              <mat-form-field appearance="outline" color="primary" style="width: 40%;" >
                                <mat-label >CUI Data</mat-label>
                                <mat-select #Ucuidata  id="Input">
                  
                                    <mat-option value="Yes" >
                                        Yes 
                                    </mat-option>
                        
                                    <mat-option value="No" >
                                        No
                                    </mat-option>     
 
                                </mat-select>
                              </mat-form-field>

                              <mat-form-field appearance="outline" color="primary" style="width: 80%;" >
                                <mat-label >CUI Contracts</mat-label>
                                <mat-select #UcuiContracts id="Input" >
                                    <div *ngFor="let contract of CUIcontracts$ | async">
                                        <mat-option value={{contract.CCname}} >
                                            {{contract.CCname}}
                                        </mat-option>
                                    </div>
                                </mat-select>
                              </mat-form-field>
                              
                              <mat-form-field appearance="outline" color="primary" style="width: 40%;" >
                                <mat-label >Remote User</mat-label>
                                <mat-select #Uremoteuser  id="Input">
                  
                                    <mat-option value="Yes" >
                                        Yes 
                                    </mat-option>
                        
                                    <mat-option value="No" >
                                        No
                                    </mat-option>     
 
                                </mat-select>
                              </mat-form-field>
                              <h1>Relationships</h1>

                              <mat-form-field appearance="outline" color="primary" style="width: 80%;" >
                                <mat-label >Groups</mat-label>
                                <mat-select #UGRgroups id="Input" >
                                    <div *ngFor="let group of Groups$ | async">
                                        <mat-option value={{group.Gnames}} >
                                            {{group.Gnames}}
                                        </mat-option>
                                    </div>
                                </mat-select>
                              </mat-form-field>


                              <mat-form-field appearance="outline" color="primary" style="width: 80%;" >
                                <mat-label >Roles</mat-label>
                                <mat-select #UcuiContracts id="Input" >
                                    <div *ngFor="let role of Roles$ | async">
                                        <mat-option value={{role.URGroles}} >
                                            {{role.URGroles}}
                                        </mat-option>
                                    </div>
                                </mat-select>
                              </mat-form-field>

                              <mat-form-field appearance="outline" color="primary" style="width: 80%;" >
                                <mat-label >Asset Identifier</mat-label>
                                <mat-select #Iassetidentifier id="Input" >
                                    <div *ngFor="let inventoryEntry of Inventory$ | async">
                                        <mat-option value={{inventoryEntry.IassetIdentifier}} >
                                            {{inventoryEntry.IassetIdentifier}}
                                        </mat-option>
                                    </div>
                                </mat-select>
                              </mat-form-field>





      
                          </div>
                      </div>
                          
                  <div class = "row2">
                      <mat-divider style="padding-top: 3px;"></mat-divider>
      
                      
                      <button mat-raised-button  (click)="post(Ufname.value, Ulname.value, Uempid.value, Uemptype.value, Ujobtitle.value, Ujobrole.value, Udepartment.value, Uhiredate.value, Ulogonhours.value, Uadditionalinfo.value, Udocumentupload.value, Uemail.value, Ubusinessphone.value, Ucellphone.value, Uaddress.value, Ucity.value, Ustate.value, Upostal.value, Ucountry.value, Ucompany.value, Uuserid.value, Ucuidata.value, Uremoteuser.value);"  style="margin-left: 15%;width:20vw;height: 5vh; float: left;" color="primary"  >Submit</button>
                  </div>
              </div>
          

  </mat-expansion-panel>

</mat-accordion>


  <mat-list>
  
      <mat-list-item class="headerRow">
        <span class="listSpan">
          First Name
        </span>
        <span class="listSpan">
          Last Name
        </span>
        <span class="listSpan">
          Employee ID
        </span>
        <span class="listSpan">
          Employee Type
        </span>
        <span class="listSpan">
          Job Title
        </span>
        <span class="listSpan">
          Job Role
        </span>
        <span class="listSpan">
          Department
        </span>
        <span class="listSpan">
          Hire Date
        </span>
        <span class="listSpan">
          Logon Hours
        </span>
        <span class="listSpan">
          Email
        </span>
        <span class="listSpan">
          Business Phone
        </span>
        <span class="listSpan">
          Cell Phone
        </span>
        <span class="listSpan">
          Logon Hours
        </span>
      </mat-list-item>
  

    <mat-list-item *ngFor="let user of users$ | async">

      <span class="listSpan">
        {{ user.Ufname }}
      </span>

      <span class="listSpan">
        {{user.Ulname }}
      </span>

      <span class="listSpan ">
        {{user.Uempid }}
      </span>

      <span class="listSpan ">
        {{user.Uemptype }}
      </span>

      <span class="listSpan"
      >{{ user.Ujobtitle }}
      </span>

      <span class="listSpan">
        {{user.Ujobrole }}
      </span>

      <span class="listSpan ">
        {{user.Udepartment }}
      </span>

      <span class="listSpan ">
        {{user.Uhiredate }}
      </span>

      <span class="listSpan ">
        {{user.Ulogonhours }}
      </span>

      <span class="listSpan ">
        {{user.Uemail }}
      </span>

      <span class="listSpan ">
        {{user.Ubusinessphone }}
      </span>

      <span class="listSpan ">
        {{user.Ucellphone }}
      </span>


     <span style="position: absolute; right: 0;">
        <button mat-icon-button>
          <mat-icon
            (click)="update(Ufname.value, Ulname.value, Uempid.value, Uemptype.value, Ujobtitle.value, Ujobrole.value, Udepartment.value, Uhiredate.value, Ulogonhours.value, Uadditionalinfo.value, Udocumentupload.value, Uemail.value, Ubusinessphone.value, Ucellphone.value, Uaddress.value, Ucity.value, Ustate.value, Upostal.value, Ucountry.value, Ucompany.value, Uuserid.value, Ucuidata.value, Uremoteuser.value, user.idOrgUsers)"
            color="primary">
            edit
          </mat-icon>
        </button>

    
        <button mat-icon-button>
          <mat-icon (click)="delete(user.idOrgUsers)" color="warn">
            delete
          </mat-icon>
        </button>
      </span> 
    </mat-list-item>
  </mat-list>

