
<div [formGroup] ="groupForm">
    <form  class="group-form" (ngSubmit)="onFormSubmit(value)" novalidate>
        <mat-divider style="padding-top: 3px; padding-bottom: 3px; "></mat-divider>

        <h1 style="margin-left: 2%;">Groups</h1>

        <div class = "col">

            <mat-form-field appearance = "outline" style="width:100%">
                <input matInput placeholder = "Group Names">
            </mat-form-field>
            <mat-form-field appearance = "outline" style="width:100%">
                <input matInput placeholder = "Group Description">
            </mat-form-field>
            <mat-form-field appearance = "outline" style="width:100%">
                <input matInput placeholder = "Creation Date">
            </mat-form-field>

            <mat-form-field appearance = "outline" style="width:100%">
                <input matInput placeholder = "CUI Access">
            </mat-form-field>
    


        </div>

        <div class ="col2">
            <mat-form-field appearance = "outline" style="width:100%">
                <input matInput placeholder = "Users">
            </mat-form-field>
    
            <mat-form-field appearance = "outline" style="width:100%">
                <input matInput placeholder = "Network - Read Access">
            </mat-form-field>
    
            <mat-form-field appearance = "outline" style="width:100%">
                <input matInput placeholder = "Network - Write Access">
            </mat-form-field>
        </div>



       
        <div class = "row2">
            <mat-divider style="padding-top: 3px; padding-bottom: 3px; "></mat-divider>

            <button mat-raised-button (click) = "onFormSubmit('groupForm')"   style = "margin-left:47%; "  color="primary"  >Submit</button>
            <button mat-raised-button (click) = "onFormReset('groupForm')"  style="margin-left: 1%;"  type="Reset" color="primary"  >Reset</button>
        </div>
    </form>
    

</div>
