
    <style>
      div.container1{
          overflow:hidden;
          padding: 5px;
          margin-top: 10px;
          margin-left:auto;
          margin-right: auto;
          width:98%;
          height: 450px;
  
          box-shadow: 1px 1px 15px -1px ;
          background: linear-gradient(to bottom, #212121 12%, white 0%);
          overflow: hidden;
          border-radius: 3px;
  
          }
      mat-grid-tile{
          width: 98px;
          margin:auto;
      }
      mat-form-field{
          margin-left: 1%;
      }
      
      .col{
          float:left;
          width: 33%;
          padding:1%;
          
      }
      
      .row2{
          width:100%;
          align-items: center;
          display: flexbox;
          clear:both;
          padding-left: 2px;
          padding-right: 2px;
      }
      .mat-raised-button{
          margin-top: 1%;
          margin-bottom: 15px;
      }
      
      .mat-toolbar{
          padding: 0px;
      }
      ::ng-deep.mat-dialog-container {
          padding: 0px !important;
          margin-bottom: 0px;
      }
      
      
  </style>

<mat-accordion class ="accordion">

      
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false"
                       >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Add a Group Item
      </mat-panel-title>
      <mat-panel-description class="description">
       Open panel to add a Group  Item
      </mat-panel-description>

    </mat-expansion-panel-header>

  
      <div class="container1" style="margin:0px;padding: 0px;">
    
          <form class="cui-form"  novalidate>
  
              <h2 style=" margin-left: 1%; margin-top: 1%; font-size: 32px;color: white;">
                Groups
              </h2>
      
      
              
              <div class = InputContainer>
                  <div class = "row">
                      <div class ="col">
                          <h1 style="margin-left: 1%;">Info</h1>
                          <mat-form-field  appearance = "legacy" style="width:40%">
                              <input #Gnames matInput placeholder = "Group Name">
                          </mat-form-field>
                          <mat-form-field appearance = "legacy" style="width:40%">
                              <input #Gdescriptions matInput placeholder = "Group Description">
                          </mat-form-field>

                          <mat-form-field style="width: 80%;background: transparent;" appearance="fill" class="datepicker datepicker2" id="datepicker2">
                            <mat-label >Creation Date</mat-label>
                            <input 
                            #GcreationDate 
                            matInput 
                            [matDatepicker]="datepicker2"

                            />
                            <mat-datepicker-toggle matSuffix [for]="datepicker2"></mat-datepicker-toggle>
                            <mat-datepicker #datepicker2>
                            <mat-datepicker-actions>
                                <button mat-button matDatepickerCancel>Cancel</button>
                                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                            </mat-datepicker-actions>
                            </mat-datepicker>
                        </mat-form-field>


                          <mat-form-field appearance="outline" color="primary" style="width: 40%;" >
                            <mat-label >CUI Data</mat-label>
                            <mat-select #GCUIaccess  id="Input">
              
                                <mat-option value="Yes" >
                                    Yes 
                                </mat-option>
                    
                                <mat-option value="No" >
                                    No
                                </mat-option>     

                            </mat-select>
                          </mat-form-field>

                      </div>
  
                      <div class ="col">
                          <h1 style="margin-left: 1%;"> Contact</h1>
                                  
                          <mat-form-field appearance="outline" color="primary" style="width: 80%;" >
                            <mat-label >Users Associated with this device</mat-label>
                            <mat-select #UGRusers id="Input" multiple>
                                <div *ngFor="let user of users$ | async">
                                    <mat-option value={{user.Ufname}} >
                                        {{user.Ufname}}
                                    </mat-option>
                                </div>
                            </mat-select>
                          </mat-form-field>  
                          

                          <mat-form-field appearance="outline" color="primary" style="width: 80%;" >
                            <mat-label >Network Shares - Read Access</mat-label>
                            <mat-select #GNSra id="Input" >
                                <div *ngFor="let share of networkShares$ | async">
                                    <mat-option value={{share.NSshareName}} >
                                        {{share.NSshareName}}
                                    </mat-option>
                                </div>
                            </mat-select>
                          </mat-form-field>

                          <mat-form-field appearance="outline" color="primary" style="width: 80%;" >
                            <mat-label >Network Shares - Write Access</mat-label>
                            <mat-select #GNSwa id="Input" >
                                <div *ngFor="let share of networkShares$ | async">
                                    <mat-option value={{share.NSshareName}} >
                                        {{share.NSshareName}}
                                    </mat-option>
                                </div>
                            </mat-select>
                          </mat-form-field>

                      
                        <div class = "row2">
                            <div class="fileInput" style="margin-left: 1%; float:1; width:25%;">
                                <input  class="ng-hide" id="input-file-id" multiple type="file" />
                                <label for="input-file-id" class="md-button md-raised md-primary"></label>
                            </div>
        
            
                            <button mat-raised-button (click)="post(Gnames.value, Gdescriptions.value, GcreationDate.value, GCUIaccess.value, UGRusers.value, GNSra.value, GNSwa.value)"  style="margin-left: 15%;width:25%;height: 5vh; float: 2;" color="primary"  >Submit</button>
                            <button mat-raised-button style="margin-left: 10%;width:25%;height: 5vh;float: 3;" type="reset"  color="primary"  >Reset</button>
                            <!-- (click)="onFormReset();" -->
                          </div>
          
          
                    </div>
                  </div>
                    
                </div>
          </form>
      </div>
          
  
  </mat-expansion-panel>

</mat-accordion>

<!--
  (click)="post(Gnames.value, Gdescriptions.value, GcreationDate.value, GcreationDate.value, GCUIaccess.value)"
-->
<mat-list>
  <div class="flexContainer">
    <mat-list-item class="headerRow">
      <span>
        ID
      </span>
      <span style="margin-left: 6.5%;">
        Name
      </span>
    </mat-list-item>
  </div>

  <mat-list-item *ngFor="let group of groups$ | async">
    <div class="flexContainer">
    <span class="listSpan" style="font-weight: bold;"
      >{{ group.idOrgGroups }}    </span
    >
    <span class="listSpan" style="font-weight: bold; margin-left: 5%;">
      {{group.Gnames}}
    </span>
    </div>


   <span style="position: absolute; right: 0;">
      <button mat-icon-button>
        <mat-icon
          (click)="update(Gnames.value, Gdescriptions.value, GcreationDate.value, GCUIaccess.value, UGRusers.value, GNSra.value, GNSwa.value, group.idOrgGroups)"
          color="primary"
        >
          edit
        </mat-icon>
      </button>

  
      <button mat-icon-button>
        <mat-icon (click)="delete(group.idOrgGroups)" color="warn">
          delete
        </mat-icon>
      </button>
    </span> 
  </mat-list-item>
</mat-list>






