<mat-drawer-container class="container1" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
      
      <!-- Access Control -->
      
      <app-policy-board class="pBoard"></app-policy-board>
      
    

      </mat-drawer>
        <button mat-raised-button type="button" class="sidenavbutton" (click)="drawer.toggle()">
          Families >
          </button>
 

      

 

  
    
  
  </mat-drawer-container>

  
  
  <!--
Idea for Dashboard...

you have the toggle sidenav thing, and in the side bar you list different graphs to display or
a calander or whatever. 

Let them choose like 3 maximum or something, and toggle the css settings to turn on the correct graphs

  -->