.container1{
    position: relative;
    height: 100vh;
   
      
  }

  .sidnav {
      position: relative;
      width: 10vw;
      background-color: yellowgreen;

  }

  .fam1 {
      position: relative;
      top: 10px;
      margin-left: 10px;

  }

  .famcontent {
      position: relative;
  }

  .sidenavbutton {
      height: 100%;
      position: fixed;
        overflow: hidden;
        width: 90px;
  }
//https://angular-calendar.com/#/kitchen-sink
  .mat-row:nth-child(even){
    background-color: rgb(215, 215, 215);
}
        
.mat-row:nth-child(odd){
    background-color: rgb(230, 230, 230);
}

.mat-raised-button{
    background-color: rgb(63,81,181) ;
    color:white;
    border-radius: 0; //this removes the rounded edges of button
}


.chartContainer{
   // background-color: grey;
    margin:auto;
    width: 95.5%;
    height: 80%;
    float:right;
}
.dashmain{
    display: flex;
    justify-content: center;
    
    
}

.tabs {
    align-items: center;
}

.cmmcinfo {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;

}

.cmmcitem {
    
    flex: 1 0 25% ;
    justify-content: center;
    
    margin: 2%;
    
    
}

.nistinfo {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;

}

.nistitem {
    
    flex: 2 1 25%;
    justify-content: center;
    
    margin: 2%;

}
    
    

.itemheader {
    background-color: rgb(63,81,181);
    color: white;
    padding: 2%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.itembody {
    padding: 2%;
    
}

.mat-card {
    margin: 5%px;
    padding: 0px;
    
    border-radius: 5px;
}
.calendaritem {
    padding: 2%;
}
