
<div class="container1" style="margin:0px;padding: 0px;">
    <div [formGroup] ="UserForm" style="margin:0px;padding: 0px;"></div>
        <form  class="user-form" (ngSubmit)="onFormSubmit()" novalidate>



            <h2 style="margin-left: 1%; margin-top: 1%; font-size: 32px;color: white;">
              Operational Security Log
            </h2>
            <div class="wrapper">
                <div class ="topleft">
                <h1 style="margin-left: 1%;">Info</h1>
                <mat-form-field  appearance = "legacy" style="width:35%">
                    <input matInput placeholder = "Date">
                </mat-form-field>
                <mat-form-field appearance = "legacy" style="margin-left: 5%; width:35%">
                    <input matInput placeholder = "Time">
                </mat-form-field>
                <mat-form-field appearance = "legacy" style="width:75%">
                    <input matInput placeholder = "Operator" >
                </mat-form-field>
                <mat-form-field appearance = "legacy" style=" width:35%">
                    <input matInput placeholder = "Inventory Form">
                </mat-form-field>
                <mat-form-field appearance = "legacy" style="margin-left: 5%; width:35%">
                    <input matInput placeholder = "Status">
                </mat-form-field>



                </div>

                <div class ="topRight">
                <h1 style="margin-left: 1%;"> Contact</h1>
                <mat-form-field appearance = "legacy" style="width:75%">
                    <input matInput placeholder = "Severity Level">
                </mat-form-field>
                <mat-form-field appearance = "legacy" style="width:75%" >
                    <input matInput placeholder = "Category">
                </mat-form-field>


                </div>

                <div class="botLeft">
                <h3 style="margin-left: 8px;">Description</h3>
                <textarea id="comments" style="text-align: left; align-content: left; margin-left: 1%; " rows="4" cols="38"></textarea>

                </div>

                <div class="botMid">
                <h3 style="margin-left: 8px;">Action Taken</h3>
                <textarea id="comments" style="text-align: left; align-content: left; margin-left: 1%; " rows="4" cols="38"></textarea>

                </div>

                <div class="botRight">
                <h3 style="margin-left: 8px;">Results</h3>
                <textarea id="comments" style="text-align: left; align-content: left; margin-left: 1%; " rows="4" cols="38"></textarea>

                </div>
            
                <div class="bottom">
                <mat-divider style="padding-top: 3px;"></mat-divider>

  
                    <button mat-raised-button [mat-dialog-close]="true" (click)="onFormSubmit();"  style="margin-left: 15%;width:20vw;height: 5vh; float: left;" color="primary"  >Submit</button>

                    <button mat-raised-button  (click)="onFormReset();" style="margin-right: 15%;width:20vw;height: 5vh;float: right;" type="reset"  color="primary"  >Reset</button>
       

        </div>
 
</div>

