


<mat-toolbar  class="tools" style="height: 8vh;">

    <mat-toolbar-row>
        <mat-form-field style="width: 15%; height: 70%; margin-bottom: 10px;">
            <mat-label >Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>

        <button mat-raised-button (click)="openDialog()" style="margin-left: 30%;margin-top: 30px;"> Add Weakness</button>
        <button mat-raised-button (click)="removeSelectedRows()" style="margin-left: 4%; margin-top: 30px;"> Delete Selected</button>
        <button mat-raised-button style="margin-left: 4%;margin-top: 30px;"> Import </button>
        <button mat-raised-button style="margin-left: 4%;margin-top: 30px;"> Export </button>


    </mat-toolbar-row>

</mat-toolbar>


<button (click)="post(Nid.value)"
mat-fab
color="primary"
style="float: right;"
>
<mat-icon>add</mat-icon>
</button >
<mat-form-field style="width: 100%;">
<mat-label>User item</mat-label>
<input #userInput matInput placeholder="Ex. Rice" />
</mat-form-field>

<mat-list>
  <div class="flexContainer">
    <mat-list-item class="headerRow">
      <span>
        ID
      </span>
      <span style="margin-left: 6.5%;">
        Name
      </span>
    </mat-list-item>
  </div>

  <mat-list-item *ngFor="let weakness of weaknesses$ | async">
    <div class="flexContainer">
    <span class="listSpan" style="font-weight: bold;"
      >{{ weakness.Nid }}    </span
    >

    </div>


   <span style="position: absolute; right: 0;">
      <button mat-icon-button>
        <mat-icon
          (click)="update(Nid.value)"
          color="primary"
        >
          edit
        </mat-icon>
      </button>

  
      <button mat-icon-button>
        <mat-icon (click)="delete(weakness.idOrgWeakness)" color="warn">
          delete
        </mat-icon>
      </button>
    </span> 
  </mat-list-item>
</mat-list>


<mat-dialog-content class="dialog" >
</mat-dialog-content>
