
<style>
    div.container1{
      
        background: linear-gradient(to bottom, rgb(63,81,181) 8%, white 0%);
        overflow:hidden;
          
      }
    mat-grid-tile{
        width: 98px;
        margin:auto;
    }
    mat-form-field{
        margin-left: 1%;
    }
    
    .col{
        float:left;
        width: 33%;
        padding:1%;
      
    }
    
    .row2{
        width:100%;
        align-items: center;
        display: flexbox;
        clear:both;
        padding-left: 2px;
        padding-right: 2px;
    }
    .mat-raised-button{
        margin-top: 1%;
        margin-bottom: 15px;
    }
    
    .mat-toolbar{
        padding: 0px;
    }
    ::ng-deep.mat-dialog-container {
        padding: 0px !important;
        margin-bottom: 0px;
    }
    
    
    </style>

<div class="container1" style="margin:0px;padding: 0px;">
            <h2 style="margin-left: 1%; margin-top: 1%; font-size: 32px;color: white;">
                Weaknesses
            </h2>
    
    
            
                <div class = InputContainer>
                    <div class = "row">
                        <div class ="col">
                            <mat-form-field  appearance = "legacy" style="width:40%">
                                <input #Nid matInput placeholder = "NUDG Identifiers" value="{{id$}}">
                            </mat-form-field>

                            <mat-form-field appearance = "legacy" style="width:80%">
                                <input #Wname matInput placeholder = "Weakness Name" >
                            </mat-form-field>




                            <mat-form-field style="width: 40%;background: transparent;" appearance="fill" class="datepicker datepicker2" id="datepicker2">
                                <mat-label >Detection Date</mat-label>
                                <input 
                                #WdetectionDate  
                                matInput 
                                [matDatepicker]="datepicker2"
                                
                                />
                                <mat-datepicker-toggle matSuffix [for]="datepicker2"></mat-datepicker-toggle>
                                <mat-datepicker #datepicker2>
                                <mat-datepicker-actions>
                                    <button mat-button matDatepickerCancel>Cancel</button>
                                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                                </mat-datepicker-actions>
                                </mat-datepicker>
                            </mat-form-field>





                            <mat-form-field appearance = "legacy" style="width:40%">
                                <input matInput placeholder = "Weakness Source Identifier">
                            </mat-form-field>
                            <div class="cards" style="margin-left: 1%; margin-bottom: 10px;">
                                <h1 style="margin: 0px; font-size:15px">Vendor Dependency</h1>
                               
                                <mat-radio-group class="radio-groupRiskA"  appearance = "legacy" aria-label="Select an option">
                                    <mat-radio-button #WvendorDependency color="primary" class="qs"  value="1">Yes</mat-radio-button>
                                    <mat-radio-button #WvendorDependency style="margin-left: 1%" class="qs" value="2">No</mat-radio-button> 
                                </mat-radio-group>
                            </div>

         
                            <mat-form-field appearance="outline" color="primary" style="width: 40%;" >
                                <mat-label >Risk rating</mat-label>
                                <mat-select #WriskRating id="Input">
                    
                                    <mat-option value="Low" >
                                        Low
                                    </mat-option>
                        
                                    <mat-option value="Moderate" >
                                        Moderate
                                    </mat-option>

                                    <mat-option value="High" >
                                        High
                                    </mat-option>          
 
                                </mat-select>
                              </mat-form-field>




    
                            <mat-form-field appearance = "outline" style="width:40%">
    
                                <mat-label>Adjusted Risk Rating</mat-label>
                                <mat-select #WadjustedRiskRating>
                                  <mat-option #WadjustedRiskRating value="Low">Low</mat-option>
                                  <mat-option #WadjustedRiskRating value="Moderate">Moderate</mat-option>
                                  <mat-option #WadjustedRiskRating value="High">High</mat-option>
                                  <mat-option #WadjustedRiskRating value="N/A">N/A</mat-option>

                                </mat-select>
                            </mat-form-field>



                            <div class="cards" style="margin-left: 1%; margin-bottom: 10px;">
                                <h1 style="margin: 0px; font-size:15px">Risk Adjustment</h1>
                               
                                <mat-radio-group class="radio-groupRiskA"  appearance = "legacy" aria-label="Select an option">
                                    <mat-radio-button #WriskAdjustment color="primary" class="qs"  value="1">Yes</mat-radio-button>
                                    <mat-radio-button #WriskAdjustment style="margin-left: 1%" class="qs" value="2">No</mat-radio-button> 
                                    <mat-radio-button #WriskAdjustment style="margin-left: 1%" class="qs" value="3">Pending</mat-radio-button> 

                                </mat-radio-group>
                            </div>





                            <div class="fileInput" style="margin-left: 1%;">
                                <input #WsupportingDoc class="ng-hide" id="input-file-id" multiple type="file" />
                                <label for="input-file-id" class="md-button md-raised md-primary"></label>
                            </div>
                                        </div>
    
                        <div class ="col">


                            <mat-form-field appearance="outline" color="primary" style="width: 80%;" >
                                <mat-label >Standards</mat-label>
                                <mat-select #Standards id="Input" >
                                    <div *ngFor="let standard of standards$ | async">
                                        <mat-option value="Incomplete" >
                                            {{standard.idStandards}}
                                        </mat-option>
                                    </div>
                           
 
                                </mat-select>
                              </mat-form-field>


                            <mat-form-field appearance = "legacy" style="width:40%" >
                                <input #WdetectionSource matInput placeholder = "Weakness Detector Source">
                            </mat-form-field>



                                <mat-form-field style="width: 40%;background: transparent;" appearance="fill" class="datepicker datepicker3" id="datepicker3">
                                <mat-label >Completion Date</mat-label>
                                <input 
                                #WcompletionDate  
                                matInput 
                                [matDatepicker]="datepicker3"
                                />
                                <mat-datepicker-toggle matSuffix [for]="datepicker3"></mat-datepicker-toggle>
                                <mat-datepicker #datepicker3>
                                <mat-datepicker-actions>
                                    <button mat-button matDatepickerCancel>Cancel</button>
                                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                                </mat-datepicker-actions>
                                </mat-datepicker>
                            </mat-form-field>
    
    
                            <mat-form-field appearance = "legacy" style="width:40%">
                                <input #WremediationPlan matInput placeholder = "Overall Remediation Plan">
                            </mat-form-field>

        
                            <mat-form-field appearance="outline" color="primary" style="width: 40%;" >
                                <mat-label>Vendor's Product</mat-label>
                                <mat-select #idOrgWeaknesses id="Input">
                                    <div *ngFor="let product of vendorsProducts$ | async">
                                        <mat-option value={{product.Vproduct}} >
                                            {{product.Vproduct}}
                                        </mat-option>
                                    </div>
                           
 
                                </mat-select>
                              </mat-form-field>
    
                            <div class="cards" style="margin-left: 1%; margin-bottom: 10px;">
                                <h1 style="margin: 0px; font-size:15px">Auto Approve</h1>
                               
                                <mat-radio-group class="radio-groupRiskA"  appearance = "legacy" aria-label="Select an option">
                                    <mat-radio-button #WautoApprove color="primary" class="qs"  value="1">Yes</mat-radio-button>
                                    <mat-radio-button #WautoApprove style="margin-left: 1%" class="qs" value="2">No</mat-radio-button> 
                                </mat-radio-group>
                            </div>
    
                            <div class="cards" style="margin-left: 1%; margin-bottom: 10px;">
                                <h1 style="margin: 0px; font-size:15px">Operational Requirement</h1>
                               
                                <mat-radio-group class="radio-OpReq"  appearance = "legacy" aria-label="Select an option">
                                    <mat-radio-button #WoperationReq color="primary" class="qs"  value="1">Yes</mat-radio-button>
                                    <mat-radio-button #WoperationReq style="margin-left: 1%" class="qs" value="2">No</mat-radio-button> 
                                    <mat-radio-button #WoperationReq style="margin-left: 1%" class="qs" value="3">Pending</mat-radio-button> 

                                </mat-radio-group>
                            </div>
    
                            <h3>Comments</h3>
                            <textarea #Wcomment id="comments" style="text-align: left; align-content: left; margin-left: 1%; height:50px" rows="2" cols="38"></textarea>
    
    

                        </div>
    
                        <div class ="col">
        
                            <mat-form-field appearance = "legacy" style="width:80%">
                                <input #Wdescription matInput placeholder = "Weakness Description">
                            </mat-form-field>


                            <mat-form-field style="width: 40%;background: transparent;" appearance="fill" class="datepicker datepicker4" id="datepicker4">
                                <mat-label >Last Vendor Contact Date</mat-label>
                                <input 
                                #WlastVendorCheck  
                                matInput 
                                [matDatepicker]="datepicker4"
                                />
                                <mat-datepicker-toggle matSuffix [for]="datepicker4"></mat-datepicker-toggle>
                                <mat-datepicker #datepicker4>
                                <mat-datepicker-actions>
                                    <button mat-button matDatepickerCancel>Cancel</button>
                                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                                </mat-datepicker-actions>
                                </mat-datepicker>
                            </mat-form-field>



                            <mat-form-field appearance = "legacy" style="width:40%">
                                <input #WdeviationRationale matInput placeholder = "Deviation Rationale">
                            </mat-form-field>

                            <div class="cards" style="margin-left: 1%; margin-bottom: 10px;">
                                <h1 style="margin: 0px; font-size:15px">False Positive</h1>
                               
                                <mat-radio-group class="radio-groupFalseP"  appearance = "legacy" aria-label="Select an option">
                                    <mat-radio-button #WfalsePositive color="primary" class="qs"  value="1">Yes</mat-radio-button>
                                    <mat-radio-button #WfalsePositive style="margin-left: 1%" class="qs" value="2">No</mat-radio-button> 
                                    <mat-radio-button #WfalsePositive style="margin-left: 1%" class="qs" value="3">Pending</mat-radio-button> 

                                </mat-radio-group>
                            </div>
                            <mat-form-field appearance = "legacy" style="width:40%">
                                <input #WpointOfContact matInput placeholder = "Point of Contact">
                            </mat-form-field>
                            <mat-form-field appearance = "legacy" style="width:40%">
                                <input #WresourceReq matInput placeholder = "Resources Required">
                            </mat-form-field>
                        
  
                            <mat-form-field appearance="outline" color="primary" style="width: 40%;" >
                                <mat-label>Status</mat-label>
                                <mat-select #Wstatus id="Input">
                                        <mat-option value="Incomplete" >
                                            Incomplete
                                        </mat-option>
                                        <mat-option value="Complete" >
                                            Complete
                                        </mat-option>

                                </mat-select>
                              </mat-form-field>
    

                            <mat-form-field appearance="outline" color="primary" style="width: 40%;" >
                                <mat-label>Asset Identifier</mat-label>
                                <mat-select #WassetID id="Input">
                                    <div *ngFor="let inventoryEntry of assetIdentifiers$ | async">
                                        <mat-option value={{inventoryEntry.IassetIdentifier}} >
                                            {{inventoryEntry.IassetIdentifier}}
                                        </mat-option>
                                    </div>
                           
 
                                </mat-select>
                              </mat-form-field>
    

                            <mat-form-field style="width: 40%;background: transparent;" appearance="fill" class="datepicker datepicker5" id="datepicker5">
                                <mat-label >Last Change</mat-label>
                                <input 
                                #WlastChange  
                                matInput 
                                [matDatepicker]="datepicker5"
                                />
                                <mat-datepicker-toggle matSuffix [for]="datepicker5"></mat-datepicker-toggle>
                                <mat-datepicker #datepicker5>
                                <mat-datepicker-actions>
                                    <button mat-button matDatepickerCancel>Cancel</button>
                                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                                </mat-datepicker-actions>
                                </mat-datepicker>
                            </mat-form-field>

                        </div>
                    </div>
                        
                <div class = "row2">
                    <mat-divider style="padding-top: 3px;"></mat-divider>
    
                    <button mat-raised-button (click)="closeDialog(Nid.value, Wname.value, WdetectionDate.value, WvendorDependency.value, WriskRating.value, WriskAdjustment.value, WadjustedRiskRating.value, WdetectionSource.value, WcompletionDate.value, WremediationPlan.value, WautoApprove.value, WoperationReq.value, Wstatus.value, WassetID.value, WlastChange.value, Wdescription.value, WlastVendorCheck.value, WdeviationRationale.value, WfalsePositive.value, WpointOfContact.value, WresourceReq.value, WsupportingDoc.value )" style="margin-left: 15%;width:20vw;height: 3vh; float: left;" color="primary"  >Submit</button>
                    
                    <button mat-raised-button  (click)="onFormReset();" style="margin-right: 15%;width:20vw;height: 3vh;float: right;" type="reset"  color="primary"  >Reset</button>
                </div>




