


<mat-toolbar  class="tools" style="height: 8vh;">

    <mat-toolbar-row>
        <mat-form-field style="width: 15%; height: 70%; margin-bottom: 10px;">
            <mat-label >Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>

        <button mat-raised-button (click)="openDialog()" style="margin-left: 30%;margin-top: 30px;"> Add Weakness</button>
        <button mat-raised-button (click)="removeSelectedRows()" style="margin-left: 4%; margin-top: 30px;"> Delete Selected</button>
        <button mat-raised-button style="margin-left: 4%;margin-top: 30px;"> Import </button>
        <button mat-raised-button style="margin-left: 4%;margin-top: 30px;"> Export </button>


    </mat-toolbar-row>

</mat-toolbar>




  <table mat-table [dataSource]="dataSource" matSort class="userTable" style="width:100%">

    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
        </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
        </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="desc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
    </ng-container>
  
 

    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="onRowClicked(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


<mat-dialog-content class="dialog" >
</mat-dialog-content>



<button (click)="refresh()">refresh</button>
