div.container1{
    padding: 5px;
    margin-top: 50px;
    margin-left:auto;
    margin-right: auto;
    width:100%;
    box-shadow: 1px 1px 15px -1px ;
    background: linear-gradient(to bottom, rgb(63,81,181) 8%, white 0%);
    overflow: hidden;
    height:700px;

  }
div.milestones{
    margin-top: 2%;
    height:300px;

    overflow:scroll;
}
mat-grid-tile{
    width: 98px;
    margin:auto;
}
mat-form-field{
    margin-left: 1%;
}

.col{
    float:left;
    width: 30%;
    padding:1%;
  
}

.row2{
    width:100%;
    align-items: center;
    clear:both;
    padding-left: 2px;
    padding-right: 2px;
}
.mat-raised-button{
    
    margin-bottom: 15px;
}

.mat-toolbar{
    padding: 0px;
}

:host::ng-deep.mat-dialog-container{
    padding: 0px;
    margin: 0px;
}


:host::ng-deep.cdk-overlay-pane{
    padding: 0px;
    margin: 0px;
}

