


<mat-toolbar  class="tools" style="height: 8vh;">

    <mat-toolbar-row>


        <button mat-raised-button (click)="openDialog()" style="margin-left: 30%;margin-top: 30px;"> Add Weakness</button>
        <button mat-raised-button style="margin-left: 4%;margin-top: 30px;"> Import </button>
        <button mat-raised-button style="margin-left: 4%;margin-top: 30px;"> Export </button>


    </mat-toolbar-row>

</mat-toolbar>


<mat-list>
  <div class="flexContainer">
    <mat-list-item class="headerRow">
      <span>
        ID
      </span>
      <span style="margin-left: 6.5%;">
        Name
      </span>
    </mat-list-item>
  </div>

  <mat-list-item *ngFor="let weakness of weaknesses$ | async">
    <div class="flexContainer">
    <span class="listSpan" style="font-weight: bold;"
      >{{ weakness.Nid }}    </span
    >

    </div>


   <span style="position: absolute; right: 0;">
      <button mat-icon-button>
        <mat-icon
          
          color="primary"
        >
        <!--(click)="update(Nid.value)" -->
          edit
        </mat-icon>
      </button>

  
      <button mat-icon-button>
        <mat-icon (click)="delete(weakness.idOrgWeaknesses)" color="warn">
          delete
        </mat-icon>
      </button>
    </span> 
  </mat-list-item>
</mat-list>


<mat-dialog-content class="dialog" >
</mat-dialog-content>
