<mat-toolbar  class="tools" style="height: 8vh;">

    <mat-toolbar-row>
        <button mat-raised-button (click)="openDialog($event);" style="margin-left: 50%;margin-top: 30px;"> Add Milestones</button>
    </mat-toolbar-row>

</mat-toolbar>


<div id="milestones" class="milestones" style="width:100%">

    
    <mat-list>
      <div class="flexContainer">
        <mat-list-item class="headerRow">
          <span class="spanList idCol">
            ID
          </span>
          <span class="spanList nameCol">
            Description
          </span>
          <span class="spanList nameCol">
            Status
          </span>
          <span class="spanList nameCol">
            Completion Date 
          </span>
          <input class="searchBox" style="margin-left: 127px;" type="text" #searchMilestone id='searchMilestone' (keyup)="filterMilestone()" placeholder="search" />

        </mat-list-item>
      </div>
  
      <mat-list-item *ngFor="let milestone of milestones$ | async">
        <div style="display: flex;" *ngIf="milestone.Milestones.toLowerCase().indexOf(searchMilestone.value)!== -1 || milestone.Mstatus.toLowerCase().indexOf(searchMilestone.value)!== -1">

        <span class="listSpan idCol" style="font-weight: bold;"
          >{{ milestone.idMilestones }}    </span
        >
        <span class="listSpan nameCol" style="font-weight: bold; margin-left: 5%;">
          {{milestone.Milestones}}
        </span>
        <span class="listSpan descCol" style="font-weight: bold; margin-left: 5%;">
          {{milestone.Mstatus}}
        </span>
        <span class="listSpan dateCol" style="font-weight: bold; margin-left: 5%;">
          {{milestone.McompletionDate | date:'M/d/yy,   h:mm a'}}
        </span>
      
    
       <span style="position: absolute; right: 0;">
      
          <button mat-icon-button>
            <mat-icon (click)="delete(milestone.idMilestones)" color="warn">
              delete
            </mat-icon>
          </button>
        </span> 
      </div>
      </mat-list-item>
    </mat-list>
   
    </div>


<mat-dialog-content class="dialog" >
</mat-dialog-content>



