div.milestones{
  //height:270px;
  width:100%;

}

//CSS for LIST
.flexContainer{
    display:flexbox;
}
.listSpan {

    float:1;
}
.headerRow {
    position:relative;
}

.mat-list >  .mat-list-item:nth-child(2n+1){

    background-color:white;
  }
  .mat-list >  .mat-list-item:nth-child(2n){

    background-color:rgb(230, 228, 228);
  }

  .mat-list > .mat-list-item{
    border: 1px solid black;
    justify-content: center;

  }

  
  .idCol{
    width:60px;
    min-width: 60px;
    text-align: left;

  }
  .nameCol{
    margin-left: 5%;
    width:150px;
    min-width: 150px;
    text-align: left;

  }
  .descCol{
    width:150px;
    min-width: 150px;
    text-align: left;
    margin-left: 5%;
  }
  
  .dateCol{
    width:250px;
    min-width: 250px;
    text-align: left;
    margin-left: 5%;
  }

  .dateCol2{
    width:200px;
    min-width: 200px;
    text-align: left;
    margin-left: 5%;
  }
