<div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Previous
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Today
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month"
        >
          Month
        </div>
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week"
        >
          Week
        </div>
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day"
        >
          Day
        </div>
      </div>
    </div>
  </div>
  <br />

  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
  </div>
  
  <!-- Everything you see below is just for the demo, you don't need to include it in your app -->
  
  <br /><br /><br />
  
  <h3>

    <button class="btn btn-primary float-right" (click)="addEvent()">
      Add new
    </button>
    <div class="clearfix"></div>
  </h3>
  
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Primary color</th>
          <th>Secondary color</th>
          <th>Starts at</th>
          <th>Ends at</th>
          <th>Remove</th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let event of displayEvents$; let i = index">
          <td>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="event.title"
              (change)="update(event,i)"
              (keyup)="refresh.next()"
            />

          </td>
          <td>
            <input
              type="color"
              [(ngModel)]="event.colorPrimary"
              (change)="refresh.next();update(event,i)"
              id="colorPrimary"
              value={{event.colorPrimary}}

            />
          </td>
          <td>
            <input
            
              type="color"
              [(ngModel)]="event.colorSecondary"
              value={{event.colorSecondary}}

              (change)="refresh.next();update(event,i)"
            />
          </td>
          <td>
            <div>
          <!-- Date picker for start-->
          <mat-form-field appearance="fill" id="datepicker1" style="width:50%;height:120%;float:left;">
            <mat-label>Choose a date</mat-label>
            <input 
            [(ngModel)]="event.start" 
            matInput 
            [matDatepicker]="datepicker1"
            (ngModelChange)="update(event,i);refresh.next();"
           
            dateFormat="Y-m-dTH:i"
            placeholder="Not set"

            />
            <mat-datepicker-toggle matSuffix [for]="datepicker1"></mat-datepicker-toggle>
            <mat-datepicker #datepicker1>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
              </mat-datepicker-actions>
            </mat-datepicker>
          </mat-form-field>

          <!--Time picker for start-->
          
            <mat-form-field appearance="fill"  class="time-field" id="timepicker1" >
              <mat-label>Choose a time</mat-label>

            <input 
            matInput
            [(ngModel)]="event.timeStart" 

            (ngModelChange)="refresh.next();update(event,i)"
 
            [ngxTimepicker]="toggleTimepickerSTART" 
          
            
            />
            <ngx-material-timepicker-toggle  style="float:right;" [for]="toggleTimepickerSTART"></ngx-material-timepicker-toggle>
            <ngx-material-timepicker #toggleTimepickerSTART ></ngx-material-timepicker>
          </mat-form-field>
          </div>
    
          </td>
          <td>
            <!-- Date Picker for End-->
            <mat-form-field appearance="fill" class="example-form-field">
              <mat-label>Choose a date</mat-label>
              <input 
              [(ngModel)]="event.end" 
              matInput 
              [matDatepicker]="datepicker2"
              (ngModelChange)="refresh.next();update(event,i)"
              dateFormat="Y-m-dTH:i"
              placeholder="Not set"
              />
              <mat-datepicker-toggle matSuffix [for]="datepicker2"></mat-datepicker-toggle>
              <mat-datepicker #datepicker2>
                <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel>Cancel</button>
                  <button mat-raised-button color="primary"  matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
              </mat-datepicker>
            </mat-form-field>


            <!-- Time Picker for End-->

            <div class="toggle-example" style="float:right;">
              <mat-form-field appearance="fill"  class="time-field" id="timepicker2">
                <mat-label>Choose a time</mat-label>

              <input style="width:40%;" 
              matInput
              [(ngModel)]="event.timeEnd" 
              (ngModelChange)="refresh.next();update(event,i)"
              placeholder="12:02 PM"
              [ngxTimepicker]="toggleTimepickerEND" 
       
        
              >
              <ngx-material-timepicker-toggle  style="float:right;" [for]="toggleTimepickerEND"></ngx-material-timepicker-toggle>
              <ngx-material-timepicker #toggleTimepickerEND ></ngx-material-timepicker>
            </mat-form-field>
            </div>





          </td>
          <td>
            <button class="btn btn-danger" (click)="deleteEvent(event)" >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <!--This is the 'dialog' box that shows after clicking a event-->
  <!--
  <ng-template #modalContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Event action occurred</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        Action:
        <pre>{{ modalData?.action }}</pre>
      </div>
      <div>
        Event:
        <pre>{{ modalData?.event | json }}</pre>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="close()">
        OK
      </button>
    </div>
  </ng-template>



  -->
  <button (click)="debugEvent(); ">
    push
  </button>