<div class="row text-center" style="background-color: white;">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Previous
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Today
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month"
        >
          Month
        </div>
        <!--
          //commenting out the other views because the events times do not initialize correctly.
          //This was always an issue with this calendar, its likely fixable, but it doesnt seem worthwhile to spend time on at the moment.
        -->
                  <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week"
        >
          Week
        </div>
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day"
        >
          Day
        </div>
      

      </div>
    </div>
  </div>
  <br />

  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      id="monthView"
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
    
    <mwl-calendar-week-view
      id="weekView"
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"

    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      id="dayView"
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"

    >
    </mwl-calendar-day-view>

  

  </div>
  
  <!-- Everything you see below is just for the demo, you don't need to include it in your app -->
  
  <br />
  <div style="background-color: white;">


  <h3>

    <button class="btn btn-primary float-right" (click)="addEvent()">
      Add new
    </button>
    <div class="clearfix"></div>
  </h3>
  
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th (click)="sort('title')">Title</th>
          <th>Primary color</th>
          <th>Secondary color</th>
          <th (click)="sort('startDate')">Starts at</th>
          <th (click)="sort('endDate')">Ends at</th>
          <th>Additional Information</th> 
          <th>Alerts</th>
          <th>Remove</th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let event of displayEvents$; let i = index; trackBy:trackByFn">
          <td>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="event.title"
              (change)="update(event,i)"
              (keyup)="refresh.next()"
            />
          </td>

          <td>
            <input
              type="color"
              [(ngModel)]="event.color.primary"
              (change)="refresh.next();update(event,i)"
              id="colorPrimary"
            />
          </td>

          <td>
            <input
              type="color"
              [(ngModel)]="event.color.secondary"
              (change)="refresh.next();update(event,i)"
            />
          </td>

          <td>
            <div>

          <!-- Date picker for start-->
          <mat-form-field appearance="fill" class="datepicker dateStart datepicker1" id="datepicker1">
            <mat-label>Choose a date</mat-label>
            <input 
            [(ngModel)]="event.start" 
            matInput 
            [matDatepicker]="datepicker1"
            (change)="update(event,i);refresh.next()"
            dateFormat="Y-m-dTH:i"
            placeholder="Not set"

            />
            <mat-datepicker-toggle matSuffix [for]="datepicker1"></mat-datepicker-toggle>
            <mat-datepicker #datepicker1>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button (click)="update(event,i);refresh.next()" mat-raised-button color="primary" matDatepickerApply>Apply</button>
              </mat-datepicker-actions>
            </mat-datepicker>
          </mat-form-field>

          <!--Time picker for start-->

          <mat-form-field appearance="fill" class="timepicker timeStart timepicker2 time-field">
            <mat-label>Choose a time</mat-label>
            <input 
            matInput
            [(ngModel)]="event.timeStart" 
       
            (ngModelChange)="update(event,i);reloadData()"
            [ngxTimepicker]="toggleTimepickerSTART" 
            />
            <ngx-material-timepicker-toggle  matSuffix [for]="toggleTimepickerSTART"></ngx-material-timepicker-toggle>
            <ngx-material-timepicker #toggleTimepickerSTART ></ngx-material-timepicker>

          </mat-form-field>




          </div>
     
          </td>

          <td>
            <!-- Date Picker for End-->
            <mat-form-field appearance="fill" class="datepicker dateEnd datepicker2 example-form-field">
              <mat-label>Choose a date</mat-label>
              <input 
              [(ngModel)]="event.end" 
              matInput 
              [matDatepicker]="datepicker2"
              (change)="update(event,i);refresh.next();"
              dateFormat="Y-m-dTH:i"
              placeholder="Not set"
              />
              <mat-datepicker-toggle matSuffix [for]="datepicker2"></mat-datepicker-toggle>
              <mat-datepicker #datepicker2>
                <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel>Cancel</button>
                  <button mat-raised-button (click)="update(event,i);refresh.next()" color="primary"  matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
              </mat-datepicker>
            </mat-form-field>


            <!-- Time Picker for End-->
            <mat-form-field appearance="fill" class="timepicker timeEnd timepicker2 time-field">
              <mat-label>Choose a time</mat-label>
              <input
              matInput
              [(ngModel)]="event.timeEnd" 
              (ngModelChange)="update(event,i);reloadData();"
              [ngxTimepicker]="toggleTimepickerEND" 
              >
              <ngx-material-timepicker-toggle matSuffix [for]="toggleTimepickerEND"></ngx-material-timepicker-toggle>
              <ngx-material-timepicker #toggleTimepickerEND ></ngx-material-timepicker>

            </mat-form-field>


        




          </td>

          <td>
            <textarea 
            class="comment"  
            [(ngModel)]="event.comment" 
            (change)="update(event,i);"
            id="comment" 
            style="align-content: left;" rows="2" cols="60"></textarea>

          </td>
          <td>
            <button mat-button placeholder="Menu" [matMenuTriggerFor]="alertMenu">{{event.alert}}</button>
            <mat-menu #alertMenu="matMenu">
              <button #alert (click)="update(event,i,false,'Off');reloadData();" value="Off"  mat-menu-item>Off</button>
              <button #alert (click)="update(event,i,false,'1 Day');reloadData();" mat-menu-item>1 Day</button>
              <button #alert (click)="update(event,i,false,'3 Days');reloadData();" value="3 Days" mat-menu-item>3 Days</button>
              <button #alert (click)="update(event,i,false,'7 Days');reloadData();" value="7 Days" mat-menu-item>7 Days</button>
  
            </mat-menu>
            
          </td>
          <td>
            <button class="btn btn-danger" (click)="deleteEvent(event);" >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


  <!--This is the 'dialog' box that shows after clicking a event-->
  <!--
  <ng-template #modalContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Event action occurred</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        Action:
        <pre>{{ modalData?.action }}</pre>
      </div>
      <div>
        Event:
        <pre>{{ modalData?.event | json }}</pre>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="close()">
        OK
      </button>
    </div>
  </ng-template>



  -->
