div.container1{


    width:100%;
   
    background: linear-gradient(to bottom, rgb(63,81,181) 20%, rgb(255, 255, 255) 0%);
    overflow: hidden;
    height:120%;
      
  }

mat-grid-tile{
    width: 98px;
    margin:auto;
}
mat-form-field{
    margin-left: 1%;
}

.col{
    float:left;
    width: 30%;
    padding:1%;
  
}

.row2{
    width:100%;
    align-items: center;
    clear:both;
    padding-left: 2px;
    padding-right: 2px;
}
.mat-raised-button{
    margin-top: 1%;
    margin-bottom: 15px;
}



//CSS for LIST
.flexContainer{
    display:flexbox;
}
.listSpan {
    position:relative;
    float:1;
}
.headerRow {
    position:relative;
}

.mat-list >  .mat-list-item:nth-child(2n+1){

    background-color:rgb(255, 255, 255);
  }
  .mat-list >  .mat-list-item:nth-child(2n){

    background-color:rgb(230, 228, 228);
  }

  .mat-list > .mat-list-item{
    border: 1px solid black;
    justify-content: center;

  }